{% extends "base.html" %}
{% block js %}
<script type="text/javascript"> 
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
var data = '<table width="100%"><tr><th>用户名</th><th>通过条数</th><th>拒绝条数</th><th>排名</th>'+
	'<th>活动主题</th><th>活动链接</th><th>推荐理由</th><th>提交时间</th><th>处理状态</th>'+
	'<th>操作</th></tr>[data]<tr><td>{username}</td><td>{acc_num}</td><td>{rej_num}</td>'+
	'<td>{rank}</td><td>{title}</td><td>{url}</td><td>{reason}</td>'+
	'<td>{time_sub}</td><td>{state}</td>'+
	'<td id="item_{id}"><a class="fyin" onclick="pass({id})">返现'+
	'</a> │ <a class="jion-s" onclick="refuse({id})">拒绝</a></td></tr>[/data]</table>';
var data2 = '<table width="100%"><tr><th>用户名</th><th>通过条数</th><th>拒绝条数</th><th>排名</th>'+
	'<th>活动主题</th><th>活动链接</th><th>推荐理由</th><th>提交时间</th><th>处理状态</th>'+
	'<th>操作人</th><th>操作时间</th><th width="6%">奖励金额</th><th width="6%">奖励积分</th>'+
	'</tr>[data]<tr><td>{username}</td><td>{acc_num}</td><td>{rej_num}</td>'+
	'<td>{rank}</td><td>{title}</td><td>{url}</td><td>{reason}</td>'+
	'<td>{time_sub}</td><td>{state}</td><td>{admin}</td><td>{time_admin}</td>'+
	'<td>{amount}</td><td>{score}</td></tr>[/data]</table>';
var url = "{% url 'get_admin_recommend_return_page' %}" + "?page={page}&size={pageSize}";
function pass(id){
	$(".BackNow").css("display","block");
	$("input#ret_event_id").val(id);
}
function refuse(id){
	$(".Audit").css("display","block");
	$("input#refuse_event_id").val(id);
}
$(document).ready(function(){
	$("li.home6").toggleClass("on");
	$(".Tin-table tr:even").css("background-color","#fcfcfc");
	$("#pagedata").ajaxPage({
	    url:url+"&state=1", 
	    pageId:$("#page"),
	    pageSize:10,
	    run:true,
	    content:data,
	});
	$(".none-x").click(function(){
		$(this).parent().parent().css("display","none");<!--隐藏-->
	})
	$('.Finnow input[type="submit"]').click(function(){
		id = $("input#ret_event_id").val();
		cash = $("input#add_cash").val();
		score = $("input#add_score").val();
		if (!id || !cash || !score){
			return;
		}
		$.ajax({
			url:"{%url 'admin_recommend_return' %}",
			dataType:"json",
			type:"POST",
			data:{
				'id':id,
				'cash':cash,
				'score':score,
				'type':1,
			},
			success:function(ret){
				if(ret.code==0){
					$("#item_"+id).html("审核完成，通过");
				}
				else if(ret.code==-1){
					alert("该页面已过期，请重新登录！");
					window.location.href = ret.url;
				}
				else {
					alert(ret.res_msg);
				}
			},
			error:function(){
				alert("请检查网络连接");
			}
		});
		$(".BackNow").css("display","none");
	});
	$('.Audit-in input[type="submit"]').click(function(){
		id = $("input#refuse_event_id").val();
		reason = $("#refuse_reason").val();
		if (!id || !reason){
			return;
		}
		$.ajax({
			url:"{%url 'admin_recommend_return' %}",
			dataType:"json",
			type:"POST",
			data:{
				'id':id,
				'reason':reason,
				'type':2,
			},
			success:function(ret){
				if(ret.code==0){
					$("#item_"+id).html("审核完成，拒绝");
				}
				else if(ret.code==-1){
					alert("该页面已过期，请重新登录！");
					window.location.href = ret.url;
				}
				else {
					alert(ret.res_msg);
				}
			},
			error:function(){
				alert("请检查网络连接");
			}
		});
		$(".Audit").css("display","none");
	});
	$("#search").click(function(){
		startTime = $("#startTime").val();
		endTime = $("#endTime").val();
		newurl = url;
		if(startTime && endTime){
			newurl += "&startTime="+startTime;
			newurl += "&endTime="+endTime;
		}
		startTime2 = $("#startTime2").val();
		endTime2 = $("#endTime2").val();
		if(startTime2 && endTime2){
			newurl += "&startTime2="+startTime2;
			newurl += "&endTime2="+endTime2;
		}
		username = $("#username").val();
		mobile = $("#mobile").val();
		if(username){
			newurl += "&username="+username;
		}
		if(mobile){
			newurl += "&mobile="+mobile;
		}
		adminname = $("#adminname").val();
		state = $("#state").val();
//		projecttype = $("#projecttype").val();
		if(adminname){
			newurl += "&adminname="+adminname;
		}
		if(state){
			newurl += "&state="+state;
		}
//		if(projecttype){
//			newurl += "&projecttype="+projecttype;
//		}
		var newdata = data;
		if(state!='1'){
			newdata = data2;
		}
		$("#page").empty();
		$("#pagedata").ajaxPage({
		    url:newurl, 
		    pageId:$("#page"),
		    pageSize:10,
		    run:true,
		    content:newdata,
		});
	});
});
</script>     
{% endblock js %}
{% block right %}
<div class="Criteria">
                        	<span>搜索条件</span>
                            <div class="Crite-box">
                            	<form>
                                	<table width="100%">
                                    	<tr>
                                        	<td>
                                            	<i>申请开始时间：</i>
                                                <input id="startTime" type="datetime-local" />
                                            </td>
                                        	<td>
                                            	<i>申请结束时间：</i>
                                                <input id="endTime" type="datetime-local" />
                                            </td>
                                        	<td>
                                            	<i>操作开始时间：</i>
                                                <input id="startTime2" type="datetime-local" />
                                            </td>
                                        	<td>
                                            	<i>操作结束时间：</i>
                                                <input id="endTime2" type="datetime-local" />
                                            </td>
                                        </tr>
                                    	<tr>
                                        	<td>
                                            	<i>用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</i>
                                                <input id="username" type="text" />
                                            </td>
                                        	<td>
                                            	<i style="letter-spacing:2px;">用户手机号：</i>
                                                <input id="mobile" type="text" />
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>
                                            	<i>处&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人：</i>
                                                <input id="adminname" type="text" />
                                            </td>
                                        	<td>
                                            	<i style="letter-spacing:4.8px;">处理状态：</i>
                                                <select name="selectAge" id="state">   
											        <option value="1">未审核</option>   
											        <option value="0">审核通过</option>   
											        <option value="2">审核拒绝</option>
											    </select>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="Submit-in">
                                    	<input id="search" type="button" value="搜索" />
                                        <input id="export" type="button" value="导出" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="Tin-table">
                        	<div id="pagedata">
							</div>
		                    <div class="Page-in-admin">
		                    	<div class="page"  id="page">
		                        </div>
		                    </div> 
                        </div>
{%endblock%}

	{% block modal %}
    <div class="BackNow">
    	<div class="w570-box">
        	<h3>返现操作</h3>
            <button class="none-x"></button>
            <form class="Finnow">
            	<input id="ret_event_id" type="hidden" />
            	<span>添加现金：</span>
                <input id="add_cash" type="text" />
                <span>添加积分：</span>
                <input id="add_score" type="text" />
                <div class="Finnow-Sub">
                <input type="submit" value="确认" onclick="return false;"/>
                <input type="button" value="取消" class="none-x-s" />
                </div>
            </form>
        </div>
    </div>
    <!--审核拒绝-->
    <div class="Audit">
    	<div class="w570-box">
        	<h3>审核拒绝</h3>
            <button class="none-x"></button>
            <form class="Audit-in">
            	<span>填写拒绝原因：</span>
            	<input id="refuse_event_id" type="hidden" />
                <textarea id="refuse_reason"></textarea>
                <div class="Finnow-Sub">
                <input type="submit" value="确认" class="Deny-box" onclick="return false;"/>
                <input type="button" value="取消" class="none-x-s" />
                </div>
            </form>
        </div>
    </div>
    <!--end-->
	{% endblock modal %}  