{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}挖福利{% endblock title %}</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'wafuli_admin/css/style-i.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
    {% block css %}

    {% endblock css %}
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
    {% block js %}

    {% endblock js %}
</head>

<body>
	<!--Top-->
	<div class="Top">
    	<img src="{%static 'wafuli_admin/images/logo.png'%}" class="fl" />
        <div class="Name-info">
        	<div class="Head-img"><img src="{%static 'wafuli_admin/images/head.png'%}" /></div>
            <div class="Name"><span>ADMIN</span></div>
            <div class="Name-link">
            	<a href="{%url 'admin_index'%}">首页</a>    <a href="#">设置</a>    <a href="#">帮助</a>
				<a href="{%url 'admin:logout'%}" class="Signout">【退出】</a>
            </div>
        </div>
    </div>
	<!--Content-->
	<div class="Content">
    	<table width="100%">
        	<tr>
            	<td width="13%" class="Td-ing1" valign="top">
                	<div class="LeftNav-in">
                    	<ul>
                        	<li class="home1"><a href="{%url 'admin_index'%}">首页</a></li>
                        	<li class="home2"><a href="{%url 'admin_user'%}">用户管理</a></li>
                        	<li class="home3"><a href="{%url 'admin_withdraw'%}">提现管理</a></li>
                        	<li class="home4"><a href="{%url 'admin_finance'%}">理财福利</a></li>
                            <li class="home12"><a href="{%url 'admin_task'%}">体验管理</a></li>
                            <li class="home5"><a href="{%url 'admin_score'%}">积分管理</a></li>
                            <li class="home6"><a href="{%url 'admin_recommend_return'%}">推荐管理</a></li>
                            <li class="home8"><a href="#">操作日志</a></li>
                            <li class="home9"><a href="{%url 'deliver_coupon'%}">优惠券发放</a></li>
                            <li class="home10"><a href="{%url 'admin_coupon'%}">优惠券审核</a></li>
                            <li class="home11"><a href="{%url 'admin_charge'%}">记账查询</a></li>
                            <li class="home13"><a href="{%url 'admin_investrecord'%}">投资记录</a></li>
                        </ul>
                    </div>
                </td>
            	<td width="85%" style="padding-left:2%" valign="top">
                	<div class="Right-box">
						{% block right %}

						{% endblock right %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
	{% block modal %}

	{% endblock modal %}
    <!--Bottom-->
	<div class="Bottom">
    	<p>©2016 挖福利管理系统     版权所有 </p>
    </div>

</body>
</html>
