<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/password.css"/>
		<link href="../css/style.css" rel="stylesheet" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">密码修改</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label><span class="mui-icon mui-icon-locked"></span></label>
					<input id='account' type="text" class=" mui-input" placeholder="请输入现在的密码">
				</div>
				<div class="mui-input-row">
					<label><span style="color: #008FD7;font-weight: bold;" class="mui-icon mui-icon-locked"></span></label>
					<input id='password' type="password" class="mui-input" placeholder="请输入新的密码">
				</div>
				<div class="mui-input-row">
					<label><span style="color: #008FD7;font-weight: bold;" class="mui-icon mui-icon-locked"></span></label>
					<input id='password_confirm' type="password" class="mui-input" placeholder="请再次确认新的密码">
				</div>
				
			</form>
			<div class="mui-content-padded">
				<button id='reg' class="mui-btn mui-btn-block mui-btn-primary">确定</button>
			</div>
			
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script>
			(function($, doc) {
				$.init();
				$.plusReady(function() {
					var settings = app.getSettings();
					var regButton = doc.getElementById('reg');
					var accountBox = doc.getElementById('account');
					var passwordBox = doc.getElementById('password');
					var passwordConfirmBox = doc.getElementById('password_confirm');
					var emailBox = doc.getElementById('email');
					regButton.addEventListener('tap', function(event) {
						var regInfo = {
							account: accountBox.value,
							password: passwordBox.value,
							email: emailBox.value
						};
						var passwordConfirm = passwordConfirmBox.value;
						if (passwordConfirm != regInfo.password) {
							plus.nativeUI.toast('密码两次输入不一致');
							return;
						}
						app.reg(regInfo, function(err) {
							if (err) {
								plus.nativeUI.toast(err);
								return;
							}
							plus.nativeUI.toast('注册成功');
							$.openWindow({
								url: 'login.html',
								id: 'login',
								show: {
									aniShow: 'pop-in'
								}
							});
						});
					});
				});
			}(mui, document));
		</script>
		<!--弹窗部分-->
		<script type="text/javascript" charset="utf-8">
		      	mui.init({
					swipeBack:true //启用右滑关闭功能
				});
					document.getElementById("reg").addEventListener('tap', function() {
						mui.alert('您输入的初始密码错误，请重新输入！', '抱歉', function() {
						});
					});
		</script>
	</body>

</html>