
/*header {
		background-color: #fff;
		padding: 0 1.875% 0;
		padding-bottom: 0.6rem;
		box-shadow: 0 1px 3px #e4e4e4;
}
header img {
	width: 60%;
	margin-top: 2rem;
}
header a {
	display: block;
	color: #8f8f8f;
	margin-top: 3.6rem;
	font-size: 1rem;
}*/
.mui-content {
	margin-top: 44px;
}
/*内容部分*/
.container {
	width: 100%;
	padding: 0 1.875% 0;
	margin-top: 0.7rem;
	background: #fff;
}
.container .tittle {
	/*height: 3rem;*/
	border-bottom: 1px solid #e4e4e4;
}
.container .tittle h3 {
	padding-top: 2px;
	width: 22%;
	font-size: 1.4rem;
	color: #008fd7;
	line-height: 2.6rem;
	border-bottom: 2px solid #008fd7;
} 

.container ul {
	/*margin-top: 1rem;*/
}
.container ul li {
	padding: 1rem 0;
	border-bottom: 1px solid #ececec;
}
.container ul li>a {
	display: block;
}
.container ul li a {
	display: block;
}
.container li img {
	display: block;
	float: left;
	width: 40%;
	margin-right: 4%;
}
.container .con-info {
	position: relative;
	float: left;
	width: 55.5%;
}
.con-info h6 {
	width: 100%;
	line-height: 2rem;
	font-size: 1.2rem;
	color: #222;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.con-info p {
	font-size: 1.2rem;
	line-height: 1.6rem;
}
.con-info .c-money {
	display: inline-block;
}
.c-money strong {
	font-size: 2rem;
	line-height: 3rem;
	font-weight: bold;
	color: #f08519;
	word-spacing: -1rem;
	/*margin-right: 0.4rem;*/
}
.c-money s {
	font-size: 1rem;
	color: #dedede;
}
.c-money a {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	font-size: 1rem;
	display: inline-block;
	width: 7rem;
	padding:0.6rem 0rem;
}
/*底部导航部分*/
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 1000;
	border-top: 1px solid #e4e4e4;
}
footer li {
	width: 25%;
	float: left;
}
footer li img {
	width: 2.8rem;
	height: auto;
}
footer li span {
	display: block;
	font-size: 1.2rem;
	color: #4d4d4d;
	margin-bottom: 3px;
	margin-top: -3px;
}
footer li.on span {
	color: #f08519;
}