
body, html { font-size: 100%; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

a{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */

a{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */

a:focus { -moz-outline-style: none; } /* IE不支持 */

a:focus,a:hover,img:hover { outline: none; } /*很多网站都会加的属性*/





/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: #d94839;
	padding: 3em;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
	max-width: 69em;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}

/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	color: #e74c3c;
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

button {
	border: none;
padding: 9px 10px 20px 10px;
background: #8C8C8C;
color: #fff;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
border-radius: 2px;
}

button:hover {
	background: #EA7A07;
	outline:none;
}

.md-input{width: 295px;
height: 35px;
border: 1px solid rgb(204, 204, 204);
border-radius: 5px;
margin-left: 15px;
padding-left: 10px;}
.md-idv{font-size: 16px;
text-align: right;
width: 485px;
margin-bottom: 1.5rem;
font-size:16px;
color: #8B8B8B;}
.iu-btn{display: block;
margin: -30px auto 0px 370px !important;
position: absolute;
font-size: 15px !important;
font-weight: 300;
border: medium none;
padding: 3px 25px;
background: rgb(240, 134, 25) none repeat scroll 0% 0%;
color: rgb(255, 255, 255);
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
border-radius: 20px;}