.mui-content {
	margin-top: 44px;
	background: #fff;
}
.mui-content .top {
	padding: 0 0 1rem 2rem;
}
.mui-content .top p {
	padding: 2rem 0 1rem;
	font-size: 2rem;
	color: #333;
}
.top p span {
	font-weight: bold;
	color: #f08519;
}
.mui-content .top a {
	display: block;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #a5a5a5;
}
/*列表样式部分*/
.mui-table-view-cell {
	padding: 1rem 0 1rem 1.2rem;
}

.mui-table-view-cell img {
	float: left;
	margin-right: 6.5%;
	width: 44% !important;
}
.mui-table-view-cell .li-info {
	width: 49.5%;
	float: left;
	height: auto;
}
.li-info h6 {
	line-height: 2rem;
	font-size: 1.2rem;
	color: #222;
}
.li-info p {
	margin-top: 1rem;
}
.li-info .btn {
	margin-top: 1rem;
}
.li-info .btn button {
	padding: 0.3rem 0.2rem;
	font-size: 1rem;
	width: 6.4rem;
	margin-right: 0.4rem;
}

<li class="mui-table-view-cell">
	<a class="clearfix" href="#">
    	<img src="images/tab-li-img-01.jpg" />
        <div class="li-info">
        	<h6>积木盒子免费送加息券</h6>
            <p>9000积分</p>
            <div class="btn">
            	<button type="button" class="mui-btn mui-btn-purple">查看商品详情</button>
            	<button type="button" class="mui-btn mui-btn-purple">立即兑换</button>
            </div>
            
        </div>
    </a>
</li>