body {
	background: #fff;
}

/*图标部分*/
.icon {
	width: 100%;
	text-align: center;
	padding-top: 2rem;
}
.icon>div {
	margin: 0 auto;
	width: 9rem;
	height: 9rem;
	background: url(../images/bg-manage-01.png) center center no-repeat;
	background-size: 50%;
	background-color: #00d6b3;
	border-radius: 50%;
}

.li-cai .icon>div {
	margin: 0 auto;
	width: 9rem;
	height: 9rem;
	background: url(../images/bg-manage-02.png) center center no-repeat;
	background-size: 50%;
	background-color: #52c5ff;
	border-radius: 50%;
}
.icon h4 {
	font-size: 1.4rem;
	margin-top: 1rem;
	line-height: 2rem;
	color: #333333;
}
.icon p {
	font-size: 1rem;
}
.icon p span {
	font-size: 1.2rem;
	color: #ff6767;
	font-weight: bold;
}
/*列表部分*/
.list-box {
	margin-top: 2rem;
}
.list {
	border-bottom: 1px solid #e4e4e4;
}
li.list span {
	float: left;
	text-align: center;
	font-size: 1rem;
	line-height: 4rem;
}
li .li-01 {width: 30%;}
li .li-02 {width: 25%;}
li .li-03 {width: 25%;}
li .li-04 {width: 20%;}
.li-01 b {
	display: inline-block;
	line-height: 1.2;
	vertical-align: middle;
}
li.head {
	background-color: #00d6b3;
	border-radius: 0 0 0.8rem 0.8rem;
}
li.head-02 {
	background-color: #52c5ff;
	border-radius: 0 0 0.8rem 0.8rem;
}
li.head span,
li.head-02 span {
	color: #fff;
}
/*样式覆盖*/


.mui-pull-bottom-wrapper {
	padding: 1rem 0;
	text-align: center;
}
