.mui-content {
	background: #fff;
}
.area {
	margin: 20px auto 0px auto;
}
.mui-input-group:first-child {
	margin-top: 20px;
}
.mui-input-group label {
	width: 22%;
}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}
.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}
.mui-content-padded {
	margin-top: 25px;
}
.mui-btn {
	padding: 10px;
}
#change_password{
	padding: 0;
	width: 60%;
	height: 3.4rem;
	margin-top: 2rem;
	margin-left: 20%;
	font-size: 1.2rem;
}
/*图标替换*/

.mui-icon:before {
	/*content: "";*/
}
label {
	display: none;
}
.mui-input-row input {
	text-align: center;
}
.mui-input-group {
	width: 64%;
	margin-left: 18%;
}
