.mui-content {
	padding-bottom: 0.8rem;
	overflow: hidden;
}
.mui-content .top {
	position: relative;
	padding: 2rem 0 0rem;
	width: 100%;
	height: 13rem;
	background-color: #52c5ff;
}
.person-bg {
	margin-top: -1px;
	background-color: #fff;
}
.top .diannao {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding-left: 1.6rem;
	margin-top: 0;
	display: block;
	font-size: 2rem;
	z-index: 2;
}
.top img {
	display: block;
	width: 22%;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 50%;
}
.top a {
	display: block;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 1.4rem;
	color: #fff;
}
.top number {
	padding-right: 0.6rem;
	z-index: 20;
}
.qiandao {
	display: block;
	width: 11rem;
	height: 3rem;
	margin: 1.4rem auto 0;
	border-radius: 1.5rem;
	color: #a0a0a0;
}
.qiandao:enabled:active,
.qiandao.mui-active:enabled {
	color: #a0a0a0;
	background-color: #fff;
	transform: scale(1.2);
}
.add-jifen {
	display: none;
	width: 100%;
	position: absolute;
	top: 13rem;
	font-size: 2rem;
	text-align: center;
	color: #f08519;
	z-index: 100;
	opacity: 0;
	animation: add 0.8s ease-in;
}
@-webkit-keyframes add {
     0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
     }
     100% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        opacity: 0;
     }
}
.row-middle {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: #fff;
	box-shadow: 0 2px 2px #e4e4e4;
}
.row-middle li a {
	text-align: center;
	font-size: 1rem;
	color: #a5a5a5 !important;
}
.mui-row.row-middle .mui-table-view-cell>a:not(.mui-btn):active {
	background-color: #fff;
}
.row-middle li a span {
	color: #ff6767;
	font-size: 1.6rem;
	font-weight: bold;
}
.row-bottom .user-msg:before {
	content: "";
	position: absolute;
	top: 6px;
	right: 32px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: #fb3456;
}
.row-bottom {
	margin-top: 1rem;
	background: #fff;
	box-shadow: 0 1px 3px #e4e4e4;
}
.row-bottom:before {
	background-color: transparent;
}
.row-bottom li a {
	color: #222 !important;
}
.mui-table-view-cell>a:not(.mui-btn) {
	display: block;
	padding: 16px;
}
.mui-table-view-cell:after {
	height: 0;
}
.icon-url i{
	display: block;
	color: #7a7d82;
	font-size: 2.8rem;
	text-align: center;
}
.icon-url p {
	margin-top: 0.8rem;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1;
	color: #8f8f8f;
}
.icon-11 {
	font-weight: bold;
}
/*底部导航部分*/
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 1000;
	border-top: 1px solid #e4e4e4;
}
footer li {
	width: 25%;
	float: left;
	position: relative;
}
footer .iconfont {
	font-size: 2.4rem;
	line-height: 3rem;
	color: #8f8f8f;
}
footer li:first-child .iconfont {
	position: relative;
	font-size: 2.2rem;
	top: 0.2rem;
}
footer li:last-child .iconfont {
	position: relative;
	top: 0.2rem;
	font-size: 2.8rem;
}
.on .iconfont {
	color: #f08519;
}
footer li span {
	display: block;
	font-size: 1rem;
	color: #4d4d4d;
	margin-bottom: 3px;
	margin-top: 3px;
}
footer li.on span {
	color: #f08519;
}
.msg:after {
	content: "";
	position: absolute;
	top: 2px;
	right: 20%;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: #fb3456;
}
