
.mui-content .top {
	position: relative;
	padding: 2rem 0;
	width: 100%;
	/*height: 10rem;*/
	background: url(../images/bg-user.png);
	background-size: auto 100%;
}
.top .diannao {
	position: absolute;
	top: 0.6rem;
	right: 0.4rem;
	padding-left: 1.6rem;
	margin-top: 0;
	display: block;
	font-size: 1rem;
	/*background: url(../images/diannao.png) left center no-repeat;
	background-size: 1.2rem auto;*/
}
.top img {
	display: block;
	width: 20%;
	margin: 0 auto;
}
.top a {
	display: block;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 1rem;
	color: #fff;
}
.top number {
	padding-right: 2rem;
	background: url(../images/pen.png) right center no-repeat;
	background-size: 1.4rem auto;
}

.mui-row {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: #fff;
	box-shadow: 0 1px 3px #e4e4e4;
	/*margin-bottom: 1rem;*/
}
.mui-row li {
	list-style: none;
	position: relative;
}
.mui-row li a {
	text-align: center;
	font-size: 1rem;
	color: #a5a5a5 !important;
}
.mui-row li a span {
	color: #ff6767;
	font-size: 1.6rem;
	font-weight: bold;
}
.mui-row li:not(.first):after {
	position: absolute;
	left: 0px;
	top: -0.4rem;
	width: 1px;
	height: 7rem;
	display: inline-block;
	/*background: red;*/
/*	border-left: 1px solid #e4e4e4;*/
}
.mui-table-view {
	margin-top: 1rem;
	box-shadow: 0 1px 3px #e4e4e4;
}
.mui-table-view:before {
	background-color: transparent;
}
.mui-table-view li {
	position: relative;
}
.mui-table-view li a {
	color: #222 !important;
}
.mui-table-view li span {
	font-size: 14px;
	position: absolute;
	right: 32px;
	top: 13px;
}
.mui-table-view .icon-02 {
	padding-left: 5rem !important;
	background: url(../images/sin-picon-03.jpg) 2rem center no-repeat;
	background-size: 24px auto;
}
.mui-table-view .icon-03 {
	padding-left: 5rem !important;
	background: url(../images/sin-picon-02.png) 2rem center no-repeat;
	background-size: 24px auto;
}
.mui-table-view .icon-04 {
	padding-left: 5rem !important;
	background: url(../images/sin-picon-04.jpg) 2rem center no-repeat;
	background-size: 24px auto;
}
.mui-table-view .icon-05 {
	padding-left: 5rem !important;
	background: url(../images/sin-picon-05.jpg) 2rem center no-repeat;
	background-size: 24px auto;
}
.mui-table-view .icon-06 {
	padding-left: 5rem !important;
	background: url(../images/sin-picon-06.jpg) 2rem center no-repeat;
	background-size: 24px auto;
}
.mui-table-view .icon-07 {
	padding-left: 5rem !important;
	background: url(../images/sin-picon-07.png) 2rem center no-repeat;
	background-size: 22px auto;
}

/*底部导航部分*/
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 1000;
	border-top: 1px solid #e4e4e4;
}
footer li {
	width: 25%;
	float: left;
}
footer li img {
	width: 2.8rem;
	height: auto;
}
footer li span {
	display: block;
	font-size: 1rem;
	color: #4d4d4d;
	margin-bottom: 3px;
	margin-top: -3px;
}
footer li.on span {
	color: #f08519;
}
/*样式覆盖*/
.mui-table-view-cell {
	padding: 14px 15px;
}
.mui-row .mui-table-view-cell>a:not(.mui-btn):active {
	background: none;
}
.mui-content {
	margin-bottom: 8rem;
}
