
.mui-content {
	/*background: #fff;*/
	/*padding-bottom: 2rem;*/
}
.mui-content .top {
	padding: 2rem 0;
	width: 100%;
	/*height: 10rem;*/
	background: url(../images/bg-user.png);
	background-size: auto 100%;
	box-shadow: 0 1px 3px #e4e4e4;
}
.top img {
	display: block;
	width: 20%;
	margin: 0 auto;
}
.top a {
	display: block;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 1rem;
	color: #fff;
}

.mui-table-view {
	margin-top: 1rem;
	box-shadow: 0 1px 3px #e4e4e4;
}
.mui-table-view li {
	position: relative;
}
.mui-table-view-cell a {
	color: #222 !important;
}
.mui-table-view-cell a span {
	color: #bbb;
}
.mui-table-view li span {
	font-size: 14px;
	position: absolute;
	right: 32px;
	top: 15px;
}
.mui-content button {
	padding: 0;
	width: 60%;
	height: 3.4rem;
	margin-top: 2rem;
	margin-left: 20%;
	font-size: 1.2rem;
}
/*样式覆盖*/
.mui-table-view:before {
	height: 0;
}
.mui-table-view-cell {
	padding: 14px 15px;
}
