
.mui-content {
	margin-top: 44px;
	/*background: #fff;*/
}
.mui-content .top {
	padding: 0 0 1rem 15px;
	background: #fff;
}
.mui-content .top .mui-navigate-right {
	/*padding: 2rem 0 1rem;*/
	font-size: 1.4rem;
	color: #333;
}
.top .mui-navigate-right span {
	font-weight: bold;
	color: #f08519;
}
.mui-content .top a {
	display: block;
	font-size: 1.2rem;
	line-height: 2.4rem;
	color: #a5a5a5;
}
/*列表样式部分*/
.mui-table-view-cell {
	/*padding: 1rem 0 1rem 1.2rem;*/
}
.box {
	background: #fff;
}
/*抽奖弹出提示部分*/
.popup {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background:  rgba(0,0,0,0.5);
	z-index: 1000;

}
.popup .popup-box {
	position: relative;
	width: 90% !important;
	/*height: 40rem;*/
	padding: 10% 0;
	margin-top: 20%;
	margin-left: 5%;
	border-radius: 8px;
	background: #fff;
}
.pop-content h2 {
	font-size: 2rem;
	color: #333;
	text-align: center;
}
.pop-content p {
	width: 80%;
	font-size: 1.4rem;
	text-align: center;
	margin: 3rem auto;
/*	line-height: 6rem;*/
}
.pop-content button {
	width: 32%;
	margin-left: 12%;
}
.only-btn button {
	width: 40%;
	margin-left: 30%;
}
.popup-box span {
	position: absolute;
	left: 0.4rem;
	top: 0.4rem;
	font-size: 3rem;
}

/*样式替换*/
.mui-table-view:before {
	height: 0;
}
.card {
	width: 44%;
	height: 18.4rem;
	float: left;
	margin-left: 4%;
	margin-bottom: 4%;
	box-shadow: 0 1px 5px #ccc;
	list-style: none;
}
.card img {
	width: 100%;
  max-height: 12rem;
}
.text {
	padding: 0.8rem 0.5rem 0;
}
.text h3 {
	font-size: 1.4rem;
	color: #333;
	margin-bottom: 1rem;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.text div span {
	float: left;
	color: #ff6767;
	font-size: 1rem;
	line-height: 2rem;
}
.text div button {
	float: right;
	padding: 0 1rem;
	font-size: 1rem;
	height: 2rem;
}
