.mui-content {
	padding-bottom: 5rem;
}
.mui-content .top {
	position: relative;
	padding: 2rem 0;
	width: 100%;
	background: url(../images/bg-user.png);
	background-size: auto 100%;
}
.top .diannao {
	position: absolute;
	top: 0.6rem;
	right: 0.4rem;
	padding-left: 1.6rem;
	margin-top: 0;
	display: block;
	font-size: 1rem;
}
.top img {
	display: block;
	width: 20%;
	margin: 0 auto;
}
.top a {
	display: block;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 1rem;
	color: #fff;
}
.top number {
	padding-right: 0.6rem;
}

.mui-row {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: #fff;
	box-shadow: 0 1px 3px #e4e4e4;
}
.mui-row li {
	list-style: none;
	position: relative;
}
.mui-row li a {
	text-align: center;
	font-size: 1rem;
	color: #a5a5a5 !important;
}
.mui-row li a span {
	color: #ff6767;
	font-size: 1.6rem;
	font-weight: bold;
}
.mui-table-view .user-msg:before {
	content: "";
	position: absolute;
	top: 22px;
	right: 36px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: #fb3456;
}
.mui-row li:not(.first):after {
	position: absolute;
	left: 0px;
	top: -0.4rem;
	width: 1px;
	height: 7rem;
	display: inline-block;
}
.mui-table-view {
	margin-top: 1rem;
	box-shadow: 0 1px 3px #e4e4e4;
}
.mui-table-view:before {
	background-color: transparent;
}
.mui-table-view li {
	position: relative;
}
.mui-table-view li a {
	color: #222 !important;
	padding-left: 50px !important;
}
.icon-qiandai:before,
.icon-jifen:before,
.icon-iconfontfuli:before,
.icon-youhuiquan:before,
.icon-fuligonglve:before,
.icon-yaoqing:before,
.icon-hongbao:before,
.icon-gonggao:before,
.icon-shuji:before {
 	font-family: wafuli-iconfont;
 	position: absolute;
 	left: 20px;
 	top: 12px;
	margin-right: 0.2rem;
	font-size: 21px;
	color: #f08519;
	-webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-qiandai:before {
 	content: "\e632";
}
.icon-jifen:before {
 	content: "\e60c";
}
.icon-iconfontfuli:before {
 	content: "\e651";
}
.icon-youhuiquan:before {
 	content: "\e611";
}
.icon-fuligonglve:before {
 	content: "\e630";
 	top: 11px;
 	font-size: 23px;
}
.icon-yaoqing:before {
 	content: "\e664";
 	top: 11px;
}
.icon-hongbao:before {
 	content: "\e60e";
 	font-weight: 600;
}
.icon-gonggao:before {
 	content: "\e61b";
}
.icon-shuji:before {
 	content: "\e615";
 	font-weight: bold;
}
/*底部导航部分*/
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 1000;
	border-top: 1px solid #e4e4e4;
}
footer li {
	width: 25%;
	float: left;
	position: relative;
}
footer .iconfont {
	font-size: 2.4rem;
	line-height: 3rem;
	color: #8f8f8f;
}
footer li:first-child .iconfont {
	position: relative;
	font-size: 2.2rem;
	top: 0.2rem;
}
footer li:last-child .iconfont {
	position: relative;
	top: 0.2rem;
	font-size: 2.8rem;
}
.on .iconfont {
	color: #f08519;
}
footer li span {
	display: block;
	font-size: 1rem;
	color: #4d4d4d;
	margin-bottom: 3px;
	margin-top: 3px;
}
footer li.on span {
	color: #f08519;
}
.msg:after {
	content: "";
	position: absolute;
	top: 2px;
	right: 32%;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: #fb3456;
}
/*样式覆盖*/
.mui-table-view-cell {
	padding: 14px 15px;
}
.mui-row .mui-table-view-cell>a:not(.mui-btn):active {
	background: none;
}
.mui-content {
	margin-bottom: 8rem;
}

