body {
	font-family: 'Lato', Arial, sans-serif;
	background: #add8df;
	color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	font-weight: 300;
	padding-top: 10rem;
	background: url(../images/make-money-bg.png) center center no-repeat;
}
.mui-content {
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.codrops-top {
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.7em;
	line-height: 2.2;
	font-weight: 700;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.related {
	text-align: center;
	font-size: 1.6em;
	padding: 2em 0;
}

.related a {
	display: block;
	max-width: 200px;
	margin: 0 auto;
}

.related a span {
	display: block;
	font-size: 0.5em;
	font.weight: 300;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

.elasticstack {
	position: relative;
	margin: 0 auto;
	padding-top: 0;
	width: 96%;
	height: 28rem;
	list-style: none;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% 150%;
	perspective: 1000px;
	perspective-origin: 50% 150%;
	/*background-color: #add8df;*/
}

.no-js .elasticstack {
	/*max-width: 1090px;*/
	width: 100%;
	height: auto;
	text-align: center;
}

.elasticstack li {
	position: absolute;
	z-index: 1;
	/*width: 340px;*/
	width: 100%;
	/*height: 380px;*/
	border-width: 6px 6px;
	border-radius: 4px;
	border-style: solid;
	border-color: #fff;
	box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(0,0,-180px);
	transform: translate3d(0,0,-180px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.no-js .elasticstack li {
	position: relative;
	display: inline-block;
	opacity: 1;
	margin: 10px;
	cursor: default;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.elasticstack li img {
	border-radius: 4px;
	display: block;
	width: 100%;
}

.elasticstack li.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.elasticstack li.move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}

/*样式覆盖*/
.mui-scroll-wrapper {
	top: 4rem;
}
.mui-table-view:before {
	height: 0;
}
/*样式覆盖*/
.mui-bar {
	background: transparent;
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}
.mui-bar-nav {
	box-shadow: none;
	border-bottom: 1px solid #e4e4e4;
}
