.mui-content .top {
	padding: 2rem 0 0;
	width: 100%;
	/*height: 10rem;*/
	background: url(../images/bg-user.png);
	background-size: auto 100%;
	box-shadow: 0 1px 3px #e4e4e4;
}
.user-logo {
	position: relative;
	width: 20%;
	margin: 0 auto;
	/*border: 1px solid #fff;*/
	border-radius: 50%;
	-webkit-transition: left 0.4s ease;
	transition: left 0.4s ease;
}
.user-logo img {
	width: 100%;
}
.user-logo .vip-logo {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 18px;
}
.top a {
	display: block;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 1rem;
	color: #fff;
}
.top-tips{
	font-size: 0;
}
.top-tips a {
	display: inline-block;
	width: 50%;
	font-size: 1.2rem;
}
/*进度条部分*/
.vip-process-rank {
	position: relative;
	width: 80%;
	height: 10px;
	margin: 0 auto;
	background: #e4e4e4;
	border-radius: 5px;
	overflow: hidden;
	z-index: 10;
}
.fubi-num {
	position: absolute;
	width: 100%;
	text-align: center;
}
.vip-process-rank .progress {
	position: absolute;
	height: 100%;
	background: darkseagreen;
	border-radius: 5px;
	-webkit-transform: translateX(0);
	-webkit-animation: rank 0.6s ease-in;
}
@-webkit-keyframes rank{
	0%{
		-webkit-transform: translateX(-100%);
	}

	100%{
		-webkit-transform: translateX(0);
	}
}
/*进度条部分---end*/
.vip-content-box {
	margin-top: 10px;
	padding-top: 10px;
	background: #fff;
}
.vip-title {
	width: 96%;
  padding-bottom: 8px;
  margin: 0 auto;
  border-bottom: 1px solid #f7f7f7;
}
.vip-title h2 {
	float: left;
	padding-left: 5px;
	font-size: 16px;
	line-height: 24px;
	border-left: 4px solid #f08519;
	color: #777;
}
.vip-title a {
	float: right;
	font-size: 12px;
	line-height: 24px;
	color: #999;
}

.vip-content {
	padding: 20px 10px 0;
	font-size: 0;
}
.vip-right {
	position: relative;
	display: inline-block;
	width: 46%;
	/*width: 13rem;*/
	padding-left: 10px;
	margin: 0 2%;
	height: 11rem;
}
.vip-task {
	background: url(../images/vip-task-bg.png) top center/100% auto no-repeat;
}
.vip-finance {
	background: url(../images/vip-finance-bg.png) top center/100% auto no-repeat;
}
.vip-next-task,
.vip-next-finance {
	background: url(../images/vip-next-bg.png) top center/100% auto no-repeat;
}
.vip-right h4 {
	margin-top: 1.6rem;
	font-size: 1.6rem;
	color: #fff;
}
.vip-right p.reward {
	margin-top: 0.4rem;
	font-size: 1.2rem;
	color: #fff;
}
.vip-right p.explain {
	margin-top: 1rem;
	font-size: 1rem;
	color: #777;
}
.vip-rank {
	position: absolute;
	top: 0.6rem;
	right: 0;
	font-size: 1rem;
	color: #777;
	-webkit-transform: rotate(45deg);
}
.vip-task .vip-rank-now {
	color: #64b8f8;
}
.vip-finance .vip-rank-now {
	color: #ffc601;
}
