.mui-content {
	margin-top: 44px;
}
.mui-table-view-cell {padding: 1rem 1.2rem 0.4rem;}
.mui-segmented-control-inverted {
	background-color: #fff;
}
.mui-slider-indicator a:not(:last-child) {
	border-right: 1px solid #e4e4e4 !important;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: none;
}

.mui-table-view-cell:after {
	/*background-color: transparent;*/
}
.mui-table-view-cell {
	padding: 0 1.875%;
}
.mui-table-view-cell>a:not(.mui-btn) {
	margin: 0.8rem 0;
	overflow: visible;
}

.mui-table-view-cell img {
	float: left;
	/*margin-right: 6.5%;*/
	width: 13rem !important;
	height: 8rem;
}
.mui-table-view-cell .li-info {
	width: 15.4rem;
	float: right;
	height: 5rem;
}
.li-info>h6 {
	width: 100%;
	padding-top: 0.4rem;
	/*line-height: 2rem;*/
	font-size: 1.2rem;
	color: #222;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.li-info p {
	display: block;
	height: 5rem;
	width: 100%;
	margin-top: 0.4rem;
	text-indent: 2.2rem;
	font-size: 1.1rem;
	line-height: 1.8rem;
	white-space: normal;
	overflow: hidden;
}

/*样式替换*/
.mui-table-view-cell:after {
	left: 1.875%;
	right: 1.875%;
}
.mui-table-view-cell>a:not(.mui-btn) {
	padding: 0;
}
.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
	display: inline;
}
.mui-pull-bottom-wrapper {
	padding: 1rem 0;
	text-align: center;
}
