@charset "utf-8";

/* CSS Document */


/**全局自适应**/

@charset "utf-8";

/* CSS Document */


/*字体自适应*/

@media screen and (max-width: 2000px) {
	html {
		font-size: 60px
	}
}

@media screen and (max-width: 1920px) {
	html {
		font-size: 56px
	}
}

@media screen and (max-width: 1800px) {
	html {
		font-size: 52px
	}
}

@media screen and (max-width: 1600px) {
	html {
		font-size: 46px
	}
}

@media screen and (max-width: 1400px) {
	html {
		font-size: 42px
	}
}

@media screen and (max-width: 1300px) {
	html {
		font-size: 40.625px
	}
}

@media screen and (max-width: 1280px) {
	html {
		font-size: 40px
	}
}

@media screen and (max-width: 1240px) {
	html {
		font-size: 38.75px
	}
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 37.5px
	}
}

@media screen and (max-width: 1180px) {
	html {
		font-size: 36.875px
	}
}

@media screen and (max-width: 1160px) {
	html {
		font-size: 36.25px
	}
}

@media screen and (max-width: 1140px) {
	html {
		font-size: 35.625px
	}
}

@media screen and (max-width: 1120px) {
	html {
		font-size: 35px
	}
}

@media screen and (max-width: 1100px) {
	html {
		font-size: 34.375px
	}
}

@media screen and (max-width: 1080px) {
	html {
		font-size: 33.75px
	}
}

@media screen and (max-width: 1060px) {
	html {
		font-size: 33.125px
	}
}

@media screen and (max-width: 1040px) {
	html {
		font-size: 32.5px
	}
}

@media screen and (max-width: 1020px) {
	html {
		font-size: 31.875px
	}
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 31.25px
	}
}

@media screen and (max-width: 980px) {
	html {
		font-size: 30.625px
	}
}

@media screen and (max-width: 960px) {
	html {
		font-size: 30px
	}
}

@media screen and (max-width: 940px) {
	html {
		font-size: 29.375px
	}
}

@media screen and (max-width: 920px) {
	html {
		font-size: 28.75px
	}
}

@media screen and (max-width: 900px) {
	html {
		font-size: 28.125px
	}
}

@media screen and (max-width: 880px) {
	html {
		font-size: 27.5px
	}
}

@media screen and (max-width: 860px) {
	html {
		font-size: 26.875px
	}
}

@media screen and (max-width: 840px) {
	html {
		font-size: 26.25px
	}
}

@media screen and (max-width: 820px) {
	html {
		font-size: 25.625px
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 25px
	}
}

@media screen and (max-width: 780px) {
	html {
		font-size: 24.375px
	}
}

@media screen and (max-width: 760px) {
	html {
		font-size: 23.75px
	}
}

@media screen and (max-width: 740px) {
	html {
		font-size: 23.125px
	}
}

@media screen and (max-width: 720px) {
	html {
		font-size: 22.5px
	}
}

@media screen and (max-width: 700px) {
	html {
		font-size: 21.875px
	}
}

@media screen and (max-width: 680px) {
	html {
		font-size: 21.25px
	}
}

@media screen and (max-width: 660px) {
	html {
		font-size: 20.625px
	}
}

@media screen and (max-width: 650px) {
	html {
		font-size: 20.3125px
	}
}

@media screen and (max-width: 640px) {
	html {
		font-size: 20px
	}
}

@media screen and (max-width: 630px) {
	html {
		font-size: 19.6875px
	}
}

@media screen and (max-width: 620px) {
	html {
		font-size: 19.375px
	}
}

@media screen and (max-width: 610px) {
	html {
		font-size: 19.0625px
	}
}

@media screen and (max-width: 600px) {
	html {
		font-size: 18.75px
	}
}

@media screen and (max-width: 590px) {
	html {
		font-size: 18.4375px
	}
}

@media screen and (max-width: 580px) {
	html {
		font-size: 18.125px
	}
}

@media screen and (max-width: 570px) {
	html {
		font-size: 17.8125px
	}
}

@media screen and (max-width: 560px) {
	html {
		font-size: 17.5px
	}
}

@media screen and (max-width: 550px) {
	html {
		font-size: 17.1875px
	}
}

@media screen and (max-width: 540px) {
	html {
		font-size: 16.875px
	}
}

@media screen and (max-width: 530px) {
	html {
		font-size: 16.5625px
	}
}

@media screen and (max-width: 520px) {
	html {
		font-size: 16.25px
	}
}

@media screen and (max-width: 510px) {
	html {
		font-size: 15.9375px
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 15.625px
	}
}

@media screen and (max-width: 490px) {
	html {
		font-size: 15.3125px
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 15px
	}
}

@media screen and (max-width: 470px) {
	html {
		font-size: 14.6875px
	}
}

@media screen and (max-width: 460px) {
	html {
		font-size: 14.375px
	}
}

@media screen and (max-width: 450px) {
	html {
		font-size: 14.0625px
	}
}

@media screen and (max-width: 440px) {
	html {
		font-size: 13.75px
	}
}

@media screen and (max-width: 430px) {
	html {
		font-size: 13.4375px
	}
}

@media screen and (max-width: 420px) {
	html {
		font-size: 13.125px
	}
}

@media screen and (max-width: 410px) {
	html {
		font-size: 12.8125px
	}
}

@media screen and (max-width: 405px) {
	html {
		font-size: 12.65625px
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 12.5px
	}
}

@media screen and (max-width: 395px) {
	html {
		font-size: 12.34375px
	}
}

@media screen and (max-width: 390px) {
	html {
		font-size: 12.1875px
	}
}

@media screen and (max-width: 385px) {
	html {
		font-size: 12.03125px
	}
}

@media screen and (max-width: 380px) {
	html {
		font-size: 11.875px
	}
}

@media screen and (max-width: 375px) {
	html {
		font-size: 11.71875px
	}
}

@media screen and (max-width: 370px) {
	html {
		font-size: 11.5625px
	}
}

@media screen and (max-width: 365px) {
	html {
		font-size: 11.40625px
	}
}

@media screen and (max-width: 360px) {
	html {
		font-size: 11.25px
	}
}

@media screen and (max-width: 355px) {
	html {
		font-size: 11.09375px
	}
}

@media screen and (max-width: 350px) {
	html {
		font-size: 10.9375px
	}
}

@media screen and (max-width: 345px) {
	html {
		font-size: 10.78125px
	}
}

@media screen and (max-width: 340px) {
	html {
		font-size: 10.625px
	}
}

@media screen and (max-width: 335px) {
	html {
		font-size: 10.46875px
	}
}

@media screen and (max-width: 333px) {
	html {
		font-size: 10.40625px
	}
}

@media screen and (max-width: 331px) {
	html {
		font-size: 10.34375px
	}
}

@media screen and (max-width: 330px) {
	html {
		font-size: 10.3px
	}
}

@media screen and (max-width: 328px) {
	html {
		font-size: 10.25px
	}
}

@media screen and (max-width: 326px) {
	html {
		font-size: 10.1875px
	}
}

@media screen and (max-width: 325px) {
	html {
		font-size: 10.15625px
	}
}

@media screen and (max-width: 324px) {
	html {
		font-size: 10.125px
	}
}

@media screen and (max-width: 322px) {
	html {
		font-size: 10.0625px
	}
}

@media screen and (max-width: 321px) {
	html {
		font-size: 10px
	}
}

@media screen and (max-width: 300px) {
	html {
		font-size: 9px
	}
}


/*公共样式*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	line-height: 1;
	/*font-family: "黑体";*/
	font-family: "DroidSansFallback";
	color: #8f8f8f;
	/*background: #fff;*/
}
number,
.english {
	font-family: helvetica;
}
ol,
ul {
	list-style: none;
}

p {
	font-size: 1.2rem;
	line-height: 2.4rem;
}


/*快捷样式*/

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.fr {
	float: right !important;
}

.fl {
	float: left !important;
}

.tr {
	text-align: right !important;
}

.tl {
	text-align: left !important;
}

.tc {
	text-align: center !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


/*公共部分*/



.mui-bar .mui-btn-link {
	color: #333;
}
.mui-icon-back:before, .mui-icon-left-nav:before {
	color: #333;
}
.mui-title {
	color: #333;
}
a {
	color: #008FD7;
}

header .share {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
	padding: 10px;
	padding-top: 14px;
	text-align: center;
}
.icon-fenxiang:before {
	font-size: 16px;
	content: "\e605";
	color: #333;
}
/*图标字体部分*/
@font-face {font-family: "wafuli-iconfont";
  src: url('../fonts/wafuli-iconfont.eot'); /* IE9*/
  src: url('../fonts/wafuli-iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/wafuli-iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/wafuli-iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/wafuli-iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"wafuli-iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*mui样式重置*/


/*选项卡部分*/

.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
	background: #008fd7;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #008fd7;
}

.mui-slider-indicator .mui-indicator {
	margin: 0;
	background: rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mui-segmented-control .mui-control-item.mui-active {
	background-color: #008fd7;
}

.mui-segmented-control .mui-control-item {
	color: #008fd7;
}

.mui-segmented-control {
	border: 1px solid #008fd7;
}
.mui-table-view-cell:after {
	left: 0;
}
/*按钮部分*/

.mui-btn-primary,
.mui-btn-blue {
	color: #fff;
	border: 1px solid #008fd7;
	background-color: #008fd7;
}

input[type='submit']:enabled:active,
input[type='submit'].mui-active:enabled,
.mui-btn-primary:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-blue.mui-active:enabled {
	color: #fff;
	border: 1px solid #0077b3;
	background-color: #0077b3;
}

.mui-btn-positive,
.mui-btn-success,
.mui-btn-green {
	color: #fff;
	border: 1px solid #00d6b3;
	background-color: #00d6b3;
}

.mui-btn-positive:enabled:active,
.mui-btn-positive.mui-active:enabled,
.mui-btn-success:enabled:active,
.mui-btn-success.mui-active:enabled,
.mui-btn-green:enabled:active,
.mui-btn-green.mui-active:enabled {
	color: #fff;
	border: 1px solid #00bd9d;
	background-color: #00bd9d;
}

header .mui-btn-blue {
	background: #fff;
}

.mui-btn-outlined {
	background-color: transparent;
}

.mui-btn-outlined.mui-btn-primary,
.mui-btn-outlined.mui-btn-blue {
	color: #0077b3;
}

.mui-btn-outlined.mui-btn-positive,
.mui-btn-outlined.mui-btn-success,
.mui-btn-outlined.mui-btn-green {
	color: #00bd9d;
}


/*弹出框部分*/

.mui-popup-title {
	display: none;
}

.mui-popup-title+.mui-popup-text {
	line-height: 24px;
}

.mui-popup-button {
	color: #008FD7;
}
.mui-popup-inner {
	padding: 30px 15px;
}

.mui-input-row label,
.mui-row li h5 {
	color: #777;
}


/*登录样式部分*/
.mui-input-group:before {
	height: 0;
}
.mui-input-group:after {
	left: 15px;
}
/*test-part*/
/*body
{
    background-color: #f7f7f7;

}

.mui-content
{
    background-color: #f7f7f7;
}*/

/*返回顶部部分*/
.backTop {
	position: fixed;
	right: 4px;
	bottom: 6rem;
	width: 3rem;
	height: 3rem;
	padding-top: 0.2rem;
	text-align: center;
	border-radius: 50%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.3);
}
.backTop .iconfont {
	font-size: 2.4rem;
	color: #fff;
}
.mui-icon-arrowthinup:before {
	content: "";
}
/*输入框部分样式更改*/
.mui-input-group .mui-input-row {
	margin-top: 10px;
}
form {
	width: 84%;
	margin-left: 8%;
}
form.mui-input-group .mui-input-row:after {
	left: 0;
}
.mui-input-group:after {
	height: 0;
}
input::-webkit-input-placeholder {
	opacity: 0.4;
	font-size: 14px;
}
input:-moz-placeholder {
	opacity: 0.4;
	font-size: 14px;
}
input::-moz-placeholder {
	opacity: 0.4;
	font-size: 14px;
}
input:-ms-input-placeholder {
	opacity: 0.4;
	font-size: 14px;
}

/*边框分割线颜色部分*/
img {
	border-color: #f0f0f0 !important;
	max-width: 100%;
}
.mui-table-view-cell:after {
	background-color: #f0f0f0 !important;
}
.mui-table-view:after {
	height: 0;
}
.list {
	border-color: #f0f0f0 !important;
}

/*分享弹出层部分*/
.share-guide-box {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0.7);
	z-index: 1000;
}
.share-top {
	background-position:  center 0;
	background-image: url(../images/share-guide-top.png);
}
.share-bottom {
	background-position:  center 14rem;
	background-image: url(../images/share-guide-bottom.png);
}
