.mui-content {
	padding-bottom: 4rem;
}
.top {
    background: #fff;
    /*height: 11rem;*/
   padding-bottom: 0.4rem;
}
.top>img {
	display: block;
	height: 9rem;
	margin: 0.8rem;
	float: left;
}
.finance-mark {
	height: 34px;
	padding-top: 0.8rem;
}
.finance-mark span {
	height: 1.6rem;
	display: inline-block;
	padding: 0 4px;
	color: #ff6767;
	margin-left: 8px;
	font-size: 1rem;
	line-height: 1.6rem;
	text-align: center;
	border: 1px solid #fb3456;
	border-radius: 4px;
}
.text-box {
	margin-top: 0.6rem;
	position:relative;
	line-height:20px;
	height: 6.8rem;
	overflow: hidden;
}
.introduction {
    line-height:1.7rem;
    font-size: 1.2rem;
}

.toolong::after {
    content:"...";
    position:absolute;
    bottom:0;
    right:0;
    height: 20px;
    padding:0 4px 0px 10px;
   background:-webkit-linear-gradient(left,transparent, #fff 40%);
   background:linear-gradient(left,transparent, #fff 40%);
}

.info {
	margin-top: 1rem;
	background-color: #fff;
}
.info p span:first-child {
	display: inline-block;
	width: 140px;
	margin-left: 20px;
}

.taste,
.taste-02,
.taste-03,
.prompt {
	margin-top: 1rem;
	padding: 0 1.875% 0;
	background: #fff;
}
.finance-table {
	text-align: center;
}
.finance-table span{
	display: inline-block;
	line-height: 3;
	border-bottom: 1px solid#e4e4e4;

}
.table-head span {
	font-size: 1.2rem;
	color: #333;
}
.table-list  span {
	font-size: 1rem;
	color: #777;
}
.table-head span:nth-child(1),
.table-list span:nth-child(1){
	width: 23%;
}
.table-head span:nth-child(2),
.table-list span:nth-child(2){
	width: 20%;
}
.table-head span:nth-child(3),
.table-list span:nth-child(3){
	width: 30%;
}
.table-head span:nth-child(4),
.table-list span:nth-child(4){
	width: 27%;
}
.contact-qq {
	display: inline-block;
	margin: 2rem 1rem 2rem 0;
	padding: 0 1rem;
	font-size: 1.2rem;
	line-height: 2.4;
	color: #fff;
	border-radius: 4px;
	background-color: #52c5ff;
}
.contact-qq:active {
	color: #fff;
	background-color: #00a0ea;
}
.taste h3,
.taste-02 h3,
.prompt h3 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #222;
	font-size: 1.6rem;
	color: #008fd7;
}
.mui-content .iconfont {
	font-size: 2rem;
	margin-right: 0.4rem;
}
.taste h4 {
	color: #333;
	font-size: 1.4rem;
	line-height: 3rem;
}
p a {
	color: #008FD7;
}
.prompt{
	color: #FB3456 !important;
}
.prompt .contact strong {
	font-size: 1.2rem;
	color: #f29840;
	line-height: 2rem;;
}
/*立即体验部分*/
.mui-row {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 1rem;
	background: #fff;
}

.mui-row button {
	height: 4rem;
	width: 100%;
	border-radius: 0;;
}
.mui-row div:first-child button {
	border-left: 0 !important;
}
.right{
}
/*弹出层部分*/
@-webkit-keyframes weixin {
     0% {
        -webkit-transform: scale(0) rotate(180deg);
        transform: scale(0) rotate(180deg);
        opacity: 0;
     }
     100% {
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
        opacity: 1;
     }
}
.er-wei-ma-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
}
.weixin-box-00 {
	display: none;
	position: fixed;
	width: 90% !important;
	padding: 10% 0;
	top: 20%;
	margin-left: 5%;
	background: #fff;
	overflow: hidden;
	z-index: 1001;
}
.weixin-box-01 {
	position: fixed;
	width: 90% !important;
	padding: 10% 0;
	top: 20%;
	margin-left: 5%;
	background: #fff;
	overflow: hidden;
	z-index: 1001;
	animation: weixin 1s linear;
	-webkit-animation: weixin 1s linear;
}
.weixin-box-02 {
	display: none;

}
.weixin-box p {
	font-size: 1.6rem;
	color: #333;
	text-align: center;
}
.weixin-box img {
	text-align: center;
	width: 90%;
	margin-left: 5%;
}
.weixin-box span {
	position: absolute;
	left: 0.4rem;
	top: 0.4rem;
	font-size: 3rem;
}
.weixin-box span:active {
	color: #ff6767;
}
/*样式替换*/
.mui-btn-blue {
	color: #fff;
	border: none;
	border: 1px solid #e4e4e4;
}
.left-btn button {
	border-right: none;
}
.mui-popup-title {
	display: block;
}
.mui-popup-title+.mui-popup-text {
	text-align: left;
}
