.mui-content {
	padding-bottom: 6rem;
}
img {
	width: 100%;
}
.ad img {
	width: 100%;
	max-height: 21.2rem;
}
.ad h5 {
	padding: 0 1.875% 0;
	font-size: 1.3rem;
	line-height: 3rem;
	border-bottom: 1px solid #e9e8e8;
	background: #fff;
}
.taste,
.taste-02,
.prompt {
	padding: 0 1.875% 0;
	background: #fff;
}
.taste h3,
.taste-02 h3,
.prompt h3 {
	margin-top: 1rem;
	padding-left: 2.6rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #222;
	font-size: 1.6rem;
	color: #008fd7;
}
.taste-02 h3{
	background: url(../images/task-04.png) left center no-repeat;
	background-size: 2rem; auto;
}
.taste h3 {
	background: url(../images/task-03.png) left center no-repeat;
	background-size: 2rem; auto;
}
.prompt h3 {
	background: url(../images/task-05.png) left center no-repeat;
	background-size: 2rem; auto;
}
.taste h4 {
	color: #333;
	font-size: 1.4rem;
	line-height: 3rem;
}
p a {
	color: #008FD7;
}
.prompt{
	color: #FB3456 !important;
}
.prompt .contact strong {
	font-size: 1.2rem;
	color: #f29840;
	line-height: 2rem;;
}
/*立即体验部分*/
.mui-row {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 1rem;
	background: #fff;
}

.mui-row button {
	height: 4rem;
	width: 100%;
	border-radius: 0;;
}
.mui-row div:first-child button {
	border-left: 0 !important;
}
.right{
	/*margin-left: 10%;*/
}
/*弹出层部分*/
.er-wei-ma {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	display: none;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
}
.er-wei-ma .box {
	position: relative;
	width: 90% !important;
	/*height: 40rem;*/
	padding: 10% 0;
	margin-top: 20%;
	margin-left: 5%;
	background: #fff;
}
.er-wei-ma .box p {
	font-size: 1.6rem;
	color: #333;
	text-align: center;
}
.er-wei-ma .box img {
	text-align: center;
	width: 90%;
	margin-left: 5%;
}
.er-wei-ma span {
	position: absolute;
	left: 0.4rem;
	top: 0.4rem;
	font-size: 3rem;
}
.er-wei-ma span:active {
	color: #ff6767;
}
/*样式替换*/
.mui-btn-blue {
	color: #fff;
	border: none;
	border: 1px solid #e4e4e4;
}
.left-btn button {
	border-right: none;
}

/*上传样式设置*/
p {
	font-family: "微软雅黑";
	font-size: 16px !important;
	line-height: 2;
	color: #333;
}
strong {
	font-weight: bold !important;
}
p img {
	width: 100% !important;
}
table {
	border-color: #b3b3b3 !important;
}
td {
	font-size: 16px;
	color: #333;
}
