body {
	/*background: #fff;*/
}
.mui-content {
	padding-bottom: 6rem;
}
img {
	width: 100%;
}
.ad img {
	width: 100%;
}
.ad h5 {
	padding: 0 1.875% 0;
	font-size: 1.2rem;
	line-height: 2.6rem;
	border-bottom: 1px solid #e9e8e8;
	background: #fff;
}
/*体验步骤部分*/
.taste,
.prompt {
	padding: 0 1.875% 0;
	background: #fff;
}
.taste h3, .prompt h3 {
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #008fd7;
	font-size: 1.6rem;
}
.mui-content .iconfont {
	font-size: 2rem;
	margin-right: 0.4rem;
}
.taste h4 {
	margin-top: 1rem;
	color: #333;
	font-size: 1.4rem;
	line-height: 3rem;
}

.prompt .contact {
	margin-top: 2rem;
}
.prompt .contact strong {
	font-size: 1.2rem;
	color: #f29840;
	line-height: 2rem;;
}

/*立即体验部分*/
.try {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
}
.try .shuju {
	float: left;
	width: 54%;
	height: 4rem;
	font-size: 1rem;
	line-height: 2rem;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.try span{
	display: block;
	color: #8f8f8f;
}

.try button {
	float: right;
	border-radius: 0;
	margin-bottom: 0;
	width: 46%;
	height: 4rem;
	padding: 0;
}

/*弹出层部分*/
.er-wei-ma {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	display: none;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
}
.er-wei-ma .box {
	position: relative;
	width: 90% !important;
	/*height: 40rem;*/
	padding: 10% 0;
	margin-top: 20%;
	margin-left: 5%;
	background: #fff;
}
.er-wei-ma .box p {
	font-size: 1.6rem;
	color: #333;
	text-align: center;
}
.er-wei-ma .box img {
	text-align: center;
	width: 90%;
	margin-left: 5%;
}
.er-wei-ma span {
	position: absolute;
	left: 0.4rem;
	top: 0.4rem;
	font-size: 3rem;
}
.er-wei-ma span:active {
	color: #ff6767;
}
/*上传样式设置*/
p {
	font-family: "微软雅黑";
	font-size: 16px !important;
	line-height: 2;
	color: #333;
}
strong {
	font-weight: bold !important;
}
p img {
	width: 100% !important;
}
table {
	border-color: #b3b3b3 !important;
}
td {
	font-size: 16px;
	color: #333;
}
