body {
	background: #fff;
}
.mui-content {
	padding:0 1.875% 0;
	background: #fff;
}
/*故事内容部分*/
.story {
	width: 100%;
}
.story h1 {
	font-size: 2.2rem;
	line-height: 4rem;
	color: #222;
}
.story h6 {
	padding-bottom: 1rem;
	border-bottom: 1px solid #e4e4e4;
}
.story p {
	margin-top: 1rem;

}
.story img {
	display: block;
	width: 60%;
	margin: 0 auto;
}
/*相关推荐部分*/
.related {
	width: 100%;
	margin-top: 2rem;
}
.related h5 {
	font-size: 1.2rem;
	text-align: center;
	/*width: auto;*/
	line-height: 2rem;
	margin:0 auto;
}
.related h5:before {
	content: "";
	display: inline-block;
	width: 34%;
	height: 2px;
	background: #e4e4e4;
	position: relative;
	bottom: 0.3rem;
	/*margin-left: 2rem;*/
}
.related h5:after {
	content: "";
	display: inline-block;
	width: 34%;
	height: 2px;
	background: #e4e4e4;
	position: relative;
	bottom: 0.3rem;
	/*margin-right:2rem*/
}

.content .list {
	padding:2rem 0 2rem;
	border-bottom: 1px solid #e4e4e4;

}
.content .list a {
	display: block;
	position: relative;
}
.content .text {
	float: left;
	width: 60%;
}
.content .list .text h3 {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #333333;
}
.content .list .text p {
	position: absolute;
	bottom: 0;
}
.content .list img {
	float: right;
	display: block;
	width: 10rem;
	height: 8rem;
}
/*上传样式设置*/
p {
	font-family: "微软雅黑";
	font-size: 16px !important;
	line-height: 3;
	color: #333;
}
strong {
	font-weight: bold !important;
}
p img {
	width: 100% !important;
}
table {
	border-color: #b3b3b3 !important;
}
td {
	font-size: 16px;
	color: #333;
}
