body {
	background: #fff;
}
.mui-content {
	/*padding: 0 1.875% 0;*/
	background: #fff;
	padding-bottom: 2rem;
}
.mui-input-group {
	margin-top: 3rem;
}
.mui-row {
	margin-top: 1rem;
}
.mui-row li {
	list-style: none;
}
.mui-row li h5 {
	font-size: 17px;
	text-align: right;
	padding-right: 3px;
}
.mui-radio input[type=radio] {
	top: -6px;
}
.mui-radio label {
	margin-left: 40px;
}
.mui-radio label {
	padding-right: 0;
	margin-left: 40px;
}
.mui-checkbox label, .mui-radio label {
	display: inline;
}
.mui-radio input[type=radio] {
	padding-left: 0;
}
.mui-radio input[type=radio]:before {
	position: relative;
	top: 4px;
	font-size: 20px;
}
.mui-radio input[type=radio]:checked:before {
	color: #008fd7;
	content: '\e442';
}

.beizhu {
	margin-top: 2rem !important;
	margin-bottom: 0 !important;
}
.beizhu p {
	font-size: 1.4rem;
	line-height: 2rem;
	padding-left: 11px;
}
textarea {
	width: 94%;
	margin-top: 1rem;
	margin-left: 3%;
	height: 10rem;
}
.mui-content button {
	padding: 0;
	width: 60%;
	height: 3.4rem;
	margin-top: 2rem;
	margin-left: 20%;
	font-size: 1.2rem;
}

form {
	width: 100%;
	margin-left: 0;
}
/*样式覆盖*/
form.mui-input-group .mui-input-row:after {
	left: 15px;
	right: 15px;
}
.mui-input-row label {
	padding-right: 24px;
	text-align: right;
}
.mui-input-row label {
	width: 45%;
}
.mui-input-row label~input {
	width: 55%;
}
.mui-input-row .choose {
	width: 55%;
	background: url(../images/select-icon.png) 90% center/20px auto no-repeat;
}
