header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 4rem;
		background-color: #fff;
		padding: 0 1.875% 0;
		padding-bottom: 0.4rem;
		background: #52c5ff;
		display: none;
}
header>img {
	height: 2rem;
	margin-top: 1rem;
}
header a {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	margin-top: 1.7rem;
}
header a img {

	width: 100%;
	margin: 0;
}
/*选项卡部分*/

.mui-table-view-cell {padding: 1rem 1.2rem 1.2rem;}
.mui-segmented-control-inverted {
	background-color: #fff;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: none;
}
.mui-table-view-cell .title {
	border-bottom: 1px solid #ececec;
	line-height: 2.2rem;
	margin-top: -0.4rem;
}
.mui-table-view-cell .title strong {
	display: inline-block;
	font-size: 1.4rem;
	color: #222;
	border-bottom: 2px solid #f3a156;
}
.mui-table-view-cell .title span {
	display: inline-block;
	float: right;
	text-align: right;
	font-size: 1.2rem;
	color: #222;
}
.mui-table-view-cell .title span font {
	font-size: 1.4rem;
	font-weight: bold;
	color: #f3a156;
}
.container {
	position: relative;
	margin-top: 1rem;
}
.container>div span {
	position: absolute;
	left: 8rem;
	bottom: 0;
	width: 4rem;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	background: #be5eff;
	padding: 2px 0;
}
.container img {
	width: 12rem !important;
	max-height: 8rem;
	float: left;
	background: url(../images/business-logo.png) center center no-repeat;
	border: 1px solid #ececec;
}

.container .inc2 {
	float: right;
	width:13rem;
	height: auto;
	/*margin-top: 0.4rem;*/
}
.container .inc2 p {
	font-size: 1.2rem;
	line-height: 2.2rem;
}
.container .inc2 p:first-child {
	color: #f08519;
}
/*底部导航部分*/
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 1000;
	border-top: 1px solid #e4e4e4;
}
footer li {
	width: 25%;
	float: left;
}
footer .iconfont {
	font-size: 2.4rem;
	line-height: 3rem;
	color: #8f8f8f;
}
footer li:first-child .iconfont {
	position: relative;
	font-size: 2.2rem;
	top: 0.2rem;
}
footer li:last-child .iconfont {
	position: relative;
	top: 0.2rem;
	font-size: 2.8rem;
}
.on .iconfont {
	color: #f08519;
}
footer li span {
	display: block;
	font-size: 1rem;
	color: #4d4d4d;
	margin-bottom: 3px;
	margin-top: 3px;
}
footer li.on span {
	color: #f08519;
}
/*样式替换*/
/*样式替换*/
.mui-table-view {
	background: none;
}
.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
	display: inline;
}
.mui-pull-bottom-wrapper {
	padding: 1rem 0;
	text-align: center;
}
.mui-table-view-cell:after {
	height:0;
}
.mui-table-view-cell {
	padding: 0;
	margin-bottom: 1rem;
	background: #fff;
}
.mui-table-view-cell>a:not(.mui-btn) {
	margin: 0;
	padding: 11px 15px;
}

#finance_slider{
	bottom:20px;
}

