html,
body {
	background-color: #efeff4;
}
.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
	border-bottom: 1px solid #e4e4e4;
}
.mui-scroll {
	background-color: #fff;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-top: none;
}
.mui-segmented-control.mui-scroll-wrapper {
	height: 40px;
}
.mui-segmented-control .mui-control-item {
	display: table-cell !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	border-bottom: 2px solid #008FD7 !important;
}

/*列表样式部分*/
.mui-table-view {
	padding: 0 1.875%;
}
.mui-table-view-cell {
	padding: 0;
	margin-top: 1px;
}

.mui-table-view-cell>a:not(.mui-btn) {
	margin: 0.8rem 0;
	overflow: visible;
}
.mui-table-view-cell img {
	float: left;
	width: 13rem !important;
	max-height: 7.5rem;
	border-radius: 4px;
	border: 1px solid #e4e4e4;
}
.mui-table-view-cell img {
	float: left;
	width: 13rem !important;
	max-height: 7.5rem;
	border-radius: 4px;
	border: 1px solid #e4e4e4;
}
.mui-table-view-cell .li-info {
	width: 15.8rem;
	float: right;
	height: auto;
}
.li-info h6 {
	margin-top: 0.4rem;
	font-size: 1.2rem;
	color: #222;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.li-info p {
	line-height: 1.6rem;
}
.li-info p.first {
	height: 1.8rem;
}
.li-info p.first span {
	height: 1.2rem;
	display: inline-block;
	padding: 0 4px;
	color: #ff6767;
	margin: 0.6rem 1rem 0 0;
	font-size: 0.8rem;
	line-height: 1.2rem;
	text-align: center;
	border: 1px solid #fb3456;
	border-radius: 4px;
}
.li-info span {
	position: relative;
	display: inline-block;
	padding-left: 1.6rem;
	font-size: 1rem;
}

.li-info .s2,
.li-info .s3 {
	margin-top: 0.2rem;
	display: inline-block;
}
.li-info .s3 {
	float: left;
	width: 12rem;
}
.li-info .s2 {
	float: left;
}
.li-info .s1 {
	margin-top: 0.7rem;
}

.icon-renzhengshangjia:before,
.icon-time:before,
.icon-yanjing:before {
	position: absolute;
	left: 0;
	top: 0;
 	font-family: wafuli-iconfont;
	margin-right: 0.2rem;
	font-size: 1.4rem;
	color: rgba(0,135,223,0.5);
	-webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-renzhengshangjia:before {
	content: "\e620";
}
.icon-time:before {
	content: "\e628";
}
.icon-yanjing:before {
	content: "\e601";
	top: -0.1rem;
}
