.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #fff;
}

.mui-content {
	height: 100%;
	background: #fff;
}

.area {
	margin: 20px auto 0px auto;
}

.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 22%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}

.mui-content-padded {
	margin-top: 25px;
}

.mui-btn {
	padding: 10px;
}

.link-area {
	display: block;
	margin-top: 1rem;
	text-align: center;
}
.link-area a {
	font-size: 1.2rem;
}
.spliter {
	color: #bbb;
	padding: 0px 8px;
}

.oauth-area {
	position: absolute;
	bottom: 20px;
	left: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.oauth-area .oauth-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px 20px;
	/*-webkit-filter: grayscale(100%); */
	border: solid 1px #ddd;
	border-radius: 25px;
}

.oauth-area .oauth-btn:active {
	border: solid 1px #aaa;
}

.oauth-area .oauth-btn.disabled {
	background-color: #ddd;
}

.mui-switch:before {
	font-size: 16px;
	font-weight: normal;
	margin-top: 2px;
}

.mui-switch.mui-active {
	background-color: #00D6B3;
	border-color: #00D6B3;
}
#login {
	padding: 0;
	width: 60%;
	height: 3.4rem;
	margin-top: 2rem;
	margin-left: 20%;
	font-size: 1.2rem;
}
/*图标替换*/
.mui-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.mui-icon-person {
  background: url(../images/login-icon-user.png) left center/50% auto no-repeat;
}
.mui-icon-locked {
  background: url(../images/login-icon-password.png) left center/50% auto no-repeat;
}
.mui-icon:before {
  content: "";
}
.mui-input-row label {
  padding: 0 15px;
}
