@font-face {
	font-family: '华康少女文字W5(P)';
	src: url('../fonts/华康少女体 .eot'); /* IE9 Compat Modes */
	src: url('../fonts/华康少女体 .eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/华康少女体 .woff') format('woff'), /* Modern Browsers */
             url('../fonts/华康少女体 .ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/华康少女体.svg#华康少女体') format('svg'); /* Legacy iOS */
}
body {
	background: #fff;
}
.mui-content {
	background: #fff;
}
.hongbao {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10000;
}
.hongbao .img-box {
	font-family: "华康少女文字W5(P)";
	position: relative;
	display: block;
	padding-top: 4rem;
	margin: 15% auto;
	width: 28rem;
	height: 36rem;
	background: url(../images/hb-manage.png) center top/100% auto no-repeat;
}
.img-box .hb-amount {
	font-size: 1.8rem;
	color: #fff;
	text-align: center;
}
.hb-amount number {
	color: #fcdb30;
}
.img-box .hb-btn {
	display: block;
	width: 13rem;
	height: 13rem;
	margin: 3.4rem auto 0;
	background: transparent;
	border-radius: 50%;
}
.img-box .hb-more {
	display: block;
	margin-right: 4%;
	margin-top: 8rem;
	font-size: 1.8rem;
	text-align: right;
	color: #fff;
}
.hongbao-open {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10000;
}
.hongbao-open .hb-open-box {
	font-family: "华康少女文字W5(P)";
	position: relative;
	display: block;
	padding-top: 1rem;
	margin: 30% auto;
	width: 28rem;
	height: 37rem;
	background-image: url(../images/hb-manage-open.png);
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
  -ms-animation:hb-open 1.4s ease-in-out;
  -webkit-animation:hb-open 1.4s ease-in-out;
	animation:hb-open 1.4s ease-in-out;
}
.hongbao-open .hb-open-box .hb-container {
	-ms-animation:hb-show 1s ease-in-out;
  -webkitanimation:hb-show 1s ease-in-out;
  animation:hb-show 1s ease-in-out;
}
.hb-open-box .close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 4rem;
	color: rgba(0,0,0,0.4);
}
.hb-open-box .congra {
	margin-left: 1rem;
	margin-top: 0.6rem;
	font-size: 2rem;
	color: #ffefc5;
	text-align: left;
}
.hb-open-box .fubi-amount {
	margin-top: 8.6rem;
	margin-left: 1rem;
	font-size: 1.2rem;
	color: #ffefc5;
	text-align: center;
}
.fubi-amount number {
	font-size: 5.4rem;
}
.hb-open-box .fubi-msg {
	display: block;
	font-family: "浪漫雅圆";
	margin-top: 2rem;
	text-align: center;
	color: #ffefc5;
}
.hb-open-box .continue {
	width: 50%;
	padding: 0;
	margin: 10.8rem auto 0;
	font-size: 1.4rem;
	line-height: 2.4;
	text-align: center;
	color: #d13c4a;
	background-color: #f1bd78;
	border-color: #f1bd78;
}
.hb-open-box .continue:active {
	background-color: #d9aa6c;
	border-color: #d9aa6c;
	color: #d13c4a;
}
@-ms-keyframes hb-show {
    0% {
        opacity: 0;
    }
	42% {
        opacity: 0;
        display: none;
    }
    43% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes hb-show {
    0% {
        opacity: 0;
    }
  42% {
        opacity: 0;
        display: none;
    }
    43% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hb-show {
    0% {
        opacity: 0;
    }
  42% {
        opacity: 0;
        display: none;
    }
    43% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes hb-open {
    0% {
        background-image: url(../images/fubi.png);
        background-size: 30% auto;
        background-position: center 40%;
        transform: scaleX(0);
    }
    10% {
        transform: scaleX(-1);
    }
    30% {
        background-image: url(../images/fubi.png);
        transform: scaleX(1);
        background-size: 30% auto;
        background-position: center 40%;
        opacity: 0;
    }
    31% {
    	transform: scale(0.4);
        opacity: 0;
        background-image: url(../images/hb-manage-open.png);
        background-size: 100% auto;
        background-position: center bottom;
    }
    80% {
    	transform: scale(1.1);
    }
    90% {
    	transform: scale(0.96);
    }
    100% {
    	background-image: url(../images/hb-manage-open.png);
        background-size: 100% auto;
    	background-position: center bottom;
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes hb-open {
    0% {
        background-image: url(../images/fubi.png);
        background-size: 30% auto;
        background-position: center 40%;
        transform: scaleX(0);
    }
    10% {
        transform: scaleX(-1);
    }
    30% {
        background-image: url(../images/fubi.png);
        transform: scaleX(1);
        background-size: 30% auto;
        background-position: center 40%;
        opacity: 0;
    }
    31% {
      transform: scale(0.4);
        opacity: 0;
        background-image: url(../images/hb-manage-open.png);
        background-size: 100% auto;
        background-position: center bottom;
    }
    80% {
      transform: scale(1.1);
    }
    90% {
      transform: scale(0.96);
    }
    100% {
      background-image: url(../images/hb-manage-open.png);
        background-size: 100% auto;
      background-position: center bottom;
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes hb-open {
    0% {
        background-image: url(../images/fubi.png);
        background-size: 30% auto;
        background-position: center 40%;
        transform: scaleX(0);
    }
    10% {
        transform: scaleX(-1);
    }
    30% {
        background-image: url(../images/fubi.png);
        transform: scaleX(1);
        background-size: 30% auto;
        background-position: center 40%;
        opacity: 0;
    }
    31% {
      transform: scale(0.4);
        opacity: 0;
        background-image: url(../images/hb-manage-open.png);
        background-size: 100% auto;
        background-position: center bottom;
    }
    80% {
      transform: scale(1.1);
    }
    90% {
      transform: scale(0.96);
    }
    100% {
      background-image: url(../images/hb-manage-open.png);
        background-size: 100% auto;
      background-position: center bottom;
        transform: scale(1);
        opacity: 1;
    }
}
