body {
	background: #fff;
}
.mui-content {
	background: #fff;
}
.area {
	margin: 20px auto 0px auto;
}
.mui-input-group:first-child {
	margin-top: 20px;
}
.mui-input-group label {
	width: 22%;
}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}
.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}
.mui-content-padded {
	margin-top: 25px;
}
.mui-btn {
	padding: 10px;
}

.yanzhengma {
	position: relative;
}
.huoqu {
	position: absolute;
	font-size: 12px;
	right: 0;
	margin-top: 6px;
	margin-right: 8px;
	padding: 4px 8px;

}

.mui-input-row .mui-input-password~.mui-icon-eye.mui-active {
	color: #008FD7;
}
#register {
	padding: 0;
	width: 60%;
	height: 3.4rem;
	margin-top: 2rem;
	margin-left: 20%;
	font-size: 1.2rem;
}
.link-area {
	font-size: 1.2rem;
}
.mui-input-group:after {
	height: 0;
}
.yanzheng {
	position: absolute;
	right: 0;
	margin-top: 4px;
	margin-right: 10px;
}
/*图标替换*/
.iconfont {
	font-size: 24px;
	color: #8f8f8f;
}
.mui-input-row label {
	padding: 8px 15px 0;
}
