.ad img {
	width: 100%;
}
.iconfont {
	position: absolute;
	left: 1rem;
	top: 10px;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding-top: 5px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0));
}
.ic01 {
	background-color: #ff6767;
}
.ic02 {
	background-color: #ffac00;
}
.ic03 {
	background-color: #51c332;
}
.ic04 {
	background-color: #00d6b3;
}
.mui-table-view-cell>a:not(.mui-btn) {
	padding-left: 4rem;
}
.mui-collapse-content {
	padding:0 0 0 4rem !important;
}
.mui-collapse-content a {
	display: block;
	height: 40px;
	color: #a5a5a5;
	line-height: 40px;
	border-bottom: 1px solid #e4e4e4;
}
.mui-collapse-content:last-child a {
	border-bottom: none;
}

.mui-table-view-cell div:active {
	background: #eee !important;
}

/*弹出层部分*/
@-webkit-keyframes weixin {
     0% {
        -webkit-transform: scale(0) rotate(180deg);
        opacity: 0;
     }
     100% {
        -webkit-transform: scale(1) rotate(360deg);
        opacity: 1;
     }
}
.er-wei-ma-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
}
.weixin-box-00 {
	display: none;
	position: fixed;
	width: 90% !important;
	padding: 10% 0;
	top: 20%;
	margin-left: 5%;
	background: #fff;
	overflow: hidden;
	z-index: 1001;
}
.weixin-box-01 {
	position: fixed;
	width: 90% !important;
	padding: 10% 0;
	top: 20%;
	margin-left: 5%;
	background: #fff;
	overflow: hidden;
	z-index: 1001;
	-webkit-animation: weixin 1s linear;
	animation: weixin 1s linear;
}
.weixin-box-02 {
	display: none;

}
.weixin-box p {
	font-size: 1.6rem;
	color: #333;
	text-align: center;
}
.weixin-box img {
	text-align: center;
	width: 90%;
	margin-left: 5%;
}
.weixin-box span {
	position: absolute;
	left: 0.4rem;
	top: 0.4rem;
	font-size: 3rem;
}
.weixin-box span:active {
	color: #ff6767;
}
/*样式覆盖*/
.mui-table-view-cell {
	padding: 14px 15px;
}
.mui-table-view:before {
	height: 0;
}
.mui-table-view-cell>a:not(.mui-btn) {
	color: #333;
}
