body {
	background-color: #f2f2f2;
}
/*选项卡部分*/

.mui-table-view-cell {
	width: 30rem;
	height: 7rem;
	padding: 0;
	margin: 0.8rem auto;
	border-radius: 0.4rem;
	background: #fff;
	}
.mui-table-view-cell a {
	display: block;
	margin: 0;
}
.mui-table-view-cell .img-box {
	position: relative;
	margin-top: 0.8rem;
	float: left;
	height: 5.4rem;
	width: auto !important;
	max-width: 8rem;
	border-radius: 0.4rem;
	overflow: hidden;
}
.mui-table-view-cell .img-box img {
	width: auto !important;
	max-width: 8rem;
	height: 100%;
}
.mui-table-view-cell .info-middle {
	float: right;
	margin-top: 0.8rem;
	padding-right: 0.4rem;
	width: 12rem;
	white-space: normal;
}
.info-middle h6 {
	height: 3.6rem;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #222;
	overflow: hidden;
}
.info-middle p {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 0.4rem;
}
.info-middle p number {
	color: #f08519;
	font-weight: bold;
}
.mui-table-view-cell .info-right {
	display: table;
	float: right;
	width: 7rem;
	padding-left: 1.2rem;
	font-size: 1rem;
	height: 7rem;
	color: #f08519;
	background: url(../images/task-right-bg.png) left center/auto 100% no-repeat;
}
.mui-table-view-cell p.info-right.task-end {
	color: #8f8f94;
}
.info-right span {
	display: table-cell;
	vertical-align: middle;
}
.info-right b {
	display: block;
}
.info-right number {
	font-size: 1.6rem;
}
.li-info h6 {
	font-size: 1.3rem;
	color: #0a0a0a;
	margin-top: 0.4rem;
}
.li-info span {
	font-size: 1rem;
	line-height: 1.8rem;
	padding-left: 2.4rem;
	display: block;
}
.li-info span.s1 {
	margin-top: 0.8rem;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: none;
}
/*底部导航部分*/
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 1000;
	border-top: 1px solid #e4e4e4;
}
footer li {
	width: 25%;
	float: left;
}
footer .iconfont {
	font-size: 2.4rem;
	line-height: 3rem;
	color: #8f8f8f;
}
footer li:first-child .iconfont {
	position: relative;
	font-size: 2.2rem;
	top: 0.2rem;
}
footer li:last-child .iconfont {
	position: relative;
	top: 0.2rem;
	font-size: 2.8rem;
}
.on .iconfont {
	color: #f08519;
}
footer li span {
	display: block;
	font-size: 1rem;
	color: #4d4d4d;
	margin-bottom: 3px;
	margin-top: 3px;
}
footer li.on span {
	color: #f08519;
}
/*样式替换*/
.mui-segmented-control-inverted {
	background-color: #fff;
}
.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
	display: inline;
}
.mui-pull-bottom-wrapper {
	padding: 1rem 0;
	text-align: center;
}
.mui-table-view-cell:after {
	height: 0;
}
.mui-table-view-cell>a:not(.mui-btn) {
	padding: 0 0.8rem;
	margin: 0;
}
.mui-table-view {
	background-color: #f2f2f2;
}
