header {
		background-color: #fff;
		padding: 0 1.875% 0;
		padding-bottom: 0.4rem;
		background: #52c5ff;
}
header img {
	width: 20%;
	margin-top: 0.6rem;
}
header a {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	margin-top: 1.2rem;
}
header a img {
	width: 100%;
	margin: 0;
}
/*选项卡部分*/

.mui-table-view-cell {padding: 1rem 1.2rem;}
.mui-segmented-control-inverted {
	background-color: #fff;
}
.mui-table-view-cell img {
	float: left;
	margin-left: 2rem;
	width: 8rem !important;
	border-radius:50%;
	border:0.2rem solid #e4e4e4;
	vertical-align: middle;
}
.mui-table-view-cell .li-info {
	width: 49%;
	float: right;
	height: auto;
}
.li-info h6 {
	font-size: 1.3rem;
	color: #0a0a0a;
	margin-top: 0.4rem;
}
.li-info span {
	position: relative;
	font-size: 1rem;
	line-height: 1.8rem;
	padding-left: 2.4rem;
	display: block;
}
.li-info span.s1 {
	margin-top: 0.8rem;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: none;
}
.iconfont:before {
	position: absolute;
	left: 0;
	top: 0;
 	font-family: wafuli-iconfont;
	margin-right: 0.2rem;
	font-size: 1.4rem;
	color: rgba(0,135,223,0.5);
	-webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-renzhengshangjia:before {
	content: "\e620";
}
.icon-time:before {
	content: "\e628";
}
.icon-yanjing:before {
	content: "\e601";
}
/*底部导航部分*/
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 1000;
	border-top: 1px solid #e4e4e4;
}
footer li {
	width: 25%;
	float: left;
}
footer .iconfont {
	font-size: 2.4rem;
	line-height: 1.2;
	color: #8f8f8f;
}
.on .iconfont {
	color: #f08519;
}
footer li span {
	display: block;
	font-size: 1rem;
	color: #4d4d4d;
	margin-bottom: 3px;
	margin-top: 3px;
}
footer li.on span {
	color: #f08519;
}
/*样式替换*/
.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
	display: inline;
}
.mui-pull-bottom-wrapper {
	padding: 1rem 0;
	text-align: center;
}
.mui-table-view-cell:after {
	left: 1.875%;
	right: 1.875%;
}
#task_slider{
	bottom:20px;
}
