
ol,ul {
	list-style:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
caption,th,td {
	text-align:left;
	font-weight:normal;
	vertical-align:middle
}
q,blockquote {
	quotes:none
}
q:before,q:after,blockquote:before,blockquote:after {
	content:"";
	content:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
	display:block
}
ol.hashTabber-nav,ol.hashTabber-data {
	list-style:none;
	margin:0;
	padding:0
}
ol.hashTabber-data>li {
	display:none
}
ol.hashTabber-data>li.active {
	display:block
}

nav ul,nav ol {
	list-style:none;
	margin:0;
	padding:0
}
:focus {
	outline-color:#00b464;
	outline-style:auto;
	outline-width:0.25rem
}
::-moz-focus-inner {
	border:0
}
img,embed,object,video {
	max-width:100%
}
::selection {
	color:#fff;
	background-color:#00b464
}
::-moz-selection {
	color:#fff;
	background-color:#00b464
}
h1,h2,h3,h4,h5,h6 {
	line-height:1
}
h1:not(:first-child),h2:not(:first-child),h3:not(:first-child),h4:not(:first-child),h5:not(:first-child),h6:not(:first-child) {
	margin-top:3rem
}
h1 a,h1 a:hover,h2 a,h2 a:hover,h3 a,h3 a:hover,h4 a,h4 a:hover,h5 a,h5 a:hover,h6 a,h6 a:hover {
	text-decoration:none
}
h1 {
	font-size:3rem
}
h1.page-title {
	font-size:4.5rem;
	font-weight:700;
	padding:3rem 0 4.5rem;
	letter-spacing:-0.125rem;
	color:#00b464;
	text-shadow:#095 0 0.125rem 0
}

h2 {
	font-size:2rem
}
h3 {
	font-size:1.5rem
}
#intro p:not(:first-child),.summp p:not(:first-child),pre:not(:first-child),section.example:not(:first-child) {
	margin: 0px 0px 0px 3rem;
	text-align: left;
	color: #ABABAB;
	font-size: 12px;
	width: 490px;
	float: left;
	line-height: 30px;
}
ol {
	margin-left:1.5rem
}
ul {
	list-style-type:disc
}
ol {
	list-style-type:decimal
}
strong {
	font-weight:bold
}
em {
	font-style:italic
}
code {
	font-family:"Source Code Pro",monospace;
	font-size:0.75rem;
	background-color:#f2f0ef;
	border:0.0625rem solid #cbc5c1;
	padding:0 0.125rem;
	-webkit-border-radius:0.25rem;
	-moz-border-radius:0.25rem;
	-ms-border-radius:0.25rem;
	-o-border-radius:0.25rem;
	border-radius:0.25rem
}
pre code {
	display:block;
	width:100%;
	overflow-x:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0.5rem
}
small,sub,sup {
	font-size:75%
}
sub,sup {
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
header.page-header {
	max-width:48rem;
	margin:1rem auto
}
section.page-content {
	max-width:48rem;
	margin:auto
}
section.example {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	width:1100px;
	vertical-align:top;
	margin:0 auto;
}
footer.page-footer {
	max-width:48rem;
	margin:auto;
	padding:4.5rem 0 1.5rem
}
a.fake-button {
	color:#fff;
	background-color:#00b464;
	line-height:2rem;
	padding:0 0.5rem;
	display:inline-block;
	text-decoration:none;
	border-bottom:0.125rem solid #095;
	-webkit-border-radius:0.25rem;
	-moz-border-radius:0.25rem;
	-ms-border-radius:0.25rem;
	-o-border-radius:0.25rem;
	border-radius:0.25rem
}
a.fake-button:hover {
	background-color:#4cca92;
	border-color:#095
}
a.fake-button.fake-button-big {
	font-size:1.5rem;
	line-height:3rem;
	padding:0 0.75rem
}
nav.page-main-navigation {
	top:0;
	right:0;
	position:fixed;
	z-index:2;
	font-size:1rem;
	-webkit-transition:right 0.3s;
	-moz-transition:right 0.3s;
	-o-transition:right 0.3s;
	transition:right 0.3s
}
nav.page-main-navigation:target {
	right:10rem
}
nav.page-main-navigation:target a.open {
	display:none
}
nav.page-main-navigation:target a.close {
	display:block
}
nav.page-main-navigation ol {
	height:auto;
	margin:0;
	top:0;
	left:0;
	position:absolute
}
nav.page-main-navigation ol li {
	display:block
}
nav.page-main-navigation ol li a {
	width:10rem
}
nav.page-main-navigation ol li:last-child a {
	border-bottom:0.125rem solid #095;
	-webkit-border-radius:0 0 0 0.25rem;
	-moz-border-radius:0 0 0 0.25rem;
	-ms-border-radius:0 0 0 0.25rem;
	-o-border-radius:0 0 0 0.25rem;
	border-radius:0 0 0 0.25rem
}
nav.page-main-navigation a {
	color:#fff;
	background-color:#00b464;
	line-height:2rem;
	padding:0 0.5rem;
	display:block;
	text-decoration:none;
	text-align:left
}
nav.page-main-navigation a:hover {
	background-color:#4cca92
}
nav.page-main-navigation a.close,nav.page-main-navigation a.open {
	top:0;
	right:0;
	position:absolute;
	border-bottom:0.125rem solid #095;
	-webkit-border-radius:0 0 0 0.25rem;
	-moz-border-radius:0 0 0 0.25rem;
	-ms-border-radius:0 0 0 0.25rem;
	-o-border-radius:0 0 0 0.25rem;
	border-radius:0 0 0 0.25rem
}
nav.page-main-navigation a.close {
	display:none
}
.hashTabber-sandstone-wrapper {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	width:1100px;
	vertical-align:top;
	margin:2rem auto;
}
ol.hashTabber-nav.hashTabber-sandstone,ol.hashTabber-data.hashTabber-sandstone {
	list-style:none;
	margin:0;
	padding:0
}
ol.hashTabber-nav.hashTabber-sandstone {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

ol.hashTabber-nav.hashTabber-sandstone>h2 {
	font-size:0.875rem;
	text-transform:uppercase;
	padding:0.75rem 0.5rem 0.25rem 0.5rem;
	color:#443c37
}
ol.hashTabber-nav.hashTabber-sandstone>li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	width:100%;
	vertical-align:top
}
ol.hashTabber-nav.hashTabber-sandstone>li:not(:first-child) {
	margin-top:0.2rem
}
ol.hashTabber-nav.hashTabber-sandstone>li.active a {
	border-color: #fff;
	background: #FDF3E9;
	color: #F28C28;
	border-left: 4px solid #F08619;
	border-radius: 0px;
}
ol.hashTabber-nav.hashTabber-sandstone>li.active a:hover {
	background-color:#F4F4F4;
	color:#666;
	border-color:#cbc5c1
}
ol.hashTabber-nav.hashTabber-sandstone>li>a {
	display: block;
	-webkit-border-radius: 0.25rem 0 0 0.25rem;
	-moz-border-radius: 0.25rem 0 0 0.25rem;
	-ms-border-radius: 0.25rem 0 0 0.25rem;
	-o-border-radius: 0.25rem 0 0 0.25rem;
	border-radius: 0.25rem 0 0 0.25rem;
	padding: 0.8rem 0.8rem;
	text-decoration: none;
	color: #666666;
	background-color: #fff;
	font-size: 16px;
	margin: 10px 0px 0px 0px;
}
ol.hashTabber-nav.hashTabber-sandstone>li>a:hover {
	background-color: #FDF3E9;
	border-left: 4px solid #F08619;
	border-radius: 0px;
}
ol.hashTabber-data.hashTabber-sandstone {
	webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
width:900px;
vertical-align: top;
-webkit-border-radius: 0.25rem;
-moz-border-radius: 0.25rem;
-ms-border-radius: 0.25rem;
-o-border-radius: 0.25rem;
border-radius: 0.25rem;
background: url(../images/abg.png) repeat-y center top;
padding: 1rem 1.5rem 1.5rem 1rem;
border-bottom: 1px solid #eee;
min-height: 50rem;
border-left: 1px solid #eee;
	
}
ol.hashTabber-data.hashTabber-sandstone>li h3 {
	padding-bottom: 0.5rem;
	color: #008ED8;
	text-align: left;
	margin: 1rem 0px 10px 3rem;
}
.po-0q{width: 1100px;
margin: 0 auto;}
.ki-0p{width: 255px !important;
margin: 0rem 0px 0px 10rem !important;
float: right !important;
text-align: left !important;}
.iu-0f{width: 435px !important;}
.oi-0o{float: left;
font-size: 15px;
font-weight: 300;
color: rgb(17, 17, 17);
padding: 1rem;}
.spn-00{float: right;
color: rgb(186, 186, 186);
padding-right: 1rem;
padding-top: 1rem;}
.io0-0{width: 790px !important;margin: 0px 0px 0px 14px !important;height: 81px;}
.o0-0p{width: 810px;
height: 130px;
background: rgb(252, 252, 252) none repeat scroll 0% 0%;
border-bottom: 0.4em solid rgb(238, 238, 238);
margin: 20px 0px 0px 30px;}
.o0-0p:hover{border:1px solid #F08619; box-shadow:0px 1px 2px #F08619}
.chan-00{float:right;}
.chan-00 ul li{
float: left;
background: #EBEBEB;
padding: 1px 10px 1px 10px;
margin: 35px 5px 1px 5px;}
.chan-00 ul li:hover{background:#F08619;color:#fff !important;}