.mui-content {
	padding:0 1.875% 0;
	position: relative;
}
/*图标部分*/
.icon {
	width: 100%;
	text-align: center;
	margin-top: 2rem;
}
.icon>div {
	margin: 0 auto;
	width: 9rem;
	height: 9rem;
	background: url(../images/bg-manage-01.png) center center no-repeat;
	background-size: 50%;
	background-color: #00d6b3;
	border-radius: 50%;
}
.icon h4 {
	font-size: 1.4rem;
	margin-top: 1rem;
	line-height: 2rem;
	color: #333333;
}
.icon p {
	font-size: 1rem;
}
.icon p span {
	font-size: 1.2rem;
	color: #f08519;
	font-weight: bold;
}

.mui-content>a {
	position: absolute;
	right: 3rem;
	top: 11rem;
	display: block;
	width: 3rem;
	height: 3rem;
	border-top: 2px solid #a5a5a5;
	border-right: 2px solid #a5a5a5;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}
/*列表部分*/
.list-box {
	margin-top: 2rem;
}
.list-box .list {
	border-bottom: 1px solid #e4e4e4;
}
.list-box li span {
	display:block;
	float: left;
	text-align: center;
	font-size: 1rem;
	line-height: 3rem;
}
li .li-01 {width: 20%;}
li .li-02 {width: 25%;}
li .li-03 {width: 25%;}
li .li-04 {width: 15%;}
li .li-05 {width: 15%;}

.list-box li:first-child {
	background-color: #f08519;
	color: #333333;
	border-radius: 0 0 0.8rem 0.8rem;
}
.list-box li:first-child span {
	color: #fff;
}

