{% extends "project_base.html" %} {%load staticfiles%} {% block js %}
<script type="text/javascript" src="{%static 'js/ajaxfileupload.js'%}"></script>
<script type="text/javascript">
	$.ajaxSetup({
		data: {
			csrfmiddlewaretoken: '{{ csrf_token }}'
		},
	});
	var data = '<table width="100%"><tr><th>项目编号</th><th>项目名称</th><th>投资日期</th><th>是否复投</th><th>提交手机号</th>' +
		'<th>投资金额</th><th>投资标期</th><th>预估消耗</th><th>投资来源</th><th>返现金额</th><th>审核状态</th><th>审核时间</th><th>备注</th>' +
		'<th>操作</th></tr>[results]<tr id="parent{id}"><td>{project}</td><td>{projectname}</td><td>{invest_time}</td><td>{futou_des}</td>' +
		'<td>{invest_mobile}</td><td>{invest_amount}</td><td>{invest_term}</td><td>{settle_amount}</td><td>{source_des}</td><td>{return_amount}</td>' +
		'<td>{state_des}</td><td>{audit_time}</td><td>{remark}</td>' +
		'<td id="item_{id}"><a class="delete-btn" onclick="refuse({id})">删除</a> | <a class="audit-btn" onclick="audit(this,{id})">审核</a></td></tr>[/results]</table>';
    var data_1 = '<table width="100%"><tr><th>项目编号</th><th>项目名称</th><th>投资日期</th><th>是否复投</th><th>提交手机号</th>' +
        '<th>投资金额</th><th>投资标期</th><th>预估消耗</th><th>投资来源</th><th>返现金额</th><th>审核状态</th><th>审核时间</th><th>备注</th>' +
        '<th>操作</th></tr>[results]<tr id="parent{id}"><td>{project}</td><td>{projectname}</td><td>{invest_time}</td><td>{futou_des}</td>' +
        '<td>{invest_mobile}</td><td>{invest_amount}</td><td>{invest_term}</td><td>{settle_amount}</td><td>{source_des}</td><td>{return_amount}</td>' +
        '<td>{state_des}</td><td>{audit_time}</td><td>{remark}</td>' +
        '<td id="item_{id}"><a class="delete-btn" onclick="refuse({id})">删除</a> | <a class="audit-btn" onclick="audit(this,{id})">审核</a></td></tr>[/results]</table>';
	var url = "/project/investdata/" + "?page={page}";
	var url2 = "/project/investdata/";
	
	var project_flag;		// project_flag = -1 时，为导入单条数据；project_flag != -1 时，为修改单条数据
	var parent;
	var that;
	
	function refuse(id) {		//弹出删除项目数据弹窗
		$("input#project_delete_id").val(id);
		$(".delete-project").show();
	}
	function audit(obj,id) {      //弹出审核项目数据弹窗
        $("input#project_audit_id").val(id);
        $('input[name="source"]').prop('checked', false);
        $('#return_amount').val('');
        that = obj;
        $.ajax({
            url: url2 + id + "/",
            dataType: "json",
            type: "get",
            success: function(ret) {
                console.log(ret);
                if (ret.state == 0) {
                    var radio_dom = 'input[value="'+ ret.source +'"]';
                    $(radio_dom).prop('checked', true);
                    $('#return_amount').val(ret.return_amount);
                }
                $(".audit-project").show();
            },
            error: function(ret) {
                alert(JSON.stringify(ret));
            }
        });
    }
	
	
	$(document).ready(function() {
		$("li.home15").addClass("show-project").toggleClass("on");
		$("li.home5").toggleClass("show");
		$(".Tin-table tr:even").css("background-color", "#fcfcfc");
		
		var choose_file = document.getElementById("input_clone");
		var hint = document.getElementById("hint");
		choose_file.onclick = function() {
			document.getElementById("fileupload1").click();
		};
		
		$("#pagedata").ajaxPage({
			url: url,
			pageId: $("#page"),
			run: true,
			content: data,
		});
		
		
		$(".none-x, .none-x-s").click(function() {		// 关闭或取消 弹窗
			$(".project-box").hide(); 
		})
		
		
		$('#delete_project_btn').click(function() {		//点击确认按钮删除单条项目数据
			project_flag = $("input#project_delete_id").val();
			console.log(url2 + project_flag);
			
			$.ajax({
				url: url2 + project_flag + "/",
				dataType: "json",
				type: "DELETE",
				success: function(ret) {
						alert("操作成功！");
				},
				error: function(ret) {
					alert(JSON.stringify(ret));
				}
			});
			$(".delete-project").hide();
		});
		$('#audit_project_btn').click(function() {       //点击确认按钮审核单条项目数据
            project_flag = $("input#project_audit_id").val();
            console.log(url2 + project_flag);
            var return_amount = $("#return_amount").val();
            var project_source = $("input[name='source']:checked").val();
            if (!return_amount || !project_source) {
            	alert('请选择项目来源或填写返现金额');
            	return;
            }
            
            $.ajax({
                url: url2 + project_flag + "/",
                dataType: "json",
                type: "put",
                data: {
                    'state': 0,
                    'source': project_source,
                    'return_amount': return_amount,
                },
                success: function(ret) {
                        $(that).parent().html('审核成功');
                        alert("操作成功！");
                },
                error: function(ret) {
                    alert(JSON.stringify(ret));
                }
            });
            $(".audit-project").hide();
        });
		
		$("#search").click(function() {			//搜索项目数据
			var newurl = url;
			
			investtime_0 = $("#investtime_0").val();
			investtime_1 = $("#investtime_1").val();
			audittime_0 = $("#audittime_0").val();
			audittime_1 = $("#audittime_1").val();
			project_id = $("#project_id").val();
			name = $("#name").val();
			invest_mobile = $("#invest_mobile").val();
			invest_source = $("#invest_source").val();
			is_futou = $("#is_futou").val();
			state = $("#state").val();
			
			if(investtime_0) {
				newurl += "&investtime_0=" + investtime_0;
			}
			if(investtime_1) {
				newurl += "&investtime_1=" + investtime_1;
			}
			if(audittime_0) {
				newurl += "&audittime_0=" + audittime_0;
			}
			if(audittime_1) {
				newurl += "&audittime_1=" + audittime_1;
			}
			if(project_id) {
				newurl += "&project=" + project_id;
			}
			if(name) {
				newurl += "&name__contains=" + name;
			}
			if(invest_mobile) {
				newurl += "&invest_mobile=" + invest_mobile;
			}
			if(invest_source && invest_source != 0) {
				newurl += "&source=" + invest_source;
			}
			if(is_futou && is_futou != -1) {
				newurl += "&is_futou=" + is_futou;
			}
			if(state && state != -1) {
				newurl += "&state=" + state;
			}
			console.log(newurl);
			
			var newdata = data;
			if (state == 1) {
				newdata = data_1;
			}
			$("#page").empty();
			$("#pagedata").ajaxPage({
				url: newurl,
				pageId: $("#page"),
				run: true,
				content: newdata,
			});
		});
		
		$("#export").click(function() {			//导出表格
			investtime_0 = $("#investtime_0").val();
			investtime_1 = $("#investtime_1").val();
			audittime_0 = $("#audittime_0").val();
			audittime_1 = $("#audittime_1").val();
			project_id = $("#project_id").val();
			name = $("#name").val();
			invest_mobile = $("#invest_mobile").val();
			invest_source = $("#invest_source").val();
			is_futou = $("#is_futou").val();
			state = $("#state").val();
			
			var html = '<form action="' + "{% url 'export_investdata_excel' %}" + '" method="get" target="_self" id="postData_form">';
			
			if(investtime_0) {
				html += '<input name="investtime_0" type="hidden" value="' + investtime_0 + '"/>';
			}
			if(investtime_1) {
				html += '<input name="investtime_1" type="hidden" value="' + investtime_1 + '"/>';
			}
			
			if(audittime_0) {
				html += '<input name="audittime_0" type="hidden" value="' + audittime_0 + '"/>';
			}
			if(audittime_1) {
				html += '<input name="audittime_1" type="hidden" value="' + audittime_1 + '"/>';
			}
			
			if(project_id) {
				html += '<input name="project_id" type="hidden" value="' + project_id + '"/>';
			}
			if(name) {
				html += '<input name="name__contains" type="hidden" value="' + name + '"/>';
			}
			
			if(invest_mobile) {
				html += '<input name="invest_mobile" type="hidden" value="' + invest_mobile + '"/>';
			}
			if(invest_source && invest_source != 0) {
				html += '<input name="source" type="hidden" value="' + invest_source + '"/>';
			}
			if(is_futou && is_futou != -1) {
				html += '<input name="is_futou" type="hidden" value="' + is_futou + '"/>';
			}
			if(state && state != -1) {
				html += '<input name="state" type="hidden" value="' + state + '"/>';
			}
			
			html += '</form>';
			var iframe = document.getElementById('myIFrame');
			iframe.contentWindow.document.open();
			iframe.contentWindow.document.write(html);
			iframe.contentWindow.document.close();
			document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
		});
		
		$('#import').click(function() {			//导入表格
			var fileElementId = 'fileupload1';
			if(!document.getElementById(fileElementId).value) {
				alert("请先选择文件");
				return;
			}
			$.ajaxFileUpload({
				url: "{% url 'import_projectdata_excel'%}",
				secureuri: false,
				fileElementId: fileElementId, //file标签的id
				dataType: 'json', //返回数据的类型
				data: {}, //一同上传的数据
				success: function(data, status) {
					if(data.code == 0) {
						alert("导入成功！ 数量：" + data.num);
					} else {
						alert(data.msg + " 成功数量：" + data.num);
					}
				},
				error: function(data, status, e) {
					alert(e);
				}
			});
			//	hint.innerHTML = '无';
		});
		$('#audit_import').click(function() {			//导入表格
			var fileElementId = 'fileupload1';
			if(!document.getElementById(fileElementId).value) {
				alert("请先选择文件");
				return;
			}
			$.ajaxFileUpload({
				url: "{% url 'import_audit_projectdata_excel'%}",
				secureuri: false,
				fileElementId: fileElementId, //file标签的id
				dataType: 'json', //返回数据的类型
				data: {}, //一同上传的数据
				success: function(data, status) {
					if(data.code == 0) {
						alert("导入成功！ 数量：" + data.num);
					} else {
						alert(data.msg + " 成功数量：" + data.num);
					}
				},
				error: function(data, status, e) {
					alert(e);
				}
			});
			//	hint.innerHTML = '无';
		});
		$('#audit_import_except').click(function() {			//导入表格
			var fileElementId = 'fileupload1';
			if(!document.getElementById(fileElementId).value) {
				alert("请先选择文件");
				return;
			}
			$.ajaxFileUpload({
				url: "{% url 'import_audit_projectdata_excel_except'%}",
				secureuri: false,
				fileElementId: fileElementId, //file标签的id
				dataType: 'json', //返回数据的类型
				data: {}, //一同上传的数据
				success: function(data, status) {
					if(data.code == 0) {
						alert("导入成功！ 数量：" + data.num);
					} else {
						alert(data.msg + " 成功数量：" + data.num);
					}
				},
				error: function(data, status, e) {
					alert(e);
				}
			});
			//	hint.innerHTML = '无';
		});

	});
</script>
{% endblock js %} {% block right %}
<div class="Criteria">
	<span>搜索条件</span>
	<div class="Crite-box">
		<form>
			<table width="100%">
				<tr>
					<td>
						<i>投资日期-start：</i>
						<input id="investtime_0" type="date" />
					</td>
					<td>
						<i>投资日期-end：</i>
						<input id="investtime_1" type="date" />
					</td>
					<td>
						<i>审核时间-start：</i>
						<input id="audittime_0" type="date" />
					</td>
					<td>
						<i>审核时间-end：</i>
						<input id="audittime_1" type="date" />
					</td>
				</tr>
				<tr>
					<td>
						<i style="letter-spacing:4.8px;">项目编号：</i>
						<input id="project_id" type="text" />
					</td>
					<td>
						<i style="letter-spacing:4.8px;">项目名称：</i>
						<input id="name" type="text" />
					</td>
					<td>
						<i style="letter-spacing:4.8px;">提交手机号：</i>
						<input id="invest_mobile" type="text" />
					</td>
					<td>
						<i style="letter-spacing:4.8px;">投资来源</i>
						<select name="selectAge" id="invest_source">
							<option value="0">全部</option>
							<option value="site">网站</option>
							<option value="channel">渠道</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<i style="letter-spacing:4.8px;">投资方式</i>
						<select name="selectAge" id="is_futou">
							<option value="-1">全部</option>
							<option value="false">首投</option>
							<option value="true">复投</option>
						</select>
					</td>
					<td>
						<i style="letter-spacing:4.8px;">审核状态</i>
						<select name="selectAge" id="state">
							<option value="-1">全部</option>
							<option value="0">已审核</option>
							<option value="1">待审核</option>
						</select>
					</td>
				</tr>
			</table>
			<div class="Submit-in">
				<input id="search" type="button" value="搜索" />
				<input id="export" type="button" value="导出" />
			</div>
			<div class="leading-in">
				<input id="fileupload1" name="file" type="file" onchange='hint.innerHTML = this.files[0].name;' />
				<a id="input_clone" class="input-clone">选择文件</a>
				<p class="hint-box">已选择表格：<b id="hint" class="hint">无</b></p>
				<input id="import" type="button" value="表格导入" />
				<a class="download-templete" href="/static/download/projectdata_init_template.xls">获取初始导入模版</a>
				<input id="audit_import" type="button" value="审核数据导入" />
				<input id="audit_import_except" type="button" value="异常数据导入" />
			</div>
		</form>
	</div>
</div>

<div class="Tin-table">
	<div id="pagedata">
	</div>
	<div class="Page-in-admin">
		<div class="page" id="page">
		</div>
	</div>
</div>
{%endblock%} {% block modal %}

<!--删除项目弹窗-->
<div class="delete-project project-box">
	<div class="w570-box">
		<h3>确认删除该条数据？</h3>
		<button class="none-x"></button>
		<form class="Audit-in">
			<input id="project_delete_id" type="hidden" />
			<div class="Finnow-Sub">
				<input id="delete_project_btn" type="submit" value="确认" class="Deny-box" onclick="return false;" />
				<input type="button" value="取消" class="none-x-s" />
			</div>
		</form>
	</div>
</div>
<!--审核项目弹窗-->
<div class="audit-project project-box">
    <div class="w570-box">
        <h3>审核数据？</h3>
        <button class="none-x"></button>
        <form class="Finnow set-project">
            <input id="project_audit_id" type="hidden" />
            <p style="margin-left: -116px;">
                <span>项目来源：</span>
                <input id="project-site" class="project-source" type="radio" name="source" value="site" />网站&nbsp;&nbsp;
                <input id="project-channel" class="project-source" type="radio" name="source" value="channel" />渠道
            </p>
            <p>
                <span>返现金额：</span>
                <input id="return_amount" type="text" />
            </p>
            <div class="Finnow-Sub">
                <input id="audit_project_btn" type="submit" value="确认" class="Deny-box" onclick="return false;" />
                <input type="button" value="取消" class="none-x-s" />
            </div>
        </form>
    </div>
</div>
<iframe id="myIFrame" scrolling="yes" src="abount:blank" style="display:none" frameborder=1></iframe>
<!--end-->
{% endblock modal %}