{% extends "project_base.html" %} {%load staticfiles%} {% block js %}
<script type="text/javascript" src="{%static 'js/ajaxfileupload.js'%}"></script>
<script type="text/javascript">
	$.ajaxSetup({
		data: {
			csrfmiddlewaretoken: '{{ csrf_token }}'
		},
	});
	var data = '<table width="100%"><tr><th>项目编号</th><th>立项日期</th><th>结项日期</th><th>项目名称</th>' +
		'<th>预计待收/待消耗</th><th>预计总消耗</th><th>总返现金额</th><th>预估渠道消耗</th><th>渠道返现金额</th><th>预估网站消耗</th><th>网站返现金额</th><th>项目状态</th>' +
		'</tr>[results]<tr id="parent{id}"><td>{project}</td><td>{start_time}</td><td>{finish_time}</td><td>{projectname}</td>' +
		'<td>{topay_amount}</td><td>{consume}</td><td>{ret}</td><td>{channel_consume}</td><td>{channel_return}</td><td>{site_consume}</td>' +
		'<td>{site_return}</td><td>{state_des}</td></tr>[/results]</table>';
	var url = "/project/projectstatis/" + "?page={page}";
	var url2 = "/project/projectstatis/";
	
	$(document).ready(function() {
		$("li.home15").addClass("show-project").toggleClass("on");
		$("li.home2").toggleClass("show");
		$(".Tin-table tr:even").css("background-color", "#fcfcfc");
		
		$("#pagedata").ajaxPage({
			url: url + '&project_state=start',
			pageId: $("#page"),
			run: true,
			content: data,
		});
		
		$("#search").click(function() {			//搜索项目数据
			var newurl = url;
			
			dateft_0 = $("#dateft_0").val();
			dateft_1 = $("#dateft_1").val();
			name = $("#name").val();
			contact_person = $("#contact_person").val();
			project_id = $("#project_id").val();
			state = $("#state").val();
			
			if(dateft_0) {
				newurl += "&dateft_0=" + dateft_0;
			}
			if(dateft_1) {
				newurl += "&dateft_1=" + dateft_1;
			}
			if(project_id) {
				newurl += "&project=" + project_id;
			}
			if(name) {
				newurl += "&name__contains=" + name;
			}
			if(contact_person) {
				newurl += "&contact=" + contact_person;
			}
			if(state && state != 0) {
				newurl += "&project_state=" + state;
			}
			console.log(newurl);
			
			var newdata = data;
			$("#page").empty();
			$("#pagedata").ajaxPage({
				url: newurl,
				pageId: $("#page"),
				run: true,
				content: newdata,
			});
		});
		
		$("#export").click(function() {			//导出表格
			dateft_0 = $("#dateft_0").val();
			dateft_1 = $("#dateft_1").val();
			name = $("#name").val();
			contact_person = $("#contact_person").val();
			project_id = $("#project_id").val();
			state = $("#state").val();
			
			var html = '<form action="' + "{% url 'export_project_statis' %}" + '" method="get" target="_self" id="postData_form">';
			
			if(dateft_0) {
				html += '<input name="dateft_0" type="hidden" value="' + dateft_0 + '"/>';
			}
			if(dateft_1) {
				html += '<input name="dateft_1" type="hidden" value="' + dateft_1 + '"/>';
			}
			
			if(name) {
				html += '<input name="name" type="hidden" value="' + name + '"/>';
			}
			
			if(contact_person) {
				html += '<input name="contact_person" type="hidden" value="' + contact_person + '"/>';
			}
			
			if(project_id) {
				html += '<input name="id" type="hidden" value="' + project_id + '"/>';
			}
			if(state) {
				html += '<input name="project_state" type="hidden" value="' + state + '"/>';
			}
			
			html += '</form>';
			var iframe = document.getElementById('myIFrame');
			iframe.contentWindow.document.open();
			iframe.contentWindow.document.write(html);
			iframe.contentWindow.document.close();
			document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
		});
		
	});
</script>
{% endblock js %} {% block right %}
<div class="Criteria">
	<span>搜索条件</span>
	<div class="Crite-box">
		<form>
			<table width="100%">
				<tr>
					<td>
						<i>立项开始日期：</i>
						<input id="dateft_0" type="date" />
					</td>
					<td>
						<i>立项结束日期：</i>
						<input id="dateft_1" type="date" />
					</td>
					<td>
						<i style="letter-spacing:4.8px;">项目编号：</i>
						<input id="project_id" type="text" />
					</td>
					<td>
						<i style="letter-spacing:4.8px;">项目名称：</i>
						<input id="name" type="text" />
					</td>
				</tr>
				<tr>
					<td>
						<i style="letter-spacing:4.8px;">项目状态</i>
						<select name="selectAge" id="state">
							<option value="start">正在进行</option>
							<option value="finish">已结项</option>
							<option value="0">全部</option>
						</select>
					</td>
				</tr>
				
			</table>
			<div class="Submit-in">
				<input id="search" type="button" value="搜索" />
				<input id="export" type="button" value="导出" />
			</div>
		</form>
	</div>
</div>

<div class="Tin-table">
	<div id="pagedata">
	</div>
	<div class="Page-in-admin">
		<div class="page" id="page">
		</div>
	</div>
</div>
<iframe id="myIFrame" scrolling="yes" style="display:none" frameborder=1></iframe>
{%endblock%} {% block modal %}

<!--end-->
{% endblock modal %}