<meta content="text/html; charset=utf-8" />
<div style="margin:0 auto; width:580px" width="580">
      <div style="">
        <span style="font-size:18px; margin-left:17px; vertical-align:-8px">挖福利欢迎您！</span>
      </div>
      <div style="background:#fff; border:1px solid #DDE0E5; border-radius:6px; margin:20px 0 0; padding:17px 60px 0">
        
        <p style="margin:15px 0">你好！</p>
        <p style="margin:15px 0">感谢你使用挖福利。<br>
          请点击以下链接激活账号：</p>
        <p style="margin:15px 0"><a target="_blank" href="{{url}}" style="color:#4C7BD5">{{url}}</a></p>
        <p style="margin:15px 0">如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏进入挖福利用户中心。 （该链接在48小时内有效，48小时后需要重新激活）</p>
        <p style="margin:15px 0; margin-bottom:32px; margin-top:92px">挖福利团队</p>
      </div>
</div>