{% load staticfiles %}
<div class="LeftNav">
	<ul>
	   	<li><a href="{% url 'account_index' %}" class="back-a1">用户中心</a></li>
	   	<li><a href="{% url 'account_welfare' %}" class="back-a2">福利管理</a></li>
	   	<li><a href="{% url 'account_score' %}" class="back-a3">积分管理</a></li>
	   	<li><a href="{% url 'account_security' %}" class="back-a4">账户管理</a></li>
	   	<li><a href="{% url 'account_security' %}" class="back-a5">安全中心</a></li>
	   	<li><a href="{% url 'account_alipay' %}" class="back-a6">支付宝绑定</a></li>
	   	<li><a href="{% url 'account_money' %}" class='back-a7'>资金管理</a></li>
	   	<li><a href="{% url 'account_money' %}" class="back-a8">资金记录</a></li>
	   	<li><a href="{% url 'account_withdraw' %}" class="back-a9">提现</a></li>
	   	<li><a href="{% url 'account_coupon' %}" class="back-a10">我的奖励</a></li>
	   	<li><a href="{% url 'account_coupon' %}" class="back-a11">我的优惠券</a>

	   	</li>
	   	<li><a href="{% url 'account_invite' %}" class="back-a12">推荐好友</a></li>
	   	<li>
	   		<a href="{% url 'account_message' %}" class="back-a13">消息中心</a>
	   	</li>
	   </ul>
</div>
<script>
$(function(){
	$.ajax({
		url:"{%url 'get_nums' %}",
		dataType:"json",
		success:function(ret){
			if(ret.coupon_num > 0){
				$(".back-a11").after('<div class="info-xin">'+ret.coupon_num+'</div>');
			}
			if(ret.message_num > 0){
				$(".back-a13").after('<div class="info-xin">'+ret.message_num+'</div>');
			}
		},
		error:function(){
			alert("请检查网络连接");
		}
	});
});
</script>