{% load staticfiles %}
{% load myfilter %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>个人中心</title>
    <script src="{% static 'js/mui.min.js' %}"></script>
    <link href="{% static 'css/mui.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/m_common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/m_account_index.css' %}"/>
</head>

	<body>
		<div class="mui-content">
      <div class="top">
        <a id="settings" class="diannao" href="{% url 'account_settings' %}"><i class="icon iconfont">&#xe631;</i></a>
        <div  id="user_logo" class="user-logo">
          <img id="userimg" src="/static/images/user-0{{user.id| modulo:'4'}}.png" alt="用户头像" />
          <img id="Vip_logo" class="vip-logo" src="/static/images/vip1.png" />
        </div>
        <a>
          <number id="mobile">{{user.mobile}}</number>
        </a>
        {% if isSigned %}
        	<button id="qiandao" type="button" disabled="disabled" class="mui-btn qiandao">今日已签到</button>
        {% else %}
        	<button id="qiandao" type="button" class="mui-btn qiandao">签到+5积分</button>
        {% endif %}

      </div>
      <div class="person-bg">
        <img src="{% static 'images/person-bg.png' %}" alt="背景图片" />
      </div>
      <p id="add_jifen" class="add-jifen">
        <number>+5</number>积分</p>

			<ul class="mui-row row-middle">
		        <div class="mui-col-sm-4 mui-col-xs-4">
		            <li class="first mui-table-view-cell">
		                <a>
		                    	累计收益(福币)<br /><br /><span><number>{{user.accu_income}}</number></span>
		                </a>
		            </li>
		        </div>
		        <div class="mui-col-sm-4 mui-col-xs-4">
		            <li class="mui-table-view-cell">
		                <a>
		                    	剩余福币<br /><br /><span><number>{{user.balance}}</number></span>
		                </a>
		            </li>
		        </div>
		        <div class="mui-col-sm-4 mui-col-xs-4">
		            <li class="mui-table-view-cell">
		                <a>
		                    	剩余积分<br /><br /><span><number>{{user.scores}}</number></span>
		                </a>
		            </li>
		        </div>
    		</ul>

      <ul class="mui-row row-bottom">
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_withdraw' %}">
            <i class="icon iconfont">&#xe627;</i>
            <p>提现</p>
          </a>
        </li>

        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_charge' %}">
            <i class="icon iconfont">&#xe632;</i>
            <p>福币管理</p>
          </a>
        </li>
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_score' %}">
            <i class="icon iconfont">&#xe60c;</i>
            <p>积分管理</p>
          </a>
        </li>

        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_welfare' %}">
            <i class="icon iconfont">&#xe651;</i>
            <p>福利管理</p>
          </a>
        </li>
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_coupon' %}">
            <i class="icon iconfont">&#xe611;</i>
            <p>优惠券管理</p>
          </a>
        </li>

        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'strategy' %}">
            <i class="icon iconfont">&#xe630;</i>
            <p>挖福利攻略</p>
          </a>
        </li>
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_invite' %}">
            <i class="icon iconfont">&#xe664;</i>
            <p>邀请好友</p>
          </a>
        </li>
        {%if anymessage%}
        <li class="mui-table-view-cell user-msg mui-col-sm-3 mui-col-xs-3">
        {%else%}
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
        {%endif%}
            <a class="icon-url" href="/account/message/">
              <i class="icon iconfont">&#xe61d;</i>
                <p>消息中心</p>
            </a>
        </li>
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_join_QQGroup' %}">
            <i class="icon iconfont">&#xe62e;</i>
            <p>加入QQ群</p>
          </a>
        </li>
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_custom_service' %}">
            <i class="icon iconfont">&#xe643;</i>
            <p>QQ客服</p>
          </a>
        </li>
        {%if user.is_channel%}
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="{% url 'account_channel' %}">
            <i class="icon iconfont">&#xe613;</i>
            <p>渠道数据提交</p>
          </a>
        </li>
        {%endif%}
        <li class="mui-table-view-cell mui-col-sm-3 mui-col-xs-3">
          <a class="icon-url" href="#">
            <span class="vip-icon"></span>
            <p>会员中心</p>
          </a>
        </li>
      </ul>

		</div>

		<!--底部导航-->
	<footer>
    	<ul class="clearfix tc">
        	<li>
            	<a href="{%url 'index'%}">
                <i class="icon iconfont">&#xe649;</i>
            	<span>免费福利</span>
                </a>
            </li>
        	<li>
            	<a href="{%url 'task'%}">
                <i class="icon iconfont">&#xe641;</i>
            	<span>体验福利</span>
                </a>
            </li>
        	<li>
            	<a href="{%url 'finance'%}">
                <i class="icon iconfont">&#xe63f;</i>
            	<span>理财福利</span>
                </a>
            </li>
        	<li class="on">
            	<a href="{%url 'account_index'%}">
                <i class="icon iconfont">&#xe652;</i>
            	<span>个人中心</span>
                </a>
            </li>
        </ul>
    </footer>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
        var qiandao_btn = document.getElementById("qiandao"),
            add_jifen = document.getElementById("add_jifen");
        qiandao_btn.addEventListener("tap",function () {
        	mui.ajax({
      			url:"{%url 'signin' %}",
      			dataType:"json",
      			success:function(ret){
      				if(ret.code==0){
      					add_jifen.style.display = "block";
     			            qiandao_btn.innerHTML = "今日已签到";
     			            qiandao_btn.disabled = "disabled";
      				}
      				else if((ret.code==1)){
      			        qiandao_btn.innerHTML = "今日已签到";
      			        qiandao_btn.disabled = "disabled";
      				}
      				else if(ret.code==-1){
      					alert("该页面已过期，请重新登录！");
      					window.location.href = ret.url;
      				}
      			},
      			error:function(){
      				alert("请检查网络连接");
      			}
      		});
        });

        window.onload=function() {
          var Vip_logo = mui(".vip-logo")[0];
          var fubi_num = 9000;  //提现金额
          var percent = 0;
          var num;
          if (fubi_num >= 100000 ) {
            num = 5;
            Vip_logo.setAttribute("src","/static/images/vip5.png");
          } else if(fubi_num >= 50000  && fubi_num< 100000) {
            num = 4;
            Vip_logo.setAttribute("src","/static/images/vip4.png");
          } else if(fubi_num >= 10000  && fubi_num< 50000) {
            num = 3;
            Vip_logo.setAttribute("src","/static/images/vip3.png");
          } else if(fubi_num >= 1000  && fubi_num< 10000) {
            num = 2;
            Vip_logo.setAttribute("src","/static/images/vip2.png");
          } else if(fubi_num >= 100  && fubi_num< 1000) {
            num = 1;
            Vip_logo.setAttribute("src","/static/images/vip1.png");
          } else {
            num = 0;
            Vip_logo.style.display = "none";
          }
        }
    </script>
    {%if back %}
	<script>
	mui.back = function(){
		var history = window.history;
		if (history.length > 3 ){
			history.go(-3);
		}
		else{
			history.back();
		}
	};
	</script>
	{%endif%}
<!-- 	<script>
	document.getElementById("switch_device").addEventListener("tap",function(){
    	setCookie('mode', 'pc', 1, 'wafuli.cn');
    	window.location.href = "http://www.wafuli.cn";
    });
	</script> -->
	<script src="{%static 'js/cookie.js'%}"></script>
	</body>

</html>
