{% load staticfiles %}
{% load myfilter %}
<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<!-- 优先使用 IE 最新版本和 Chrome -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- 为移动设备添加 viewport -->
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<!-- 添加到主屏后的标题（iOS 6 新增） -->
		<meta name="apple-mobile-web-app-title" content="">
		<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- 设置苹果工具栏颜色 -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
		<meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
		<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta name="format-detection" content="telphone=no, email=no" />
		<!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<title></title>

		<link href="{%static 'css/mui.min.css'%}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{%static 'css/m_common.css'%}" />
		<link rel="stylesheet" type="text/css" href="{%static 'css/m_account_charge.css'%}" />
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">资金管理</h1>
		</header>
		<div class="mui-content">
			<!--帐号部分-->
			<div class="content-box">
				<div class="msg clearfix">
					<img src="/static/images/user-0{{user.id| modulo:'4'}}.png" alt="用户头像" />
					<div class="text">
						<p><number>{{user.mobile}}</number><br />
						<span>剩余福币：<strong><number>&nbsp;{{user.balance}}&nbsp;</number></strong>个</p>
					</div>
				    <button id="Btn" type="button" class="mui-btn mui-btn-warning">提&nbsp;现</button>
				</div>
				<div id="tab_head_01">
					<div class="tab-head clearfix">
							<h2>收入明细</h2>
							<a id="clk_01"><i class="icon iconfont">&#xe633;</i>切换到支出明细</a>
					</div>
					<div class="clearfix list-head">
			            <span>时间</span>
						<span>项目</span>
						<span>福币</span>
					</div>
				</div>
				<div id="tab_head_02" style="display: none;">
					<div class="tab-head clearfix">
							<h2>支出明细</h2>
							<a id="clk_02"><i class="icon iconfont">&#xe633;</i>切换到收入明细</a>
					</div>
					<div class="clearfix list-head">
			            <span>时间</span>
						<span>项目</span>
						<span>福币</span>
						<span>状态</span>
					</div>
				</div>
				<div id="finance_slider" class="mui-slider mui-fullscreen">
				<div class="mui-slider-group">

				<div id="box_01" class="box-01 mui-slider-item">
					    <div class="mui-slider-item mui-control-content">
					    	<div class="mui-scroll">
				            <ul class="mui-table-view">
							</ul>
						</div>
					</div>
				</div>
				<div id="box_02" class="box-02 mui-slider-item" style="display: none;">


					<div class="mui-slider-group">
					    <div class="mui-slider-item mui-control-content">
					    	<div class="mui-scroll">
				            <ul class="mui-table-view">
							</ul>
						</div>

					</div>
				</div>
				</div>
				</div>
				</div>
			</div>
		</div>

		<!-- </div> -->
		<script src="{%static 'js/mui.min.js'%}"></script>
		<script src="{%static 'js/mui.pullToRefresh.js'%}"></script>
		<script src="{%static 'js/mui.pullToRefresh.material.js'%}"></script>
		<script>
			mui.init();
			var get_charge_url = "{% url 'charge_json' %}";
			(function($) {
				//阻尼系数
				var deceleration = mui.os.ios?0.003:0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: true,
					indicators: true, //是否显示滚动条
					deceleration:deceleration
				});
				$.ready(function() {
					//循环初始化所有上拉加载
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						var count = 0;
						$(pullRefreshEl).pullToRefresh({
							up: {
								auto:true,
								callback: function() {
									var self = this;
									var ul = self.element.querySelector('.mui-table-view');
									get_charge_list(this,ul,count++,index);
								//		ul.appendChild(createFragment(ul, index, 5));
									//	self.endPullUpToRefresh(true);
								}
							}
						});
					});

					function get_charge_list(obj,ul,n,index){
						mui.ajax(get_charge_url,{
							data:{
								count:n,
								type:index,
							},
							dataType:'json',//服务器返回json格式数据
							type:'get',//HTTP请求类型
							timeout:3000,//超时时间设置为10秒；
//							headers:{'Content-Type':'application/json'},
							success:function(data){
								if (!data.length){
									obj.endPullUpToRefresh(true);
								}
								else {
									obj.endPullUpToRefresh(false);//参数为true代表没有更多数据了。
									var table = document.body.querySelector('.mui-table-view');
//									var cells = document.body.querySelectorAll('.mui-table-view-cell');
									for (var i in data) {
										var record = data[i];
										var li = document.createElement('li');
										li.className = 'mui-table-view-cell';
										str_html = '<li class="list clearfix"><span><number>' + record.date +
										'</number></span><span>' + record.reason + '</span><span><number>';
										if (index===0){
											str_html += '+ ';
										}
										else if(index===1){
											str_html += '- ';
										}
										str_html += record.amount + '</number></span>';
										if (index===0){
											str_html += '</li>';
										}
										else if(index===1){
											str_html += '<span>' + record.state + '</span></li>';
										}
										li.innerHTML = str_html
										ul.appendChild(li);
									}
								}
							},
							error:function(xhr,type,errorThrown){
								alert(type);
							}
						});
					}
				});
			})(mui);
		</script>
		<script type="text/javascript">
			var box_01 = document.getElementById("box_01"),
			box_02 = document.getElementById("box_02"),
			clk_01 = document.getElementById("clk_01"),
      		clk_02 = document.getElementById("clk_02"),
      		tab_head_01 = document.getElementById("tab_head_01"),
      		tab_head_02 = document.getElementById("tab_head_02");

	      	clk_01.addEventListener("tap",function () {
					box_02.style.display = "block";
					box_01.style.display = "none";
					tab_head_01.style.display = "none";
					tab_head_02.style.display = "block";
			});
			clk_02.addEventListener("tap",function () {
					box_01.style.display = "block";
					box_02.style.display = "none";
					tab_head_01.style.display = "block";
					tab_head_02.style.display = "none";
			});

			document.getElementById('Btn').addEventListener("tap",function(){
				mui.openWindow({
		            url: "{% url 'account_withdraw' %}",
		            styles: {
		                top: 0,
		                bottom: 0
		            },
		            show: {
		                aniShow: 'slide-in-right',
		            },
		            waiting: {
		                autoShow: false, //自动显示等待框
		                title: '正在加载...', //等待对话框上显示的提示内容
		            }
		        });
			});
		</script>
	</body>

</html>





