{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title></title>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/youhuiquan-guanli.css"/>

</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">优惠券管理</h1>
</header>
<div class="mui-content">
	
    <!--选项卡部分-->
    <div id="finance_slider" class="mui-slider mui-fullscreen">
        <div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <a class="mui-control-item" href="#item1">使用券</a>
            <a class="mui-control-item" href="#item2">加息券</a>
            <a class="mui-control-item" href="#item3">现金券</a>
            <a class="mui-control-item" href="#item4">兑换记录</a>
            <!--<a class="mui-control-item" href="#item5">优惠券</a>-->
        </div>
        <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-3"></div>
        <div class="mui-slider-group">
            <div id="item1" class="mui-slider-item mui-control-content mui-active">
            	<div id="scroll1" class="mui-scroll-wrapper">
            	<div class="mui-scroll">
                <ul class="mui-table-view">                	
                    <li class="mui-table-view-cell">
                    	<a class="clearfix" href="#">
                        	<div class="youhuiquan-left fl">
                        		<p class="use clearfix"><span class="use-01">使用说明：</span><span class="use-02">仅限新用户使用仅限新用户使用仅限新用户使用仅限新用户使用</span></p>
                        		<p>有效期至：<number>2016-12-12</number></p>
                        		<p><span>优惠券码：</span><number>jzy13254</number></p>
                        	</div>
                            <div class="youhuiquan-right fr">
                            	<img src="images/youhuiquan-icon.jpg" alt="优惠券商家图标" />
                            	<p>滴滴打车券</p>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell">
                    	<a class="clearfix" href="#">
                        	<div class="youhuiquan-left fl">
                        		<p class="use clearfix"><span class="use-01">使用说明：</span><span class="use-02">仅限新用户使用仅限新用户使用</span></p>
                        		<p>有效期至：<number>2016-12-12</number></p>
                        		<p><span>优惠券码：</span><number>jzy13254</number></p>
                        	</div>
                            <div class="youhuiquan-right fr">
                            	<img src="images/youhuiquan-icon.jpg" alt="优惠券商家图标" />
                            	<p>滴滴打车券</p>
                            </div>
                        </a>
                    </li>        
                    <li class="mui-table-view-cell">
                    	<a class="clearfix" href="#">
                        	<div class="youhuiquan-left fl">
                        		<p class="use clearfix"><span class="use-01">使用说明：</span><span class="use-02">仅限新用户使用仅限新用户使用仅限新用户使用仅限新用户使用</span></p>
                        		<p>有效期至：<number>2016-12-12</number></p>
                        		<p><span>优惠券码：</span><number>jzy13254</number></p>
                        	</div>
                            <div class="youhuiquan-right fr">
                            	<img src="images/youhuiquan-icon.jpg" alt="优惠券商家图标" />
                            	<p>滴滴打车券</p>
                            </div>
                        </a>
                    </li> 
                </ul>
                </div>
                </div>
            </div>
            <div id="item2" class="mui-slider-item mui-control-content">
            	<div id="scroll2" class="mui-scroll-wrapper">
            	<div class="mui-scroll">
                <ul class="mui-table-view">                	
                    <li class="mui-table-view-cell">
                    	<a class="clearfix" href="#">
                        	<div class="youhuiquan-left fl">
                        		<p class="use clearfix"><span class="use-01">使用说明：</span><span class="use-02">仅限新用户使用仅限新用户使用仅限新用户使用仅限新用户使用</span></p>
                        		<p>有效期至：<number>2016-12-12</number></p>
                        		<p><span>优惠券码：</span><number>jzy13254</number></p>
                        	</div>
                            <div class="youhuiquan-right fr">
                            	<img src="images/youhuiquan-icon.jpg" alt="优惠券商家图标" />
                            	<p>滴滴打车券</p>
                            </div>
                        </a>
                    </li>             
                </ul>
                </div>
                </div>
            </div>
            <div id="item3" class="mui-slider-item mui-control-content">
            	<div id="scroll3" class="mui-scroll-wrapper">
            	<div class="mui-scroll">
                <ul class="mui-table-view">                	
                    <li class="mui-table-view-cell">
                    	<a class="clearfix" href="#">
                        	<div class="youhuiquan-left fl">
                        		<p class="use clearfix"><span class="use-01">使用说明：</span><span class="use-02">仅限新用户使用仅限新用户使用仅限新用户使用仅限新用户使用</span></p>
                        		<p>有效期至：<number>2016-12-12</number></p>
                        		<p><span>优惠券码：</span><number>jzy13254</number></p>
                        	</div>
                            <div class="youhuiquan-right fr">
                            	<img src="images/youhuiquan-icon.jpg" alt="优惠券商家图标" />
                            	<p>滴滴打车券</p>
                            </div>
                        </a>
                    </li>
                    <li class="mui-table-view-cell">
                    	<a class="clearfix" href="#">
                        	<div class="youhuiquan-left fl">
                        		<p class="use clearfix"><span class="use-01">使用说明：</span><span class="use-02">仅限新用户使用仅限新用户使用仅限新用户使用仅限新用户使用</span></p>
                        		<p>有效期至：<number>2016-12-12</number></p>
                        		<p><span>优惠券码：</span><number>jzy13254</number></p>
                        	</div>
                            <div class="youhuiquan-right fr">
                            	<img src="images/youhuiquan-icon.jpg" alt="优惠券商家图标" />
                            	<p>滴滴打车券</p>
                            </div>
                        </a>
                    </li>
                </ul>
                </div>
                </div>
            </div>
            
            <div id="item4" class="mui-slider-item mui-control-content">
            <div id="pullrefresh" class="mui-scroll-wrapper">	
            
            	<!--<div id="scroll4" class="mui-scroll-wrapper">-->
            	<!--<div class="mui-scroll-02">-->
                <ul id="list-box" class="list-box mui-table-view">                			        
			        <li class="clearfix">
			            <span>类型</span>
			            <span>项目</span>
			            <span>优惠券面值</span>
			            <span>状态</span>
			        </li>
			        <li class="list clearfix">
			            <span><number>活动奖励</number></span>
			            <span><number>某某项目</number></span>
			            <span><number>250</number></span>
			            <span><numbe>审核中</numbe></span>
			        </li>
			        <li class="list clearfix">
			            <span><number>活动奖励</number></span>
			            <span><number>某某项目</number></span>
			            <span><number>250</number></span>
			            <span><numbe>审核中</numbe></span>
			        </li>
			        <li class="list clearfix">
			            <span><number>活动奖励</number></span>
			            <span><number>某某项目</number></span>
			            <span><number>250</number></span>
			            <span><numbe>审核中</numbe></span>
			        </li>
			        <li class="list clearfix">
			            <span><number>活动奖励</number></span>
			            <span><number>某某项目</number></span>
			            <span><number>250</number></span>
			            <span><numbe>审核中</numbe></span>
			        </li>
			        <li class="list clearfix">
			            <span><number>活动奖励</number></span>
			            <span><number>某某项目</number></span>
			            <span><number>250</number></span>
			            <span><numbe>审核中</numbe></span>
			        </li>         
                </ul>
                <!--</div>-->
                <!--</div>-->
            </div>
            </div>
            <!--<div id="item5" class="mui-slider-item mui-control-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">第5个选项卡子项</li>
                    <li class="mui-table-view-cell">第5个选项卡子项</li>
                </ul>
            </div>-->

        </div>
    </div>
    

    <!--测试-->
    
</div>	
    
    <script src="js/mui.min.js"></script>
		<script src="js/mui.pullToRefresh.js"></script>
		<script src="js/mui.pullToRefresh.material.js"></script>
		<script src="js/mui.pullToRefresh.js"></script>
		<script src="js/mui.pullToRefresh.material.js"></script>
		<script>
			mui.init();
			(function($) {
				//阻尼系数
				var deceleration = mui.os.ios?0.003:0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration:deceleration
				});
				$.ready(function() {
					//循环初始化所有下拉刷新，上拉加载。
					
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						$(pullRefreshEl).pullToRefresh({
//							down: {
//								callback: function() {
//									var self = this;
//									setTimeout(function() {
//										var ul = self.element.querySelector('.mui-table-view');
//										ul.insertBefore(createFragment(ul, index, 2, true), ul.firstChild);
//										self.endPullDownToRefresh();
//									}, 1000);
//								}
//							},
							up: {
								
								
								callback: function() {
									var self = this;
									setTimeout(function() {
										var ul = self.element.querySelector('.mui-table-view');
										ul.appendChild(createFragment(ul, index, 4));
										self.endPullUpToRefresh();
									}, 1000);
								}
							}
						});
					});
					var createFragment = function(ul, index, count, reverse) {
						var length = ul.querySelectorAll('li').length;
						var fragment = document.createDocumentFragment();
						var li;
						for (var i = 0; i < count; i++) {
							li = document.createElement('li');
							li.className = 'mui-table-view-cell';	
							li.innerHTML = '<a class="clearfix" href="#"><div class="youhuiquan-left fl">'+
									'<p class="use clearfix"><span class="use-01">使用说明：</span><span class="use-02">仅限新用户使用仅限新用户使用</span></p>'+
									'<p>有效期至：<number>2016-12-12</number></p>'+
									'<p><span>优惠券码：</span><number>jzy13254</number></p></div>'+
									'<div class="youhuiquan-right fr"><img src='+
									'"images/youhuiquan-icon.jpg'+
									'" alt="优惠券商家图标" />'+
									'<p>滴滴打车券</p></div></a>';
							fragment.appendChild(li);
						}
						return fragment;
					};
						
				});
			})(mui);		
			
		</script>
		    <script type="text/javascript" charset="utf-8">
      	mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
		});
		/**
		 * 上拉加载具体业务实现
		 */
		var count = 0;
		function pullupRefresh() {
			setTimeout(function() {
				mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
				var table = document.body.querySelector('#list-box');
//				var cells = document.body.querySelectorAll('.mui-table-view-cell');
				for (var i = 0, len = 2; i < len; i++) {
					var li = document.createElement('li');
					li.className = 'list clearfix';
					li.innerHTML = '<span><number>活动奖励</number></span>'+
									'<span><number>某某项目</number></span>'+
									'<span><number>250</number></span>'+
									'<span><numbe>审核中</numbe></span>';
					table.appendChild(li);
				}
			}, 1000);
		}
    </script>
</body>
</html>

			            
			            
			            
			            
			            
			            