{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title></title>
    <link href="{%static 'css/mui.min.css'%}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/m_common.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/m_account_coupon.css'%}"/>

</head>
<body>
<header id="header" class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">优惠券管理</h1>
</header>
<div class="mui-content">

    <!--选项卡部分-->
    <div id="finance_slider" class="mui-slider mui-fullscreen">
        <div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <a class="mui-control-item" href="#item1">使用券</a>
            <a class="mui-control-item" href="#item2">现金券</a>
            <a class="mui-control-item" href="#item3">加息券</a>
            <a class="mui-control-item" href="#item4">兑换记录</a>
        </div>
        <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-3"></div>
        <div class="mui-slider-group">
            <div id="item1" class="mui-slider-item mui-control-content mui-active">
            	<div id="scroll1" class="mui-scroll-wrapper">
            	<div class="mui-scroll">
                <ul class="mui-table-view">
                </ul>
                </div>
                </div>
            </div>
            <div id="item2" class="mui-slider-item mui-control-content">
            	<div id="scroll2" class="mui-scroll-wrapper">
            	<div class="mui-scroll">
                <ul class="mui-table-view">
                </ul>
                </div>
                </div>
            </div>
            <div id="item3" class="mui-slider-item mui-control-content">
            	<div id="scroll3" class="mui-scroll-wrapper">
            	<div class="mui-scroll">
                <ul class="mui-table-view">
                </ul>
                </div>
                </div>
            </div>

            <div id="item4" class="mui-slider-item mui-control-content">
            	<div id="scroll4" class="mui-scroll-wrapper">
            	<div class="mui-scroll">
                <ul id="list-box" class="list-box mui-table-view">
			        <li class="clearfix">
			            <span>类型</span>
			            <span>项目</span>
			            <span>优惠券面值</span>
			            <span>状态</span>
			        </li>
                </ul>
                </div>
                </div>
            </div>

        </div>
    </div>


    <!--测试-->

</div>

 <!--温馨提示-信息填写-->
  <div id="popup_03" class="popup-03 popup" style="display:none;">
  	<div class="popup-box">
    	<div class="pop-content">
        	<h2>优惠券兑换</h2>
        	<form class="mui-input-group">
				{% csrf_token %}
				<div class="mui-input-row">
					<label>账号</label>
					<input id="telnum" type="text" placeholder="请输入投资账号">
				</div>
				<div class="mui-input-row">
					<label>备注</label>
					<input id="remark" type="text" placeholder="可不填">
				</div>

		</form>
		<p><!--注：请填写真实有效信息，如因填写信息错误导致无法收货，责任由用户承担。--></p>
            <div class="btn_cont only-btn">
                <button type="button" id="submit_btn" class="mui-btn mui-btn-yellow">确定</button>
            </div>
        </div>
        <span class="btn_x mui-icon mui-icon-closeempty"></span>
    </div>
  </div>
  <!--温馨提示-信息提交成功-->
  <div class="popup-04 popup" style="display:none;">
  	<div class="popup-box">
    	<div class="pop-content">
        	<h2>温馨提示</h2>
            <p>信息提交成功！</p>
            <div class="only-btn btn_cont">
            	<button type="button" class="mui-btn mui-btn-yellow">确定</button>
            </div>
        </div>
        <span class="btn_x mui-icon mui-icon-closeempty"></span>
    </div>
  </div>

    <script src="{%static 'js/mui.min.js'%}"></script>
    <script src="{%static 'js/jquery-1.11.2.min.js'%}"></script>
		<script src="{%static 'js/mui.pullToRefresh.js'%}"></script>
		<script src="{%static 'js/mui.pullToRefresh.material.js'%}"></script>
		<script>
		var get_coupon_url = "{% url 'user_coupon_json' %}";
		var use_coupon_url = "{% url 'account_useCoupon' %}";
		var get_coupon_exchange_detail_url = "{% url 'get_user_coupon_exchange_detail' %}";
		var coupon_id = 0;
		mui.init();
		(function($) {
			//阻尼系数
			var deceleration = mui.os.ios?0.003:0.0009;
			$('.mui-scroll-wrapper').scroll({
				bounce: true,
				indicators: true, //是否显示滚动条
				deceleration:deceleration
			});
			$.ready(function() {
				//循环初始化所有上拉加载
				$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
					var count = 0;
					$(pullRefreshEl).pullToRefresh({
						up: {
							auto:true,
							callback: function() {
								var self = this;
								var ul = self.element.querySelector('.mui-table-view');
								if (index == 3){
									get_coupon_exchange_detail(this,ul,count++);
								}
								else{
									get_coupon_list(this,ul,count++,index);
								}
							}
						}
					});
				});
			});
		})(mui);
		function get_coupon_list(obj,ul,n,index){
			mui.ajax(get_coupon_url,{
				data:{
					count:n,
					type:index,
				},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
//				headers:{'Content-Type':'application/json'},
				success:function(data){
					if (!data.length){
						obj.endPullUpToRefresh(true);
					}
					else {
						obj.endPullUpToRefresh(false);//参数为true代表没有更多数据了。
						for (var i in data) {
							var coupon = data[i];
							var li = document.createElement('li');
							li.className = 'mui-table-view-cell';
							str_html = '<a class="clearfix" href="' + coupon.url +
								'"><div class="youhuiquan-left fl"><p class="use clearfix">' +
								'<span class="use-01">使用说明：</span><span class="use-02">' + coupon.introduction +
								'</span></p><p>有效期至：<number>' + coupon.endtime +
								'</number></p>';
							if ( index==0 ){
								str_html += '<p><span>优惠券码：</span><number>' + coupon.code + '</number></p>';
							}
							str_html += '</div><div class="youhuiquan-right fr">' +
								'<img src="' + coupon.imgurl + '" alt="优惠券商家图标" /><p>' +
								coupon.title + '</p></div></a>';
							if ( index==1||index==2 ){
								var is_used = coupon.is_used;
								if (is_used){
									str_html += '<button type="button" disabled="disabled"' +
										' class="duihuan-btn mui-btn mui-btn-yellow">已兑换</button>';
								}
								else{
									str_html += '<button type="button" coupon_id="' + coupon.id +
										'" class="duihuan-btn mui-btn mui-btn-yellow">兑换</button>';
								}
							}
							li.innerHTML = str_html;
							ul.appendChild(li);
						}
					}
				},
				error:function(xhr,type,errorThrown){
					alert(type);
				}
			});
		}
		function get_coupon_exchange_detail(obj,ul,n){
			mui.ajax(get_coupon_exchange_detail_url,{
				data:{
					count:n,
				},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
//				headers:{'Content-Type':'application/json'},
				success:function(data){
					if (!data.length){
						obj.endPullUpToRefresh(true);
					}
					else {
						obj.endPullUpToRefresh(false);//参数为true代表没有更多数据了。
						for (var i in data) {
							var record = data[i];
							var li = document.createElement('li');
							li.className = 'list clearfix';
							str_html = '<span><number>' + record.type + '</number></span>' +
								'<span><number>' + record.title + '</number></span>' +
								'<span><number>' + record.amount + '</number></span>' +
								'<span><number>' + record.state + '</number></span>';
							li.innerHTML = str_html;
							ul.appendChild(li);
						}
					}
				},
				error:function(xhr,type,errorThrown){
					alert(type);
				}
			});
		}
		mui('.mui-content').on('tap', 'button.duihuan-btn', function() {
            coupon_id = this.getAttribute('coupon_id');
            document.getElementById('popup_03').style.display = "block";
        });
		mui('.mui-slider-group').on('tap', 'a', function() {
            var id = this.getAttribute('href');
            mui.openWindow({
                url: this.href,
                styles: {
                    top: 0,
                    bottom: 0
                },
                show: {
                    aniShow: 'slide-in-right',
                },
                waiting: {
                    autoShow: false, //自动显示等待框
                    title: '正在加载...', //等待对话框上显示的提示内容
                }
            });
        });
		document.getElementById('submit_btn').addEventListener("tap",function(){
			var telnum = document.getElementById('telnum').value;
			var remark = document.getElementById('remark').value;
			if (!telnum){
				mui.toast("请输入投资账号（手机号）");
			}
			var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
			mui.ajax({
				url:use_coupon_url,
				dataType:"json",
				type:"POST",
				data : {
					id: coupon_id,
					telnum: telnum,
					remark: remark,
					csrfmiddlewaretoken:csrfmiddlewaretoken
				},
				success:function(ret){
					mui.alert(ret.msg);
				},
				error:function(xhr,type,errorThrown){
					alert(type);
				}
			});
			this.parentNode.parentNode.parentNode.parentNode.style.display="none";
		});
		mui('.popup-box').on('tap', '.btn_x',function(){
			this.parentNode.parentNode.style.display="none";
		});
	</script>
  <script type="text/javascript">
    // 审核拒绝原因弹窗
    mui('.mui-table-view').on('tap','.review-refuse',function(){
      var reason = this.getAttribute("reason");
          mui.alert(reason,'审核未通过原因','确定');
    });
  </script>
</body>
</html>







