{%load staticfiles%}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录密码修改</title>
		<link href="{% static 'css/mui.min.css' %}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/m_common.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/m_style.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/m_account_change_password.css' %}"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">登录密码修改</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				{%csrf_token%}
				<div class="mui-input-row">
					<input id='password' type="password" class=" mui-input" placeholder="请输入当前密码">
				</div>
				<div class="mui-input-row">
					<input id='new_password' type="password" class="mui-input" placeholder="请输入新密码">
				</div>
				<div class="mui-input-row">
					<input id='password_confirm' type="password" class="mui-input" placeholder="请再次确认新密码">
				</div>

			</form>
			<div class="mui-content-padded">
				<button id='change_password' class="mui-btn mui-btn-block mui-btn-primary">确认修改</button>
			</div>

		</div>
		<script src="{% static 'js/mui.min.js' %}"></script>
		<script src="{%static 'js/accounts/user-validate.js'%}"></script>
		<script type="text/javascript" charset="utf-8">
		      	mui.init();
		      	document.getElementById("change_password").addEventListener('tap', function() {
					var password = document.getElementById('password').value;
					var new_password = document.getElementById('new_password').value;
					var password_confirm = document.getElementById('password_confirm').value;
					if(!validatePassport(new_password)) {
						mui.alert('您输入的密码格式有误，请重新输入！（6-18位，至少包含字母、数字和特殊字符中的两种）', '抱歉');
						return;
					}
					var password_confirm = document.getElementById('password_confirm').value;
					if(password_confirm!==new_password) {
						mui.alert('您两次输入的密码不相同，请重新输入！', '抱歉');
						return;
					}
					var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
					mui.ajax({
						url: '',
						dataType:"json",
						type:'POST',
						data : {
							initp: password,
							newp: new_password,
							csrfmiddlewaretoken:csrfmiddlewaretoken
						},
						success:function(ret){
							mui.alert(ret.res_msg,callback=function(){
								if (ret.code==0){
									window.history.back();
								}
							});
						},
						error:function(xhr,type,errorThrown){
							mui.alert(type);
						}
					});
				});
		</script>
	</body>

</html>
