{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>银行卡绑定</title>
    <link href="{% static 'css/mui.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/m_common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/m_account_zhifubao.css' %}"/>

</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">银行卡绑定</h1>
		</header>
		<div class="mui-content">
			<img src="{% static 'images/zhifubao.png' %}" alt="支付宝图片" />
			<form class="mui-input-group">
					{% csrf_token %}
					<div class="mui-input-row">
            <label>请选择银行</label>
            <select id='bank'>
              <option value ="0">请选择相应的开户行</option>
              <option value ="中国工商银行">中国工商银行</option>
              <option value ="中国农业银行">中国农业银行</option>
              <option value="中国银行">中国银行</option>
              <option value="中国建设银行">中国建设银行</option>
              <option value="交通银行">交通银行</option>
              <option value="中国邮政储蓄银行">中国邮政储蓄银行</option>
              <option value="中信银行">中信银行</option>
              <option value="中国光大银行">中国光大银行</option>
              <option value="华夏银行">华夏银行</option>
              <option value="中国民生银行">中国民生银行</option>
              <option value="广发银行">广发银行</option>
              <option value="平安银行">平安银行</option>
              <option value="招商银行">招商银行</option>
              <option value="兴业银行">兴业银行</option>
            </select>
          </div>
          <div class="mui-input-row">
            <label>请填写支行</label>
            <input id="subbranch" type="text" placeholder="请输入银行卡支行">
          </div>
          <div class="mui-input-row">
            <label>持卡人姓名</label>
            <input id="real_name" type="text" placeholder="请输入银行卡绑定的真实姓名">
          </div>
          <div class="mui-input-row">
            <label>请输入卡号</label>
            <input id="card_number" type="text" placeholder="请输入真实的银行卡帐号">
          </div>


				</form>
        <p class="tishi">温馨提示：支付宝姓名和账号不正确者，将不予提现</p>
				<button id="Btn" type="button" class="bottom mui-btn mui-btn-blue mui-btn-block">立即绑定</button>

		</div>

		<script src="{% static 'js/mui.min.js' %}"></script>
		<!--弹窗部分-->
		<script type="text/javascript" charset="utf-8">
		      	mui.init({
					swipeBack:true //启用右滑关闭功能
				});
				document.getElementById("Btn").addEventListener('tap', function() {
  				var subbranch = document.getElementById('subbranch').value;
          var real_name = document.getElementById('real_name').value;
          var card_number = document.getElementById('card_number').value;

          var select = document.getElementById("bank");
          var options = select.options;
          var bank_index = select.selectedIndex;
          var bank_name = select.options[bank_index].text;

          console.log(bank_index + bank_name);

          var re_account=/^[\u2E80-\u9FFF]+$/;  //验证中文
          var re_number=/^[0-9]*$/;  //验证数字
          var re_card = /^\d{16}|\d{19}$/;  //验证银行卡号

          if(bank_index == 0){
            mui.alert("请选择相应的开户行");
            return;
          }
          if (!subbranch || !real_name || !card_number){
            mui.alert("填写项不能为空！", '提示');
            return;
          }
          if(!re_account.test(subbranch)){
            mui.alert("请输入正确的支行名称");
            return;
          }
          if(!re_account.test(real_name)){
            mui.alert("请输入正确的银行卡绑定的真实姓名");
            return;
          }
          if(!re_card.test(card_number)){
            mui.alert("请输入正确格式的银行卡号");
            return;
          }
					var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
					mui.ajax({
						url: '',
						dataType:"json",
						type:'POST',
						data : {
              bank_name: bank_name,
              subbranch: subbranch,
              real_name: real_name,
              card_number: card_number,
              csrfmiddlewaretoken:csrfmiddlewaretoken
            },
						success:function(ret){
							mui.alert(ret.msg,callback=function(){
								window.history.back();
								return;
							});
						},
						error:function(){
							alert("请检查网络连接");
						}
					});
				});
		</script>
	</body>

</html>
