{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style-i.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript">
var data1 = '<table width="100%"><thead><tr><th width="25%" height="44">项目</th>' +
'<th width="30%">金额</th><th width="25%">获取时间</th><th width="20%">备注</th></tr></thead><tbody>'+
'[data]<tr><td height="48">{item}</td><td>{amount}</td><td>{time}</td><td>{remark}</td></tr>[/data]'+
'</tbody></table>';
var data2 = '<table width="100%"><thead><tr><th width="25%" height="44">项目</th>' +
'<th width="30%">金额</th><th width="25%">申请时间</th><th width="20%">提现状态</th></tr></thead><tbody>'+
'[data]<tr><td height="48">{item}</td><td>{amount}</td><td>{time}</td>' + 
'<td>{state}</td></tr>[/data]' + '</tbody></table>';
var url = "{% url 'get_user_money_page' %}" + "?page={page}&size={pageSize}&filter=";
function emptydisplay(obj){
	pic_url = "{%static 'images/picin.png' %}";
	obj.html('<div class="Defa-in"><img src="' + pic_url + '">'+
			'<h2>咦~~ 您还没有相关记录~~</h2></div>');
}
$(function(){
	$('.back-a8').parent().toggleClass("on");
    $(".Close").click(function(){
    	$(".Listpop").css("display","none")<!--隐藏-->
    });
	$("#pagedata").ajaxPage({
	    url:url+0, 
	    pageId:$("#page"),
	    pageSize:6,
	    run:true,
	    content:data1,
	});
	$(".Detail-T li").click(function(){
		if($(this).attr("class")!="on"){
			$(this).toggleClass("on").siblings().removeClass("on")
			var index = $(this).index();
			var data = data1
			if (index==1){
				data = data2
			}
			$("#page").empty();
			$("#pagedata").ajaxPage({
			    url:url+index, 
			    pageId:$("#page"),
			    pageSize:6,
			    run:true,
			    content:data,
			});
		}					
	});
});
</script>
</head>

<body>
	<div class="Max">
    	<!--头部-->
    	{% include "header.html" %}
    	<!--内容-->
    	<div class="Content">
        	<div class="w1100">
            	{% include "account/left.html" %}
                <div class="RightCont">
                	<div class="Integral">
                    	<span>
                        	您的累积收益
                        	<strong class="red-st">{{user.accu_income}}</strong>
                        </span>
                    	<span>
                        	可用余额
                        	<strong class="red-st">{{user.balance}}</strong>
                        </span>
                        <a href="{%url 'account_withdraw'%}" id="back2">提  现</a>
                    </div>
                    <div class="Detail">
                    	<div class="Detail-T">
                        	<ul>
                            	<li class="on">收入明细</li>
                            	<li>支出明细</li>
                            </ul>
                        </div>
                        <div class="Detail-B">
							<div id="pagedata">
							</div>
		                    <div class="Page-in-score">
		                    	<div class="page"  id="page">
		                        </div>
		                    </div> 
                		</div>  
                    </div>
                    
                </div>
            </div>
        </div>
    	<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->  
  {% include "outline.html" %}
    </div>
</body>
</html>
