<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title></title>
    
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/process.css"/>    
</head>

	<body>	
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">兑换流程</h1>
			<a id="share" class="share"></a>
		</header>
		<div class="mui-content">
				<p class="top">兑换日期：长期有效<br />
兑换方式：网上兑换、快递送货</p>
				<h3>兑换步骤:</h3>
				<p><number>1、</number>您可以在网站页面上查找商品或者在商品分类里寻找分类商品，点击查看商品详情，确定您要兑换的商品；</p>
				<p><number>2、</number>登入网站，查看个人积分，判断您的积分是否达到商品兑换的积分标准；<br />
<number>1）</number>如果您的积分可以兑换本产品，请点击点击“立即兑换”并进行下一步操作；
				<br />
<number>2）</number>如果您的积分还未达到兑换的标准，返回到体验福利和理财福利完成更多任务获得更多积分。</p>
				<p><number>3、</number>填写收件人的收货信息，为了您能够及时安全地收到商品收货人务必填写全名，收货地址请填写详细；<br />
收货人务必填写全名，收货地址切勿使用邮箱或无明确号码的地址，所有这些都是为了您能够及时安全地收到商品。增值业务商品只需要按页面提示填写业务号码，机主信息则可，以保证准确兑换成功。</p>
				<h5>&nbsp;&nbsp;温馨提示&nbsp;&nbsp;</h5>
				<p class="notice">提前写好送货地址，积分兑换快人一步；价格以挖福利网站更
新价格为准，暂不接受议价。</p>
		</div>
		
		<!--分享部分-->
<div id="share_bg" class="share-bg"></div>
<div id="share_box">
	<div id="content_box" class="share-content-box">
		<div id="share_close" class="share-close">
			<span class="mui-icon mui-icon-arrowdown"></span>		
		</div>
		<ul class="list clearfix">
			<li>
				<a href="#">
					<img src="images/share-weixin.png"/>
					<p>微信好友</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/share-qq.png"/>
					<p>QQ好友</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/share-sina.png"/>
					<p>微信微博</p>
				</a>
			</li>		
			<li>
				<a href="#">
					<img src="images/share-qq-zone.png"/>
					<p>QQ空间</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/share-friend-row.png"/>
					<p>朋友圈</p>
				</a>
			</li>
		</ul>
	</div>
</div>  

<script src="js/mui.min.js"></script>
<script src="js/share.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  	mui.init();
</script>
	</body>

</html>