<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title></title>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/gonglue.css"/>
</head>

	<body>	
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">挖福利攻略</h1>
		</header>
		<div class="mui-content">
			<div class="ad">
				<img src="images/banner1.jpg">
			</div>
			<!--列表部分-->
			<ul class="mui-table-view">
			        <li class="mui-table-view-cell mui-collapse">
			            <a class="left-icon1 mui-navigate-right" href="#">福利攻略</a>
			            <div class="mui-collapse-content">
			                <a href="#">账户问题汇总</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">积分问题汇总</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">玩转挖福利</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">如何加入挖福利</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">推荐好友汇总</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">提现问题汇总</a>
			            </div>
			        </li>
			        <li class="mui-table-view-cell mui-collapse">
			            <a class="left-icon2 left-icon1 mui-navigate-right" href="#">最新公告</a>
			            <div class="mui-collapse-content">
			                <a href="#">关于用户在挖福利网站提交数据的再次说明</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">挖福利网站框架说明</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">挖福利2016国庆节放假公告</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">挖福利免责声明</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">挖福利用户协议</a>
			            </div>
			        </li>
			        <li class="mui-table-view-cell mui-collapse">
			            <a class="left-icon3 left-icon1 mui-navigate-right" href="#">关注微信</a>
			            <div class="mui-collapse-content">
			                <a id="gong_zhong_hao" href="#">微信订阅号</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a id="fu_wu_hao" href="#">微信服务号</a>
			            </div>
			        </li>
			        <li class="mui-table-view-cell mui-collapse">
			            <a class="left-icon4 left-icon1 mui-navigate-right" href="#">关于我们</a>
			            <div class="mui-collapse-content">
			                <a href="#">联系我们</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">版权声明</a>
			            </div>
			            <div class="mui-collapse-content">
			                <a href="#">商务合作</a>
			            </div>
			        </li>
			   </ul>	
		</div>
		
		<!--弹出二维码部分-->
		<div id="weixin_bg" class="er-wei-ma-bg">
		</div>
		<div id="weixin_box" class="weixin-box-00">
			<div class="weixin-box">
				<span id="close_01" class="mui-icon mui-icon-closeempty"></span>
				<p>长安识别图中二维码</p>
				<img src="images/dingyuehao.jpg"/>
				<p>挖福利订阅号</p>
			</div>
		</div>
		<div id="weixin_box_02" class="weixin-box-00">
			<div class="weixin-box">
				<span id="close_02" class="mui-icon mui-icon-closeempty"></span>
				<p>长安识别图中二维码</p>
				<img src="images/gongzhong.jpg"/>
				<p>挖福利公众号</p>
			</div>
		</div>		
		
		<!--<div id="ding_yue" class="login">
			<div class="box">
				<span id="close_01" class="mui-icon mui-icon-closeempty"></span>
				<p>长安识别图中二维码</p>
				<img src="images/gongzhong.jpg"/>
				<p>挖福利公众号</p>
			</div>		
		</div>
		<div id="fu_wu" class="login">
			<div class="box">
				<span id="close_02" class="mui-icon mui-icon-closeempty"></span>
				<p>长安识别图中二维码</p>
				<img src="images/dingyuehao.jpg"/>
				<p>挖福利订阅号</p>
			</div>			
		</div>-->
		
		<script src="js/mui.min.js"></script>
		<!--弹窗部分-->
		<script type="text/javascript" charset="utf-8">
		      	mui.init({
					swipeBack:true //启用右滑关闭功能
				});
				var gong_zhong_hao = document.getElementById("gong_zhong_hao"),
					fu_wu_hao = document.getElementById("fu_wu_hao"),
					close_01 = document.getElementById("close_01"),
					close_02 = document.getElementById("close_02"),
					weixin_bg = document.getElementById("weixin_bg"),
					weixin_box = document.getElementById("weixin_box"),
					weixin_box_02 = document.getElementById("weixin_box_02");
					//监听点击事件
				gong_zhong_hao.addEventListener("tap",function () {
					weixin_bg.style.display = "block";
				  	weixin_box.setAttribute("class","weixin-box-01");
				});						
				close_01.addEventListener("tap",function () {
					weixin_bg.style.display = "none";
				  	weixin_box.setAttribute("class","weixin-box-02");
				});
				
				fu_wu_hao.addEventListener("tap",function () {
					weixin_bg.style.display = "block";
				  	weixin_box_02.setAttribute("class","weixin-box-01");
				});
				close_02.addEventListener("tap",function () {
					weixin_bg.style.display = "none";
				  	weixin_box_02.setAttribute("class","weixin-box-02");
				});
//					var btn_01 = document.getElementById("gong_zhong_hao"),
//						btn_02 = document.getElementById("fu_wu_hao"),
//						close_01 = document.getElementById("close_01"),
//						login_02 = document.getElementById("fu_wu"),
//						close_02 = document.getElementById("close_02"),
//						login_01 = document.getElementById("ding_yue");
//					//监听点击事件
//					btn_01.addEventListener("tap",function () {
//					  login_01.style.display="block";
//					});
//					btn_02.addEventListener("tap",function () {
//					  login_02.style.display="block";
//					});
//					close_01.addEventListener("tap",function () {
//					  login_01.style.display="none";
//					});
//					close_02.addEventListener("tap",function () {
//					  login_02.style.display="none";
//					});
		</script>
	</body>

</html>