<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title></title>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/share-friend.css"/>
</head>

<body>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">邀请好友</h1>
		<!--<a id="share" class="share"></a>-->
	</header>
	<div class="mui-content">
		<div class="top">
			<p>我的邀请人数&nbsp;<span>1</span>人</p>
			<p>我的奖励&nbsp;<span>1</span>元，<span>10</span>积分</p>
		</div>
		<div class="middle">
			<h3>邀请码：</h3>
			<div class="yqm-bg"><p class="yao-qing-ma">AslYjdf26546</p></div>
			<div id="share" class="share-btn"><img src="images/share-friend.png"/></div>
		</div>
		<div class="bottom">
			<p>奖励规则：</p>
			<p>1、每推荐一名好友提现成功，<br />推荐人获得&nbsp;<span>10</span>积分</p>
			<p>推荐人获得好友提现金额的<br />&nbsp;<span>5%</span>&nbsp;现金奖励</p>
		</div>
		<div class="tu-pian">			
			<img src="images/share-friend-bottom.png"/>
		</div>
	</div>
	


<!--分享部分-->
<div id="share_bg" class="share-bg"></div>
<div id="share_box">
	<div id="content_box" class="share-content-box">
		<div id="share_close" class="share-close">
			<span class="mui-icon mui-icon-arrowdown"></span>		
		</div>
		<ul class="list clearfix">
			<li>
				<a href="#">
					<img src="images/share-weixin.png"/>
					<p>微信好友</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/share-qq.png"/>
					<p>QQ好友</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/share-sina.png"/>
					<p>微信微博</p>
				</a>
			</li>		
			<li>
				<a href="#">
					<img src="images/share-qq-zone.png"/>
					<p>QQ空间</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/share-friend-row.png"/>
					<p>朋友圈</p>
				</a>
			</li>
		</ul>
	</div>
</div>   	
    
	
	<!--回到顶部部分-->
    <a id="scrollToTop" class="backTop hide"> <span class="mui-icon mui-icon-arrowthinup"></span> </a>
    <!--底部导航-->
	
    <script src="js/mui.min.js"></script>
    <script src="js/share.js"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
		});
		/**
		 * 上拉加载具体业务实现
		 */
		var count = 0;
		function pullupRefresh() {
			setTimeout(function() {
				mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
				var table = document.body.querySelector('.mui-table-view');
//				var cells = document.body.querySelectorAll('.mui-table-view-cell');
				for (var i = 0, len = 2; i < len; i++) {
					var li = document.createElement('li');
					li.className = 'list clearfix';
					li.innerHTML = '<span><number>***kcu</number></span>'+
									'<span><number>22</number></span>'+
									'<span><number>1</number></span>'+
									'<span><numbe>78</numbe></span>';
					table.appendChild(li);
				}
			}, 1000);
		}
   </script>

	
</body>
</html>