{% load staticfiles %}
<meta charset=utf-8" />
<div id="footer">
      <div class="footer-main">
        <div class="index_52">友情链接：&nbsp; 
        <a rel="external nofollow" href="http://www.quanmama.com/" target="_blank">券妈妈</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a rel="external nofollow" href="http://www.domob.cn/" target="_blank">多盟</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <a rel="external nofollow" href="http://www.wdzj.com/" target="_blank">网贷之家</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <a rel="external nofollow" href="https://www.ebeboo.com" target="_blank">e贝宝</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        </div>
        <div class="index_53">
          <div class="index_54">
            <div class="lf">
              <h2>关于我们</h2>
              <ul>
                <li><a href="/aboutus/">公司简介</a></li>
                <li><a href="/aboutus/">团队介绍</a></li>
                <li><a href="#">招贤纳士</a></li>
                <li><a href="/aboutus/#cont=contact">联系我们</a></li>
              </ul>
            </div>
            <div class="lf">
              <h2>帮助中心</h2>
              <ul>
                <li><a href="/freshman/introduction/">新手入门</a></li>
                <li><a href="/freshman/award/">邀请奖励</a></li>
                <li><a href="/aboutus/#cont=strategy">福利攻略</a></li>
                <li><a href="/aboutus/#cont=exchange_help">兑换帮助</a></li>
              </ul>
            </div>
            <div class="lf s">
              <h2>福利QQ群</h2>
              <ul>
              	<li>挖福利官方总群：377351502</li>
                <li>挖福利官方群1（免费福利）：479560713</li>
                <li>挖福利官方群2（体验福利）：389152918</li>
                <li>挖福利官方群3（理财福利）：389153753</li>
              </ul>
            </div>
          </div>
          <div class="index_55">
            <h2>在线客服</h2>
            <h3>0734-8344414</h3>
            ( 服务时间 9:00~22:00 )
          </div>
          <div class="index_56">
            <div class="index_57">挖福利官方微信</div>
            <div class="index_58"><img src="{% static 'images/code.jpg' %}" alt="微信二维码" width="123" height="123"/></div>
          </div>
        </div>
        <div class="index_59">Copyright&nbsp; &copy; 2015-2024&nbsp; 挖福利 版权所有 备案号：湘ICP备15015815号-2<span class="rt">
        <a href="#"><img src="{% static 'images/icon-1.png' %}" alt=""/></a>
        <a href="#"><img src="{% static 'images/icon-2.png' %}" alt=""/></a>
        <a href="#"><img src="{% static 'images/icon-3.png' %}" alt=""/></a></span></div>
      </div>
</div>

	
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"slide":{"type":"slide","bdImg":"0","bdPos":"left","bdTop":"106.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	<!-- wafuli.cn Baidu tongji analytics -->
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?967fce306a35a615082120cd7cf7d616";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
