{% load staticfiles %}

  <ul id="online">
      <li class="qq"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=122142551&site=qq&menu=yes""><img src="{% static 'images/icon-4.png' %}" alt="qq"/><br />QQ客服</a></li>
      <li class="weixin"><a href="#"><img src="{% static 'images/icon-5.png' %}" alt="weixin"/><br />微信客服</a></li>
      <li class="top"><a href="javascript:;" onclick="$('body,html').animate({scrollTop:0},600);"><img src="{% static 'images/top.png' %}" alt="top"/></a></li>
   </ul>