{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{news.seo_title}}</title>
<meta name="keywords" content="{{news.seo_keywords}}" />
<meta name="description" content="{{news.seo_description}}" />
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/welfare.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
	$.ajaxSetup({
	    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});
	var this_url = window.location.href;
	var id = '{{news.id}}'
	var type = '{{type}}'
	view_count_url = "{%url 'statistic:update' %}?type=" + type +"&id=" + id;
</script>
	{% block jsblock %}

	{% endblock %}
</head>
<body>
 {% include "header.html" %}
<div id="content">
  <div><a href="{{news.advert.url}}"><img src="{{news.advert.pic.url}}"  class="co-imgp"/></a></div>
  <p>当前位置：<span><a href="{% url 'index' %}">挖福利</a> > <a href="{{news.get_type_url}}">{{news.get_type}}</a>
   > <a href="">{{news.title}}</a></span></p>
	{% block expblock %}

	{% endblock %}
  <div class="td-msgs">
  	<div class="msg-ti"><img src="{% static 'images/task-04.png' %}" class="ms-pd"/><span class="mag-pp">体验步骤</span></div>
    <div class="detail-html">{{news.strategy|safe}}</div>
  </div>
  <div class="td-msgs others">
      <div class="msg-ti"><span class="mag-pp">其他福利</span></div>
      {%for wel in other_wel_list%}
      <a href="{{wel.url}}" class="hy-p">{{wel.title}}</a>
      {%endfor%}

  </div>
  <div class="td-msgs">
  	<div class="msg-ti"><img src="{% static 'images/task-05.png' %}" class="ms-pd"/><span class="mag-pp">温馨提示</span></div>
    	<p class="hy-p">1、为了让您畅快的享受福利，请您务必按照体验步骤详情操作,并在完成后返回该页面提交相关数据，获取相应福利；</p>
    	<p class="hy-p">2、投资有风险，入市需谨慎；挖福利尽最大可能的提供最优质的理财渠道、筛选有诚信的合作平台，但是挖福利不对合作平台提供任何的风险担保；</p>
    	<p class="hy-p">3、挖福利对福利数据的审核具有最终解释权。</p>
        <p class="hy-p">如有疑问请联系<span><a href="#" style="color:#F08618;">在线客服</a></span>或拨打 <span style="color:#F08618;">服务热线：0734-8344414</span></p>

  </div>
</div>


  <div style="clear:both"></div>
 <!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->
  {% include "outline.html" %}

	{% block dialogblock %}

	{% endblock %}
<script type="text/javascript">
	$.get(view_count_url,{r:Math.random()});
</script>
</body>
</html>
