{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>理财福利，互联网理财平台。</title>
<meta name="keywords" content="P2P理财,P2P网贷,投资理财,网络理财,网络投资,小额投资理财,如何投资理财,个人理财,家庭理财,挖福利" />
<meta name="description" content="挖福利是一个优质的互联网理财平台！让你感受到不一样的金融理财。" />
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/welfare.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />

<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.infiniteCarousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/MSClass.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript">
var data='[data]<li class="lc-li">'+
	'<h2 class="lc-h2 {is_new}">{title}</h2>'+
	'<span class="lo-span"><p>官网利息</p><p class="lp-p">{interest}</p></span>'+
	'<span class="lo-spans"><p>起投金额</p><p style="color:#111;line-height:50px;">{amount}</p></span>'+
	'<span class="lo-spans"><p>标期长度</p><p style="color:#111;line-height: 50px;">{time}</p></span>'+
	'<span class="lo-spans"><p>补贴收益</p><p style="color:#FE0000;line-height: 50px;">+{benefit}</p></span>'+
	'<span class="lo-spans"><p>赠送积分</p><p style="color:#FE0000;line-height: 50px;">+{scores}</p></span>'+
	'<span style="float: right;"><a target="_blank" href="{url}" class="lo-ap">立即投资</a></span></li>[/data]';
var data2='[data]<li class="lc-li">'+
	'<h2 class="lc-h2">{title}</h2>'+
	'<span class="lo-span"><p>官网利息</p><p class="lp-p">{interest}</p></span>'+
	'<span class="lo-spans"><p>起投金额</p><p style="color:#111;line-height:50px;">{amount}</p></span>'+
	'<span class="lo-spans"><p>标期长度</p><p style="color:#111;line-height: 50px;">{time}</p></span>'+
	'<span class="lo-spans"><p>补贴收益</p><p style="color:#FE0000;line-height: 50px;">+{benefit}</p></span>'+
	'<span class="lo-spans"><p>赠送积分</p><p style="color:#FE0000;line-height: 50px;">+{scores}</p></span>'+
	'<span style="float: right;"><a target="_blank" href="{url}" class="lo-ape">查看详情</a></span></li>[/data]';
var url = "{% url 'get_finance_page' %}" + "?page={page}&size={pageSize}&";
function pagecallback(){
	$(".lc-h2.new").append('<img src="/static/images/new_cont.png" class="new_cont2">');
}
var textarray=[];
function getText(n) {
	 if (textarray[n-1])
		 return textarray[n-1];
	 else
		 return n;
}
$(function(){
   	$('.finan_h a').toggleClass("vo");
	$("#pagedata1").ajaxPage({
	    url:url+"state=1&filter=0",
	    pageId:$("#page1"),
	    pageSize:5,
	    run:true,
	    content:data,
	    complete:pagecallback,
	});
	$("#pagedata2").ajaxPage({
	    url:url+"state=2&filter=0",
	    pageId:$("#page2"),
	    pageSize:5,
	    run:true,
	    content:data2,
	});
 	$("#tab li").click(function(){
		if($(this).attr("class")!="cur"){
			$(this).toggleClass("cur").siblings().removeClass("cur")
			var index = $(this).index();
			$("#page1").empty();
			$("#pagedata1").ajaxPage({
			    url:url+"state=1&filter="+index, 
			    pageId:$("#page1"),
			    pageSize:5,
			    run:true,
			    content:data,
			    complete:pagecallback,
			});
		}
 	});
 	$("#tabg li").click(function(){
		if($(this).attr("class")!="curs"){
			$(this).toggleClass("curs").siblings().removeClass("curs")
			var index = $(this).index();
			$("#page2").empty();
			$("#pagedata2").ajaxPage({
			    url:url+"state=2&filter="+index, 
			    pageId:$("#page2"),
			    pageSize:5,
			    run:true,
			    content:data2,
			});
		}
 	});
    $('.flexslider').flexslider({
           directionNav: true,
           pauseOnAction: false
    });

});
</script>
</head>
<body>
{% include "header.html" %}
<div id="content">
   <div id="index-banner">
    <div class="flexslider">
      <ul class="slides">
      {% for adv in ad_list %}
        <li onclick="location='{{adv.url}}'" style="background:url({{adv.pic.url}}) 50% 0 no-repeat;cursor:pointer;"></li>
        <script>textarray.push("{{adv.navigation}}");</script>
      {%endfor%}
      </ul>
    </div>
  </div>
    <div class="cont-box">
	<div class="cont">
    <span class="we-one"><b>理财福利体验步骤</b>:</span>
    <span><img src="{% static 'images/number.png' %}" class="ew-img"/><span class="ew">1</span></span><span><a href="#" class="ew-dian">点击查看操作流程</a><img src="{% static 'images/jiantou.png' %}" class="ew-jt" style="margin-left: 11.5rem;"/></span>
    <span style="margin-left: 16.5rem;"><img src="{% static 'images/number.png' %}" class="ew-img"/><span class="ew">2</span></span><span><a href="#" class="ew-dian">进入平台进行理财</a><img src="{% static 'images/jiantou.png' %}" class="ew-jt" style="margin-left: 11.5rem;"/></span>
     <span style="margin-left: 16.5rem;"><img src="{% static 'images/number.png' %}" class="ew-img"/><span class="ew">3</span></span><span><a href="#" class="ew-dian">返回网站提交数据</a></span>
    </div>
    </div>
    
    <div class="conte">
    	<div class="ew-left">
        	<!-- 代码 begin -->
            
          <div id="tab">
            <span class="rep-ones"> <img src="{% static 'images/shape.png' %}"/>正在进行的理财福利</span>
            <div class="tabList" style="float:right;">        
                <ul>
                    <li class="cur">全部</li>
                    <li>上市系</li>
                    <li>国资系</li>
                    <li>民营系</li>
                </ul>
              </div>
            <div class="tabCon">
                <div class="cur">
                	<ul id="pagedata1">
                   	
                  	</ul>
             

              </div>
        </div>
        	<div class="changes-p">
            	<div class="page"  id="page1">
                 </div>
            </div>
          </div> 
            <!-- 代码 begin -->
            
          <div id="tabg" style="margin-top:2rem">
            <span class="rep-ones"> <img src="{% static 'images/shape.png' %}"/>已经结束理财福利</span>
            <div class="tabList" style="float:right;">
              <ul>
                  <li class="curs">全部</li>
                  <li>上市系</li>
                  <li>国资系</li>
                  <li>民营系</li>
              </ul>
            </div>
            <div class="tabCon">
                  <div class="curs">
                  	<ul id="pagedata2">

                    </ul>
                  </div>
            </div>
  
            <div class="changes-p">
				<div class="page"  id="page2">
                </div>
            </div>
		  </div>
		</div>
	<div class="ew-right">
		<div class="ew-more">
	    	<div class="er-h2"><span>奖励现金排行榜</span></div>
	        <ul class="toplist">
            	<li><font>第一名</font>     <span>{{rank1.username}}</span>          <font>{{rank1.income}}</font>元</li>
            	<li><font>第二名</font>     <span>{{rank2.username}}</span>          <font>{{rank2.income}}</font>元</li>
            	<li><font>第三名</font>     <span>{{rank3.username}}</span>          <font>{{rank3.income}}</font>元</li>
            	<li>第四名    <span>{{rank4.username}}</span>          <font>{{rank4.income}}</font>元</li>
            	<li>第五名    <span>{{rank5.username}}</span>          <font>{{rank5.income}}</font>元</li>
            	<li>第六名    <span>{{rank6.username}}</span>          <font>{{rank6.income}}</font>元</li>
            </ul>
	    </div>
		<div class="ew-more s">
	    	<div class="er-h2"><span>福利攻略</span><span><a href="{% url 'aboutus'%}#cont=strategy" class="er-hr">MORE</a></span></div>
	        <ul>
	        {% for news in strategy_list %}
	        	<li class="er-li"><a href="{{news.url}}">{{news.title}}</a></li>
	        {% endfor %}
	        </ul>
	    </div>
	</div>
  </div>
</div>
<div style="clear:both"></div>
<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->  
  {% include "outline.html" %}


</body>
</html>