{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新手指引</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/freshman.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style-i.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="{%static 'js/jquery-1.11.2.min.js'%}" type="text/javascript"></script>
</head>

<body>
	<div class="Max">
    	<!--头部-->
    	{% include "header.html" %}
    	<!--内容-->
    	<div class="Content-in">
        	<div class="banner-new"></div>
            <div class="w1100">
                <div class="Info-c">
                    <h2>了解挖福利</h2>
                    <h6>挖福利是湖南金叶子网络科技有限公司旗下的互联网产品体验超市，专注与整合互联网活动信息，让用户以好玩的形式参与该产品的体验中来</h6>
                    <div class="Fin-xi">
                        <strong>免费福利</strong>
                        <img src="{%static 'images/img3.png'%}" />
                    </div>
                    <div class="Fin-xi2">
                        <strong>体验福利<br />& <br>理财福利</strong>
                        <img src="{%static 'images/img4.png'%}" />
                    </div>
                    
                </div>
            </div>
            <div class="Advantage">
                <div class="w1100">
                    <div class="Advinfo">
                    	<h3>我们的优势</h3>
                        <ul class="Advilist">
                        	<li>
                            	<div class="Adimg"><img src="{%static 'images/new1.png'%}" /></div>
                                <strong>活动多</strong>
                                <span>全公司人人皆兵，<br />为您寻找最热门的活动</span>
                            </li>
                        	<li>
                            	<div class="Adimg"><img src="{%static 'images/new2.png'%}" /></div>
                                <strong>奖励大</strong>
                                <span>根据市场反馈，<br />为您定制符合您的奖励</span>
                            </li>
                        	<li>
                            	<div class="Adimg"><img src="{%static 'images/new3.png'%}" /></div>
                                <strong>提现快</strong>
                                <span>当天12点钱提现当天到，<br />12点后次日到（节假日顺延）</span>
                            </li>
                        	<li>
                            	<div class="Adimg"><img src="{%static 'images/new4.png'%}" /></div>
                                <strong>0手续费</strong>
                                <span>我们对您的提现<br />不收取然后费用</span>
                            </li>
                        	<li>
                            	<div class="Adimg"><img src="{%static 'images/new5.png'%}" /></div>
                                <strong>安全可靠</strong>
                                <span>挖福利着重保护您的<br />信息和资金安全</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w1100">
            	<div class="Features">
                    <h2>我们的特色</h2>
                    <div class="Feat-box">
                        <span>积分商城</span>
                        <div class="Feat-img"><img src="{%static 'images/img5.png'%}" /></div>
                        <p>小积分有大用途<br />种类繁多的商品随您兑换</p></p>
                    </div>
                    <div class="Feat-box">
                        <span style="color:#f08519">优惠券</span>
                        <div class="Feat-img"><img src="{%static 'images/img6.png'%}" /></div>
                        <p>基于大数据,<br />定向为您推送您最喜欢的优惠券</p></p>
                    </div>
                </div>
            </div>
            <div class="Advantage">
                <div class="w1100">
                    <div class="Advinfo">
                    	<h3>体验从这里开始</h3>
                        <div class="Advflow">
                        	<div class="Flow-Title">
                            	<span>新手体验 流程及秘笈</span>
                            </div>
                            <div class="Flow-box">
                            	<div class="Flow-info"><img src="{%static 'images/flow.png'%}" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    	<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->  
  {% include "outline.html" %}
    </div>



</body>
</html>
