{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<!-- 优先使用 IE 最新版本和 Chrome -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- 为移动设备添加 viewport -->
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<!-- 添加到主屏后的标题（iOS 6 新增） -->
		<meta name="apple-mobile-web-app-title" content="">
		<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- 设置苹果工具栏颜色 -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
		<meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
		<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta name="format-detection" content="telphone=no, email=no" />
		<!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<title>理财福利</title>
		<script src="{%static 'js/mui.min.js'%}"></script>
		<script src="{%static 'js/mui.pullToRefresh.js'%}"></script>
		<script src="{%static 'js/mui.pullToRefresh.material.js'%}"></script>
		<link href="{%static 'css/mui.min.css'%}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{%static 'css/m_common.css'%}" />
		<link rel="stylesheet" type="text/css" href="{%static 'css/m_finance.css'%}" />
	</head>

	<body>
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">高风险区</h1>
	</header>
	<div id="pullrefresh" class="mui-scroll-wrapper">
		<div class="mui-content">
								<!--banner部分-->
								<div id="slider" class="mui-slider" >
								 <div class="mui-slider-group mui-slider-loop">
								   <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
								   <div class="mui-slider-item mui-slider-item-duplicate">
								     <a href="{{last_adv.url}}">
								       <img src="{{last_adv.mpic.url}}">
								     </a>
								   </div>
								{% for adv in adv_list %}
								   <div class="mui-slider-item">
								     <a href="{{adv.url}}">
								       <img src="{{adv.mpic.url}}">
								     </a>
								   </div>
								   {%endfor%}
								   <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
								    <div class="mui-slider-item mui-slider-item-duplicate">
								      <a href="{{first_adv.url}}">
								        <img src="{{first_adv.mpic.url}}">
								      </a>
								    </div>
								  </div>
								  <div class="mui-slider-indicator">
								    <div class="mui-indicator mui-active"></div>
								    {% for adv in adv_list|slice:":-1" %}
								    <div class="mui-indicator"></div>
								    {%endfor%}
								  </div>
								</div>
								<ul class="mui-table-view">
								</ul>

		</div>
	</div>

		<script>
			var get_finance_url = "{% url 'finance_json' %}";
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						auto:true,
						contentrefresh: '正在加载...',
						contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: pullupRefresh
					}
				},
				swipeBack: true //启用右滑关闭功能
			});
			/**
		 * 上拉加载具体业务实现
		 */
		var count = 0;
		function get_finance_list(n){
			mui.ajax(get_finance_url,{
				data:{
					count:n,
				},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
//				headers:{'Content-Type':'application/json'},
				success:function(data){
					if (!data.length){
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
					}
					else {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(false); //参数为true代表没有更多数据了。
						var table = document.body.querySelector('.mui-table-view');
//						var cells = document.body.querySelectorAll('.mui-table-view-cell');
						for (var i in data) {
							var wel = data[i];
							var li = document.createElement('li');
							li.className = 'mui-table-view-cell';
							var str_block = '<a href="' + wel.url + '"><div class="title"><strong>'+ wel.title +'</strong>';
							var marks = wel.marks;
							for (var j in marks){
								str_block += '<span>' + marks[j] + '</span>';
							}
							str_block += '</div><div class="container clearfix">'+
								'<div><img src="' + wel.picurl + '" />'+
								'</div><div class="inc2">'+
			                    '<p>官网利息：<number>'+wel.interest+'</number></p>'+
			                    '<p>补贴收益：<number>+' + wel.benefit +
								'</number></p><p>起投金额：' + wel.amount +
								'</p><p>标期长度：' + wel.time + '</p></div></div></a>';
							li.innerHTML = str_block;
							table.appendChild(li);
						}
					}

				},
				error:function(xhr,type,errorThrown){
					alert(type);
				}
			});
		}
		function pullupRefresh() {
			if (count == 0){
				mui('#pullrefresh').pullRefresh().scrollTo(0,0);
			}
			get_finance_list(count++);
		}
		mui('.mui-content').on('tap', 'a', function() {
            var id = this.getAttribute('href');
            console.log(id);
            console.log(this.href);
            mui.openWindow({
                url: this.href,
                styles: {
                    top: 0,
                    bottom: 0
                },
                show: {
                    aniShow: 'slide-in-right',
                },
                waiting: {
                    autoShow: false, //自动显示等待框
                    title: '正在加载...', //等待对话框上显示的提示内容
                }
            });
        });


			var gallery = mui('#slider');
			gallery.slider({
				interval: 0 //自动轮播周期，若为0则不自动播放，默认为0；
			});
		</script>
	</body>

</html>
