{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--下面三个是清除缓存 微信浏览器缓存严重又无刷新；这个方法调试的时候很方便-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>信息登记</title>
    <link href="{%static 'css/mui.min.css'%}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/m_common.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/m_expsubmit_finance.css'%}"/>

</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">信息登记</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				{% csrf_token %}
				<div class="mui-input-row">
					<label>注册手机号</label>
					<input id="telnum" type="text" maxlength=11 placeholder="请输入注册手机号">
				</div>
        <div class="mui-input-row">
          <label>投资金额</label>
          <input type="text" placeholder="请输入投资金额（数字格式）" id="amount">
        </div>
        <div class="mui-input-row">
          <label>投资标期</label>
          <input type="text" placeholder="请输入投资标期" id="term">
        </div>

			</form>
			<div class="mui-input-row beizhu" style="margin: 10px 5px;">
				<p>备注:</p>
				<textarea id="remark" rows="3" placeholder="请输入备注信息（可不填）"></textarea>
			</div>
			<button id="submit_btn" type="button" class="mui-btn mui-btn-blue">确认提交</button>
		</div>
		<script src="{%static 'js/mui.min.js'%}"></script>
		<!--弹窗部分-->
		<script type="text/javascript" charset="utf-8">
				var id = '{{id}}';
				var type = '{{type}}';
		      	mui.init({
					swipeBack:true //启用右滑关闭功能
				});
				document.getElementById("submit_btn").addEventListener('tap', function() {
					var telnum = document.getElementById('telnum').value;
					var remark = document.getElementById('remark').value;
					var amount = document.getElementById('amount').value;
					amount = parseFloat(amount);
					var term = document.getElementById('term').value;
					var re=/^1[1,2,3,4,6,5,7,8,9]\d{9}$/;
					if(!re.test(telnum)){
						mui.alert("手机号格式不正确！");
						return;
					}
					if(isNaN(amount)){
						mui.alert("投资金额必须为数字！")
						return;
					}
					if(!term){
						mui.alert("请输入投资标期！")
						return;
					}
	                var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
					mui.ajax({
						url:"{%url 'expsubmit_finance' %}",
						type:'post',
						data:{
							'type':type,
							'id':id,
							'amount':amount,
							'term':term,
							'telnum':telnum,
							'remark':remark,
							csrfmiddlewaretoken:csrfmiddlewaretoken
						},
						dataType:"json",
						success:function(ret){
							mui.alert(ret.msg);
						},
						error:function(xhr,type,errorThrown){
							alert(type);
						}
					});
				});
		</script>
	{%if back %}
		<script>
		mui.back = function(){
			var history = window.history;
			if (history.length > 3 ){
				history.go(-3);
			}
			else{
				history.back();
			}
		};
		</script>
	{%endif%}
	</body>

</html>
