{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>挖福利-首页</title>
    <link href="{%static 'css/mui.min.css'%}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/m_common.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/m_index.css'%}"/>
</head>
<body>
<!-- <div id="hongbao" class="hongbao-active">
    <div id="img_box" class="img-box">
        <span id="close-hb" class="mui-icon mui-icon-closeempty close-hb"></span>
        <p class="hb-amount">老板，您有红包可拆</p>
        <a id="hb_btn" href="{% url 'Christmas_open_envelope' %}" class="mui-btn mui-btn-yellow hb-btn">点我去拆啦</a>
        <a class="hb-more" href="{% url 'activity_Christmas' %}">去拆更多红包>></a>
    </div>
</div> -->
<div id="pullrefresh" class="mui-scroll-wrapper">

<div class="mui-content">
	<!--banner部分-->
	<div id="slider" class="mui-slider" >
	  <div class="mui-slider-group mui-slider-loop">
	    <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
	    <div class="mui-slider-item mui-slider-item-duplicate">
	      <a href="{{last_adv.url}}">
	        <img src="{{last_adv.mpic.url}}">
	      </a>
	    </div>
		{% for adv in adv_list %}
	    <div class="mui-slider-item">
	      <a href="{{adv.url}}">
	        <img src="{{adv.mpic.url}}">
	      </a>
	    </div>
	    {%endfor%}
	    <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
	    <div class="mui-slider-item mui-slider-item-duplicate">
	      <a href="{{first_adv.url}}">
	        <img src="{{first_adv.mpic.url}}">
	      </a>
	    </div>
	  </div>
	  <div class="mui-slider-indicator">
	    <div class="mui-indicator mui-active"></div>
	    {% for adv in adv_list|slice:":-1" %}
	    <div class="mui-indicator"></div>
	    {%endfor%}
	  </div>
	</div>
	<!--提示消息部分-->
	<div class="news clearfix">
		<span class="fl"><i class="icon iconfont">&#xe607;</i>今日上线福利 <b><number>{{new_wel_num}}</number></b> 个</span>
		<span class="tr fr"><i class="icon iconfont">&#xe622;</i>累计上线福利 <b><number>{{all_wel_num}}</number></b>个</span>
	</div>
	<!--图标导航部分-->
	<div id="nav" class="icon-nav">
        	<ul class="nav-list clearfix">
            	<li>
                	<a href="{% url 'signin' %}">
                    	<i class="icon iconfont ic-01">&#xe645;</i>
                        <span>每日签到</span>
                    </a>
                </li>
            	<li>
                	<a href="{% url 'activity_lottery' %}">
                    	<i class="icon iconfont ic-02">&#xe63e;</i>
                        <span>积分抽奖</span>
                    </a>
                </li>
            	<li>
                	<a href="{% url 'freshman_award' %}">
                    	<i class="icon iconfont ic-03">&#xe8f1;</i>
                        <span>新手奖励</span>
                    </a>
                </li>
            	<li>
                	<a href="{% url 'freshman_award' %}">
                    	<i class="icon iconfont ic-04">&#xe641;</i>
                        <span>推荐有礼</span>
                    </a>
                </li>
            	<li>
                	<a href="{% url 'welfare_list' type='hb' %}">
                    	<i class="icon iconfont ic-05">&#xe657;</i>
                        <span>红包</span>
                    </a>
                </li>
            	<li>
                	<a href="http://fuligou.wafuli.cn/">
                    	<i class="icon iconfont ic-06">&#xe655;</i>
                        <span>福利购</span>
                    </a>
                </li>
            	<li>
                	<a href="{% url 'task' %}">
                    	<i class="icon iconfont ic-07">&#xe6fe;</i>
                        <span>信用卡</span>
                    </a>
                </li>
            	<li id="weixin_btn">
                	<a href="{% url 'APP_download' %}">
                    	<i class="icon iconfont ic-08">&#xe642;</i>
                        <span><number>APP</number>下载</span>
                    </a>
                </li>
            </ul>
    </div>

    <!--今日推荐部分-->
    <div id="today" class="today">
        	<div class="today-tittle">
            	<h3>今日推荐</h3>
            </div>
            <div class="today-img clearfix">
            	<a href="{{adv_today1.url}}" class="ti-left fl"><img src="{{adv_today1.pic.url}}"/></a>
                <a href="{{adv_today2.url}}" class="ti-right fr"><img src="{{adv_today2.pic.url}}"/></a>
                <a href="{{adv_today3.url}}" class="ti-right ti-03 fr"><img src="{{adv_today3.pic.url}}"/></a>
            </div>
    </div>

    <!--选项卡部分-->
    <div id="hot" class="recent today">
    	<div class="today-tittle">
        	<h3>福利精选</h3>
        </div>



        <ul class="mui-table-view">
        {% for wel in last_wel_list %}
            <li class="mui-table-view-cell hongbao">
                <a class="clearfix" href="{{wel.url}}">
                    <img class="hongbao__img" src="{{wel.pic.url}}">
                    <h6 class="hongbao__title">{{wel.title}}<i class="hongbao__tag icon iconfont">&#xe602;</i></h6>
                    <h6 class="hongbao__subtitle">{{wel.subtitle}}</h6>
                    <p class="hongbao__detail">
                        <span class="hongbao__source">{{wel.provider}}</span><span class="hongbao__time">{{wel.time_limit}}</span><span class="hongbao__look">阅读量:{{wel.view_count}}</span>
                    </p>
                </a>
            </li>
		{% endfor %}
        </ul>


	</div>


</div>
    <!--测试-->

</div>
    <!--回到顶部部分-->
    <a id="scrollToTop" class="backTop hide"><i class="icon iconfont">&#xe623;</i></a>
    <!--底部导航-->
	<footer>
    	<ul class="clearfix tc">
        	<li class="on">
            	<a href="{%url 'index'%}">
                <i class="icon iconfont">&#xe649;</i>
            	<span>红包福利</span>
                </a>
            </li>
        	<li>
            	<a href="{%url 'task'%}">
                <i class="icon iconfont">&#xe63f;</i>
            	<span>任务赚</span>
                </a>
            </li>
        	<li>
            	<a href="{%url 'finance'%}">
                <i style="font-size: 2.2rem;" class="icon iconfont">&#xe61f;</i>
            	<span>理财返利</span>
                </a>
            </li>
        	<li>
            	<a href="{%url 'account_index'%}">
                <i class="icon iconfont">&#xe652;</i>
            	<span>个人中心</span>
                </a>
            </li>
        </ul>
   </footer>
   <!--弹出二维码部分-->
    <div id="weixin_bg" class="er-wei-ma-bg">
    </div>
    <div id="weixin_box" class="weixin-box-00">
        <div class="weixin-box">
            <span id="close_01" class="mui-icon mui-icon-closeempty"></span>
            <p>长按识别图中二维码</p>
            <img src="{%static 'images/gongzhong.jpg'%}"/>
            <p>微信公众号_天天挖福利</p>
        </div>
    </div>
    <script src="{%static 'js/mui.min.js'%}"></script>
    <script type="text/javascript" charset="utf-8">
      	mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						auto:true,
						contentrefresh: '正在加载...',
						contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: pullupRefresh
					}
				}
		});
		/**
		 * 上拉加载具体业务实现
		 */
		var count = 0;
		var get_wel_url = "{% url 'welfare_json' %}"
		function get_wel_list(n){
			mui.ajax(get_wel_url,{
				data:{
					count:n,
				},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
//				headers:{'Content-Type':'application/json'},
				success:function(data){
					if (!data.length){
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
					}
					else {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(false); //参数为true代表没有更多数据了。
						var table = document.body.querySelector('.mui-table-view');
//						var cells = document.body.querySelectorAll('.mui-table-view-cell');
						for (var i in data) {
							var wel = data[i];
							var li = document.createElement('li');
							li.className = 'mui-table-view-cell hongbao';
							var str_block = '<a class="clearfix" href="' + wel.url + '"><img class="hongbao__img" src="'+
											wel.picurl + '" /><h6 class="hongbao__title">' + wel.title;
							if (wel.is_hot){
								str_block += '<i class="hongbao__tag icon iconfont">&#xe621;</i>';
							} else if(wel.is_new) {
                                str_block += '<i class="hongbao__tag icon iconfont">&#xe657;</i>';
                            }
							str_block += ' </h6><h6 class="hongbao__subtitle">' + wel.subtitle + '</h6>';
							str_block += '<p class="hongbao__detail">'+
											'<span class="hongbao__source">'+wel.provider+'</span><span class="hongbao__time">'+wel.time_limit+'</span><span class="hongbao__look">阅读量:'+wel.view_count+'</span>'+
											'</p></a>';
							li.innerHTML = str_block;
							table.appendChild(li);
						}
					}

				},
				error:function(xhr,type,errorThrown){
					alert(type);
				}
			});
		}
		function pullupRefresh() {
			if (count == 0){
				mui('#pullrefresh').pullRefresh().scrollTo(0,0);
			}
			get_wel_list(count++);
		}
		mui('.mui-content div').on('tap', 'a', function() {
            var id = this.getAttribute('href');
            mui.openWindow({
                url: this.href,
                styles: {
                    top: 0,
                    bottom: 0
                },
                show: {
                    aniShow: 'slide-in-right',
                },
                waiting: {
                    autoShow: false, //自动显示等待框
                    title: '正在加载...', //等待对话框上显示的提示内容
                }
            });
        });

		var gallery = mui('#slider');
		gallery.slider({
			interval: 4000 //自动轮播周期，若为0则不自动播放，默认为0；
		});
        // 红包活动部分
        // var hongbao = document.getElementById("hongbao"),
        //     close_hb = document.getElementById("close-hb");
        // close_hb.addEventListener("tap",function(){
        //     hongbao.style.display = "none";
        // })
    </script>
    <script type="text/javascript">
        var scrollToTopBox = document.getElementById('scrollToTop'); //返回按钮tap
        scrollToTopBox.addEventListener('tap', function(e) {
            e.stopPropagation();
            mui('#pullrefresh').pullRefresh().scrollTo(0, 0, 500);//滚动到顶部
        });
        document.getElementById('pullrefresh').addEventListener('scrollend', function() {
            if (mui('#pullrefresh').pullRefresh().y <= window.innerHeight * (-0.5) && scrollToTopBox.classList.contains('hide'))
            scrollToTopBox.classList.remove('hide');
            else if (mui('#pullrefresh').pullRefresh().y > window.innerHeight * (-0.5) && !scrollToTopBox.classList.contains('hide'))
            scrollToTopBox.classList.add('hide');
        });
    </script>

</body>
</html>
